﻿ .main-load {
            position: absolute;
            top: 0vh;
            height: 92vh;
            width: 102vw;
            left: -1%;
            background: #ffffffcf;
            overflow: hidden;
            z-index: 1004;
        }


        .wrap-loader {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 13vh;
            background: #fff0;
            top: 33vh;
            left: 50vw;
            position: absolute;
        }

        .loader-box {
            padding: 0px !important;
            min-height: 100px;
            box-shadow: none !important;
            border: 0px !important;
            background: none;
            border-radius: 0px;
            margin: 0px !important;
        }

        .loader {
            position: relative;
            width: 12rem;
            height: 0rem;
        }

            .loader::before {
                z-index: 1;
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: 8.6956521739rem;
                height: 8.6956521739rem;
                background: #fff0;
                border-radius: 50%;
            }

            .loader .loader-box {
                position: absolute;
                width: 10rem;
                height: 0rem;
                overflow: hidden;
                z-index: 1;
            }

                .loader .loader-box::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    opacity: 0.1;
                }

                .loader .loader-box:nth-child(1) {
                    top: -97px;
                    left: -37px;
                }

                    .loader .loader-box:nth-child(1)::before {
                        top: 50%;
                        left: 50%;
                        background: #2a9bd5;
                        -webkit-animation: lightMe1 2s ease-out infinite normal;
                        animation: lightMe1 2s ease-out infinite normal;
                    }

                .loader .loader-box:nth-child(2) {
                    top: -97px;
                    right: -42px;
                }

                    .loader .loader-box:nth-child(2)::before {
                        top: 50%;
                        right: 50%;
                        background: #2a9bd5;
                        -webkit-animation: lightMe2 2s ease-out infinite normal;
                        animation: lightMe2 2s ease-out infinite normal;
                    }

                .loader .loader-box:nth-child(3) {
                    bottom: -102px;
                    left: 62px;
                }

                    .loader .loader-box:nth-child(3)::before {
                        bottom: 50%;
                        right: 50%;
                        background: #2a9bd5;
                        -webkit-animation: lightMe3 2s ease-out infinite normal;
                        animation: lightMe3 2s ease-out infinite normal;
                    }

                .loader .loader-box:nth-child(4) {
                    bottom: -102px;
                    left: -37px;
                }

                    .loader .loader-box:nth-child(4)::before {
                        bottom: 50%;
                        left: 50%;
                        background: #2a9bd5;
                        -webkit-animation: lightMe4 2s ease-out infinite normal;
                        animation: lightMe4 2s ease-out infinite normal;
                    }

            .loader .wrap-text {
                z-index: 2;
                position: absolute;
                top: 2px;
                left: 52%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: 80px;
                height: 80px;
                overflow: hidden;
                background: #b3afae;
                border-radius: 50%;
            }

            .loader .text {
                position: relative;
                width: 80px;
                height: 80px;
                line-height: 80px;
                /-webkit-animation: slider 5s ease-in infinite;
                / animation: slider 5s ease-in infinite;
            }

        .loader-img {
            width: 50px;
        }

        .loader-text {
            color: #fff;
            -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
            letter-spacing: 6px;
            opacity: .2;
            -webkit-animation: blink 0.4s ease-out infinite alternate;
            animation: blink 0.4s ease-out infinite alternate;
        }

        @-webkit-keyframes lightMe1 {
            0% {
                opacity: 0.1;
            }

            25% {
                opacity: 1;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes lightMe1 {
            0% {
                opacity: 0.1;
            }

            25% {
                opacity: 1;
            }

            100% {
                opacity: 1;
            }
        }

        @-webkit-keyframes lightMe2 {
            0% {
                opacity: 0.1;
            }

            25% {
                opacity: 0.1;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes lightMe2 {
            0% {
                opacity: 0.1;
            }

            25% {
                opacity: 0.1;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 1;
            }
        }

        @-webkit-keyframes lightMe3 {
            0% {
                opacity: 0.1;
            }

            50% {
                opacity: 0.1;
            }

            75% {
                opacity: 1;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes lightMe3 {
            0% {
                opacity: 0.1;
            }

            50% {
                opacity: 0.1;
            }

            75% {
                opacity: 1;
            }

            100% {
                opacity: 1;
            }
        }

        @-webkit-keyframes lightMe4 {
            0% {
                opacity: 0.1;
            }

            75% {
                opacity: 0.1;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes lightMe4 {
            0% {
                opacity: 0.1;
            }

            75% {
                opacity: 0.1;
            }

            100% {
                opacity: 1;
            }
        }

        @-webkit-keyframes slider {
            0% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            10.5% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            12.5% {
                -webkit-transform: translateY(-80px);
                transform: translateY(-80px);
            }

            23% {
                -webkit-transform: translateY(-80px);
                transform: translateY(-80px);
            }

            25% {
                -webkit-transform: translateY(-160px);
                transform: translateY(-160px);
            }

            35% {
                -webkit-transform: translateY(-160px);
                transform: translateY(-160px);
            }

            37.5% {
                -webkit-transform: translateY(-240px);
                transform: translateY(-240px);
            }

            47.5% {
                -webkit-transform: translateY(-240px);
                transform: translateY(-240px);
            }

            50% {
                -webkit-transform: translateY(-320px);
                transform: translateY(-320px);
            }

            60% {
                -webkit-transform: translateY(-320px);
                transform: translateY(-320px);
            }

            62.5% {
                -webkit-transform: translateY(-400px);
                transform: translateY(-400px);
            }

            72.5% {
                -webkit-transform: translateY(-400px);
                transform: translateY(-400px);
            }

            75% {
                -webkit-transform: translateY(-480px);
                transform: translateY(-480px);
            }

            85% {
                -webkit-transform: translateY(-480px);
                transform: translateY(-480px);
            }

            87.5% {
                -webkit-transform: translateY(-560px);
                transform: translateY(-560px);
            }

            100% {
                -webkit-transform: translateY(-560px);
                transform: translateY(-560px);
            }
        }

        @keyframes slider {
            0% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            10.5% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            12.5% {
                -webkit-transform: translateY(-80px);
                transform: translateY(-80px);
            }

            23% {
                -webkit-transform: translateY(-80px);
                transform: translateY(-80px);
            }

            25% {
                -webkit-transform: translateY(-160px);
                transform: translateY(-160px);
            }

            35% {
                -webkit-transform: translateY(-160px);
                transform: translateY(-160px);
            }

            37.5% {
                -webkit-transform: translateY(-240px);
                transform: translateY(-240px);
            }

            47.5% {
                -webkit-transform: translateY(-240px);
                transform: translateY(-240px);
            }

            50% {
                -webkit-transform: translateY(-320px);
                transform: translateY(-320px);
            }

            60% {
                -webkit-transform: translateY(-320px);
                transform: translateY(-320px);
            }

            62.5% {
                -webkit-transform: translateY(-400px);
                transform: translateY(-400px);
            }

            72.5% {
                -webkit-transform: translateY(-400px);
                transform: translateY(-400px);
            }

            75% {
                -webkit-transform: translateY(-480px);
                transform: translateY(-480px);
            }

            85% {
                -webkit-transform: translateY(-480px);
                transform: translateY(-480px);
            }

            87.5% {
                -webkit-transform: translateY(-560px);
                transform: translateY(-560px);
            }

            100% {
                -webkit-transform: translateY(-560px);
                transform: translateY(-560px);
            }
        }

        @-webkit-keyframes blink {
            from {
                opacity: .2;
            }

            to {
                opacity: .75;
            }
        }

        @keyframes blink {
            from {
                opacity: .2;
            }

            to {
                opacity: .75;
            }
        }
