    /*
    Flaticon icon font: Flaticon
    Creation date: 22/01/2019 06:55
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-api:before { content: "\f100"; }
.flaticon-admin:before { content: "\f101"; }
.flaticon-chart:before { content: "\f102"; }
.flaticon-analysis:before { content: "\f103"; }
.flaticon-planning:before { content: "\f104"; }
.flaticon-research-1:before { content: "\f105"; }
.flaticon-search:before { content: "\f106"; }
.flaticon-settings:before { content: "\f107"; }
.flaticon-process:before { content: "\f108"; }
.flaticon-research:before { content: "\f109"; }
.flaticon-seo-and-web:before { content: "\f10a"; }
.flaticon-flow-chart:before { content: "\f10b"; }
.flaticon-home:before { content: "\f10c"; }
.flaticon-interactivity:before { content: "\f10d"; }
.flaticon-feature:before { content: "\f10e"; }
.flaticon-stadistics:before { content: "\f10f"; }
.flaticon-flow:before { content: "\f110"; }
    
    $font-Flaticon-api: "\f100";
    $font-Flaticon-admin: "\f101";
    $font-Flaticon-chart: "\f102";
    $font-Flaticon-analysis: "\f103";
    $font-Flaticon-planning: "\f104";
    $font-Flaticon-research-1: "\f105";
    $font-Flaticon-search: "\f106";
    $font-Flaticon-settings: "\f107";
    $font-Flaticon-process: "\f108";
    $font-Flaticon-research: "\f109";
    $font-Flaticon-seo-and-web: "\f10a";
    $font-Flaticon-flow-chart: "\f10b";
    $font-Flaticon-home: "\f10c";
    $font-Flaticon-interactivity: "\f10d";
    $font-Flaticon-feature: "\f10e";
    $font-Flaticon-stadistics: "\f10f";
    $font-Flaticon-flow: "\f110";