	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/01/2019 06:55
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  /*      font-size: 20px;*/
font-style: normal;
/*margin-left: 20px;*/
}

.flaticon-api:before { content: "\f100"; }
.flaticon-admin:before { content: "\f101"; }
.flaticon-chart:before { content: "\f102"; }
.flaticon-analysis:before { content: "\f103"; }
.flaticon-planning:before { content: "\f104"; }
.flaticon-research-1:before { content: "\f105"; }
.flaticon-search:before { content: "\f106"; }
.flaticon-settings:before { content: "\f107"; }
.flaticon-process:before { content: "\f108"; }
.flaticon-research:before { content: "\f109"; }
.flaticon-seo-and-web:before { content: "\f10a"; }
.flaticon-flow-chart:before { content: "\f10b"; }
.flaticon-home:before { content: "\f10c"; }
.flaticon-interactivity:before { content: "\f10d"; }
.flaticon-feature:before { content: "\f10e"; }
.flaticon-stadistics:before { content: "\f10f"; }
.flaticon-flow:before { content: "\f110"; }