﻿<script src="../../scripts/sweetalert.min.js"></script>
<script src=/Views/generatedJS/{JSFileName}></script>
<script src="ApplicationURL.js"></script>

<style>
    .fa-edit {
        color: lightseagreen;
    }

    .fa-trash {
        color: #B71C1C;
    }
     .tab-pane.fade{
        display:none !important;
    }
    .active.in{
        display:block !important;
    }
   
</style>
<section class="content-header">
    <h5 id="PageTitle">
        {Screen Title}

    </h5>
    <tablename style="display:none">{tablename}</tablename>

    <ol class="breadcrumb">
        <!--<li><a href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?Dashboard", 0)'><i class="fa fa-dashboard"></i> <b>Home</b></a></li>
         <li > {BreadCrumb} </li>
        <li class="active"><b>{Screen Title}</b></li>-->
    </ol>
</section>

<!-- Main Section Start -->
<section class="content">
    <ul id="inlineMenu" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" id="ScreenGrid" href=".CRUDGrid" onclick="removeEditTab()">{Screen Title}</a></li>
        {AddNewTab}
        {InsightsTab}
     <!--   <li><a data-toggle="tab" href="#addNew"><i class="fa fa-plus"></i>Add {Screen Title}</a></li>-->
       
    </ul>
    <div  class="tab-pane fade" id="addNew" >
         <form id="SubmitForm">
                        {AddModel}
                
                            <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat">
                                <span class="fa fa-check"></span> Add {Screen Title}
                            </button>
                        
                    </form>
               
    </div>
    <div class="tab-pane fade" id="editRow" >
       
                    <form id="UpdateForm">
                        {EditModel}
                       
                           
                            <button id="UpdateBtn" type="submit"  class="btn btn-primary btn-flat">
                                <span class="fas fa-check "> </span>  Update {Screen Title}
                            </button>
                        
                    </form>
             
    </div>
    <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content" style="width:70%; margin-left: 25%;">


                <div class="modal-header" style="background-color:#f0efef;margin-top:50%">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <p>Are you sure you want to delete this record?</p>
                </div>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                    <p id="deleteId" style="display:none"></p>
                    <p id="deleteName" style="display:none"></p>
					<div class="col-sm-12 btn-pad">
                    <button type="button" class="btn btn-primary btn-flat" style="" onclick="delconfirmFunction()">
                        <span class="fa fa-check"> </span> OK
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fas fa-times"></span> Cancel
                    </button>
</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid trigger_buttons tab-pane fade" id="insights_view">
        
            <div id="KPIRow" class="row" style="margin-bottom:1%;display:none">
                <div id="KPI" class="col-sm-12"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="chart_view" style="display:none;margin-top: 1%;"></div>
                </div>
            </div>
       
    </div>
    <div id="example" class="CRUDGrid tab-pane fade in active">
        
        <table id="grid" class="display" style="width:100%  !important;height:50%"></table>
        <h1 id="feedback"></h1>
    </div>


</section>

<!--<script>
$(document).ready(function(){
    $('#example2').DataTable();
});
    </script>-->
