﻿<script id="KPIRowTemplate" type="text/x-kendo-template">
    <!--<div class='col-sm-12' style="height:100px">
        <h3 class='box-title'>#= Title #</h3>-->
</script>
<script src="ApplicationURL.js"></script>

<script id="KPITemplate" type="text/x-kendo-template">
    <div class="col-lg-3 " style="margin-bottom:1% !important;">
        <div class="small-cardbox #= colorClass #">

            <span class="no col-sm-6" style="font-size:#=font#">#= value #</span>
            <h4 class="some-text col-sm-6">#= Title #</h4>
            <!--<button class="details btn-link show " onclick=''><i class="fa fa-arrow-circle-right"></i> View Details</button>-->
        </div>
    </div>
</script>

<style>
    .k-tooltip {
        color: white !important;
        padding: 5px !important;
    }

    * {
        box-sizing: border-box;
    }

    .dropbtn {
        background-color: transparent;
        padding: 6px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #2980B9 !important;
        }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: -550%;
    }

        .dropdown-content li {
            color: black;
            padding: 0px 16px;
            text-decoration: none;
            display: block;
            cursor: pointer;
        }

            .dropdown-content li:hover {
                background-color: #ddd !important;
            }

    .show {
        display: block;
    }

    .details {
        position: absolute;
        color: #FFF;
        border-radius: 24px;
        bottom: 20px;
        right: 32px;
        /* background: #FFF; */
        padding: 1px 10px;
        text-align: center;
        opacity: 1.1;
    }

    @media only screen and (min-width : 1224px) {
        .some-text {
            word-break: inherit !important;
        }

        .user-card {
            margin-bottom: 9% !important;
        }

        .monitorSelect {
            padding: 0px 0px !important;
            height: 20px;
            font-size: 12px;
        }

        #dateFilterContent {
            width: 33%;
        }
    }
    /*end of 1224 media query*/

    @media screen and (max-width : 1280px) {
        .some-text {
            word-break: inherit !important;
        }

        .user-card {
            margin-bottom: 9% !important;
        }

        .monitorSelect {
            padding: 0px 0px !important;
            height: 20px;
            font-size: 12px;
        }

        #dateFilterContent {
            width: 37%;
        }
    }
    /*end of 1224 media query*/

    @media screen and (min-width : 1366px) {
        #dateFilterContent {
            width: 34%;
        }

        .user-card {
            margin-bottom: 9% !important;
        }
    }
    /*@media only screen and (min-width: 1224px), (min-width: 1280px){
        .some-text{word-break: inherit !important;}
        .user-card{margin-bottom: 9% !important;}
        .monitorSelect{ padding: 0px 0px !important; height: 20px; font-size: 12px;}
        #dateFilterContent{width: 33% !important;}
    }*/ /*end of 1224 media query*/
    .user-card {
        margin-bottom: 6%;
    }

    .small-cardbox {
        margin: 0px;
    }

    #chartTimer {
        float: right;
        border-bottom: 2px solid #dedede !important;
    }

    svg {
        width: 103% !important;
    }
</style>

<script id="chartTemplate" type="text/x-kendo-template">
    <div class='#= ID #_user-card' style="padding-right:5px; display:inline-table;margin-bottom:1% !important; float:left; padding-left:5px;height:#= Height #px; width: #= Width #%; ">
        <div class='box box-primary'>
            <div class='box-header with-border'>
                <h3 class='box-title'>#= Title #</h3>
                <div id='dropdown' class='box-tools pull-right'>
                    <button type='button' id="#=KPI_ID#" class='ChartEditButton fas fa-wrench' onclick="editsettingsFunction(this)" style="background-color: transparent !important"></button>

                </div>

            </div>
            <div class='box-body'>

                <center> <div id="#= ID #" style="width: 100% !important;"></div></center>
                <center><div id="wrongmsg"> <h3 id="WrongMsg#= ID #" style="color:#B71C1C;"> </h3></div></center>
            </div>
        </div>
    </div>
</script>

<script>
    var mycontent= '<label id="kpi" data-toggle="modal" style="cursor:pointer;border-bottom: 1px #f1dddd solid !important;width:100%" data-target="#addModal1"> KPI </label><br><label id="nkpi" style="cursor:pointer" data-toggle="modal" data-target="#addModal2"> NKPI </label>';
    $('#addnew').popover({
        placement : 'bottom',
        html : true,
        content :mycontent,
        trigger: 'manual'
    }).click(function(e) {
        $(this).popover('toggle');
        e.stopPropagation();

    });
    $('html').click(function(e) {
        $('#addnew').popover('hide');
    });
</script>





<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <h5 id="PageTitle">{MonitorTitle}</h5>

    <!--<ul class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Vehicles</a></li>
      <li><a href="#">Vans</a></li>
      <li><a href="#">Camper Vans</a></li>
      <li><a href="#">1989 VW Westfalia Vanagon</a></li>
    </ul>-->

    <ol class="breadcrumb"></ol>
</section>
<br>
<section class="content" style="margin-top:-18px">
    <!-- Info boxes -->
    <div class="modal fade" id="addModal1" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>

                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="SubmitForm1">
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label">ID</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="ID|12" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label" style="display:none">Monitor Screen</label>
                            <div class="col-sm-12">
                                <select size="1" name="Columns" class="form-control select2 selectPortalName" id="PortalName|13" value="Connectors" style="display:none"></select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Title<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" onKeyUp="check()" maxlength="50" name="Columns" id="Title|14" value="" required />
                                <div id="warning" style="color:#B71C1C;font-size:12px">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> Link</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Link|19" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label">Db Instance<span style="color:#B71C1C">*</span></label>
                         <div class="col-sm-12">
                            <select size="1" name="Columns" class="form-control select2 selectDbConnection_Id" id="DbConnection_Id|466" value="" required></select>
                         </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial"><label for="queue" class="col-sm-12 control-label"> Chart Type<span style="color:#B71C1C">*</span></label> 
                        <div class="col-sm-12">
                            <select size="1" name="Columns" class="form-control select2 selectChart_Type" id="Chart_Type|15" value="" required></select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> SQL<span style="color:#B71C1C">*</span></label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" onKeyUp="check1()" maxlength="1000" name="Columns" id="SQL|16" value="" required />
                            <div id="warning1" style="color:#B71C1C;font-size:12px">
                            </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                        <label for="queue" class="col-sm-12 control-label"> Category<span style="color:#B71C1C">*</span></label>
                         <div class="col-sm-12">
                            <input type="text" class="form-control" onKeyUp="check2()" maxlength="50" name="Columns" id="Column_Number|18" value="" required />
                            <div id="warning2" style="color:#B71C1C;font-size:12px">
                             </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                        <label for="queue" class="col-sm-12 control-label"> Value<span style="color:#B71C1C">*</span></label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" onKeyUp="check3()" maxlength="50" name="Columns" id="Row_Number|17" value="" required />
                            <div id="warning3" style="color:#B71C1C;font-size:12px">
                            </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                        <label for="queue" class="col-sm-12 control-label"> Height<span style="color:#B71C1C">*</span></label>
                         <div class="col-sm-12">
                            <input onkeypress="return isNumberKey(event)" class="form-control" name="Columns" id="Height|20" value="300" required />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial"><label for="queue" class="col-sm-12 control-label"> Width<span style="color:#B71C1C">*</span></label>
                         <div class="col-sm-12">
                            <input onkeypress="return isNumberKey(event)" class="form-control" name="Columns" id="Width|21" value="50" required /></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                        <label for="queue" class="col-sm-12 control-label"> Role </label> <div class="col-sm-12">
                            <select size="1" name="Columns" class="form-control select2 selectRole_Id" id="Role_Id|22" value="Admin"></select></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> Preferences</label> 
                        <div class="col-sm-12">
                        <select size="1" name="Columns" class="form-control select2 selectPreferences" id="Preferences|23" value="New"></select>
                        </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> CreateBy</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateBy|24" value="" /></div></div>
                        <div class="form-group col-sm-12" style="display:none">
                        <label for="queue" class="col-sm-12 control-label"> CreateDateTime</label> 
                        <div class="col-sm-12">
                        <input type="text" class="form-control" name="Columns" id="CreateDateTime|25" value="" /></div>
                        </div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> UpdateBy</label> 
                        <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateBy|26" value="" /></div></div>
                        <div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> UpdateDateTime</label> 
                        <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateDateTime|27" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> Status</label>
                         <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Status|28" value="" /></div></div>
                        <div class="col-xs-12 text-right">
						<div class="col-sm-12 btn-pad">
                            <button id="RegisterBtn1" type="submit" class="btn btn-primary btn-flat">
                                <span class="fa fa-plus "></span> Add
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addModal2" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>

                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="SubmitForm2">
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> Id</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="ID|938" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial"><label for="queue" class="col-sm-12 control-label" style="display:none">Monitor Screen</label> 
                        <div class="col-sm-12">
                            <select size="1" name="Columns" class="form-control select2 selectPortalName" id="PortalName|939" style="display:none" value="Bot Monitor" required></select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                        <label for="queue" class="col-sm-12 control-label"> Title<span style="color:#B71C1C">*</span></label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" onKeyUp="check6()" maxlength="50" name="Columns" id="Title|940" value="" required />
                            <div id="warning6" style="color:#B71C1C;font-size:12px"></div></div></div><div class="form-group col-sm-12" style="display:initial"><label for="queue" class="col-sm-12 control-label">Db Instance<span style="color:#B71C1C">*</span></label> <div class="col-sm-12"><select size="1" name="Columns" class="form-control select2 selectDbConnection_Id" id="DbConnection_Id|942" value="6" required></select></div></div>
                        <div class="form-group col-sm-12" style="display:initial"><label for="queue" class="col-sm-12 control-label"> SQL<span style="color:#B71C1C">*</span></label> <div class="col-sm-12"><input type="text" class="form-control" onKeyUp="check7()" maxlength="1000" name="Columns" id="SQL|943" value="" required /><div id="warning7" style="color:#B71C1C;font-size:12px"></div></div></div>
                        <div class="form-group col-sm-12" style="display:initial"><label for="queue" class="col-sm-12 control-label"> Role</label> 
                        <div class="col-sm-12"><select size="1" name="Columns" class="form-control select2 selectRole_Id" id="Role_Id|944" value="1"></select></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> Group</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Group|941" value="" /></div></div>
                        <div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> CreateBy</label>
                         <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateBy|945" value="" />
                        </div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> CreateDatetime</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateDatetime|946" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> UpdateBy</label> <div class="col-sm-12">
                        <input type="text" class="form-control" name="Columns" id="UpdateBy|947" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> UpdateDatetime</label> 
                        <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateDatetime|948" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> Status</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Status|949" value="" /></div></div>
                         <div class="col-xs-12 text-right">
						 <div class="col-sm-12 btn-pad">
                            <button id="RegisterBtn2" type="submit" class="btn btn-primary btn-flat">
                                <span class="fa fa-plus "></span> Add
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-sm-12" style="float:right;">
        <div class="col-sm-10"></div>
        <button type="button" id="addnew" class="btn btn-primary" style="cursor:pointer;float:right;margin-right:20px;margin-bottom: 1%;" data-toggle="popover"><i class="fa fa-plus"></i> Add New</button>
    </div>

    <div id="KPIRow" class="row" style="margin-bottom:1%; padding: 8px;">
        <div id="KPI"></div>

    </div>
    <div class="row" style="margin-top:0%" id="KPI">



    </div>

    <div class='' style="width:100% !important" id="chart_view">

    </div>
    <div id="grid" style="display:none"> </div>
    <div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Edit</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label">ID</label> <div class="col-sm-12"><label class="control-label" name="EditColumns" id="ID|12"></label></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label" style="display:none">Monitor Screen</label> <div class="col-sm-12"><select size="1" name="EditColumns" class="form-control select2 selectPortalName" style="display:none" id="PortalName|13" value="65" required></select></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Title<span style="color:#B71C1C">*</span></label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Title|14" value="ASSETS" required /></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label">Db Instance<span style="color:#B71C1C">*</span></label> <div class="col-sm-12"><select size="1" name="EditColumns" class="form-control select2 selectDbConnection_Id" id="DbConnection_Id|466" value="2" required></select></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Chart Type<span style="color:#B71C1C">*</span></label> <div class="col-sm-12"><select size="1" name="EditColumns" class="form-control select2 selectChart_Type" id="Chart_Type|15" value="Donut" required></select></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> SQL<span style="color:#B71C1C">*</span></label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="SQL|16" value="" required /></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Value<span style="color:#B71C1C">*</span></label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Row_Number|17" value="" required /></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Category<span style="color:#B71C1C">*</span></label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Column_Number|18" value="" required /></div></div>
                        <div style="display:none" class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Link</label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Link|19" value="" /></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Height<span style="color:#B71C1C">*</span></label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Height|20" value="" required /></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Width<span style="color:#B71C1C">*</span></label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Width|21" value="" required /></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Role</label> <div class="col-sm-12"><select size="1" name="EditColumns" class="form-control select2 selectRole_Id" id="Role_Id|22" value="2"></select></div></div>
                        <!--<div  class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Preferences</label> <div class="col-sm-12"><select size="1" name="EditColumns" class="form-control select2 selectPreferences" id="Preferences|23" value="New"></select></div></div>-->
                        <div class="col-xs-12 text-right" style="">
                            <button id="UpdateBtn" type="submit" class="btn btn-primary btn-flat">
                                <span class="fas fa-check "> </span>  Update
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->

<tablename style="display:none">KPI</tablename>
<!-- /.content-wrapper -->
<!-- page script -->


<script src=/Views/generatedMonitors/js/{JsFilename}>


</script>
<style>
    .content {
        height: 80% !important;
    }
</style>
<script>
    function check() {
        document.getElementById('warning2').innerText = ""
        document.getElementById('warning1').innerText = ""
        document.getElementById('warning3').innerText = ""
        stringLength = document.getElementById('Title|14').value.length;
        if (stringLength >= 50) {
            document.getElementById('warning').innerText = "Character Limit Exceeded"
        }
        else {
            document.getElementById('warning').innerText = ""
        }
    }
    function check1() {
        document.getElementById('warning').innerText = ""
        document.getElementById('warning2').innerText = ""
        document.getElementById('warning3').innerText = ""
        stringLength = document.getElementById('SQL|16').value.length;
        if (stringLength >= 1000) {
            document.getElementById('warning1').innerText = "Character Limit Exceeded"
        }
        else {
            document.getElementById('warning1').innerText = ""
        }
    }
    function check2() {
        document.getElementById('warning').innerText = ""
        document.getElementById('warning1').innerText = ""
        document.getElementById('warning3').innerText = ""
        stringLength = document.getElementById('Column_Number|18').value.length;
        if (stringLength >= 50) {
            document.getElementById('warning2').innerText = "Character Limit Exceeded"
        }
        else {
            document.getElementById('warning2').innerText = ""
        }
    }
    function check3() {
        document.getElementById('warning').innerText = ""
        document.getElementById('warning1').innerText = ""
        document.getElementById('warning2').innerText = ""
        stringLength = document.getElementById('Row_Number|17').value.length;
        if (stringLength >= 50) {
            document.getElementById('warning3').innerText = "Character Limit Exceeded"
        }
        else {
            document.getElementById('warning3').innerText = ""
        }

    }
    function check6() {
        document.getElementById('warning7').innerText = ""
        stringLength = document.getElementById('Title|940').value.length;
        if (stringLength >= 50) {
            document.getElementById('warning6').innerText = "Character Limit Exceeded"
        }
        else {
            document.getElementById('warning6').innerText = ""
        }

    }
    function check7() {
        document.getElementById('warning6').innerText = ""
        stringLength = document.getElementById('SQL|943').value.length;
        if (stringLength >= 1000) {
            document.getElementById('warning7').innerText = "Character Limit Exceeded"
        }
        else {
            document.getElementById('warning7').innerText = ""
        }

    }
</script>



