<script src="../../scripts/sweetalert.min.js"></script>
<script src=/Views/generatedJS/Action_Properties_1_2_3_4.js></script>
<section class="content-header">
    <h5 id="PageTitle">
        Action Properties
    </h5>
    <tablename style="display:none">ActionProperties</tablename>
    <ol class="breadcrumb"></ol>
</section>
<!-- Main Section Start -->
<section class="content">
    <div class="modal fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>
                </div>
                <div class="modal-body" style="overflow:hidden">
                    <form id="SubmitForm" data-toggle="validator" role="form">
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> Id</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Id|63" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Name<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control"  maxlength="100" name="Columns" id="Name|64" autocomplete="off" value="" data-validation="required" />
                                <div id="warning" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Description<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control"  maxlength="1000" name="Columns" id="Description|65" autocomplete="off" value=""  data-validation="required"/>
                                <div id="warning1" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-3"> Action<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12"><select size="1" name="Columns" class="form-control select2 selectAction_Id" id="Action_Id|66" value="100" data-validation="required"></select></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Property Type<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <select size="1" name="Columns" class="form-control select2 selectPropertyType" id="PropertyType|1019" value=""></select>
                                <!--<input type="text" class="form-control" maxlength="50" name="Columns" id="PropertyType|67" autocomplete="off" value="" data-validation="required"/>-->
                                <div id="warning2" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> CreateBy</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateBy|68" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> CreateDateTime</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateDatetime|69" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> UpdateBy</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateBy|70" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> UpdateDateTime</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateDatetime|71" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> Status</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Status|72" value="" /></div>
                        </div>
                        <div class="col-xs-12 text-right">
						 <div class="col-sm-12 btn-pad">
                            <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat">
                                <span class="fa fa-plus"></span> Add
                            </button>
                            <button type="button" id="resetform1" class="btn btn-secondary" data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Edit</div>
                </div>
                <div class="modal-body" style="overflow:hidden">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> Id</label>
                            <div class="col-sm-12"><label class=" control-label" name="EditColumns" id="Id|63"></label></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Name<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12"><input type="text" class="form-control"   maxlength="101" name="EditColumns" id="Name|64" autocomplete="off" value="" data-validation="required" />
                                <div id="editwarning1" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Description<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12"><input type="text" class="form-control" maxlength="1001" name="EditColumns" id="Description|65" autocomplete="off" value="" data-validation="required"/>
                                <div id="editwarning2" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Action</label>
                            <div class="col-sm-12">
                            <select size="1" name="EditColumns" class="form-control select2 selectAction_Id" id="Action_Id|66" value="100"></select></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Property Type<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <select size="1" name="EditColumns" class="form-control select2 selectPropertyType" id="PropertyType|1019" value=""></select>
                                    <!--<input type="text" class="form-control"  maxlength="51" name="EditColumns" autocomplete="off" id="PropertyType|67" value="" data-validation="required"/>-->
                                    <div id="editwarning3" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 text-right">
						<div class="col-sm-12 btn-pad">

                            <button id="UpdateBtn" type="submit"  class="btn btn-primary btn-flat">
                                <span class="fas fa-check "> </span>  Update
                            </button>
                            <button type="button" id="resetform2" class="btn btn-secondary"  data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content" style="width:70%; margin-left: 25%;">
                <div class="modal-header" style="background-color:#f0efef;margin-top:50%">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>
                <div class="modal-body" style="overflow:hidden">
                    <p>Are you sure you want to delete this record?</p>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                    <p id="deleteId" style="display:none"></p>
                    <p id="deleteName" style="display:none"></p>
					 <div class="col-sm-12 btn-pad">
                    <button type="button" class="btn btn-primary btn-flat" style="" onclick="delconfirmFunction()">
                        <span class="fa fa-check"> </span> OK
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fas fa-times"></span> Cancel
                    </button>
					</div>
                </div>
            </div>
        </div>
    </div>
    <div id="example" class="CRUDGrid">
        <div class="container-fluid trigger_buttons right-btns">
            <div class="row">
                <!--<div class="col-sm-3">
                   <div class="input-group">
                       <input type = "text" title="Search" id = "Filter" class="form-control search_box pull-right" placeholder="Search" onkeyup="$('#btnFilter').click();">
                   <span class="input-group-btn">
                   <button type = "button" id="btnFilter" class="btn btn-primary btn-search"><i class="fa fa-search"></i></button>
                   </span>

                   </div>
                   </div>-->
                <div class="col-sm-12">
                   <div class="pull-right">
                        <button type="button" disabled class="btn btn-add" onclick="addFunction()"><i class="fa fa-plus"></i>Add New</button>
                        <button type="button" onclick="Insightclick()" insights="" class="btn btn-insight" style="color:#fff" disabled>
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            Insights
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div id="KPIRow" class="row" style="display:none">
                    <div id="KPI" class="col-sm-12"></div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="chart_view" style="display:none;margin-top: 1%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <table id="grid" class="display" style="width:100%  !important;height:50%">
            
        </table>
        <h1 id="feedback"></h1>
    </div>
</section>
<script id="chartTemplate" type="text/x-kendo-template">
    <div class='col-sm-12' style="margin-bottom:8%;height:#= Height #px; width: #= Width #%; ">
        <div class='box box-primary'>
            <div class='box-header with-border'>
                <h3 class='box-title'>#= Title #</h3>
                <!--<div id='dropdown' class='box-tools pull-right'>
                    <button type='button' id="#=KPI_ID#" class='fa fa-ellipsis-v' onclick="editsettingsFunction(this)"></button>

                </div>-->

            </div>
            <div class='box-body'>
                <center> <div id="#= ID #"></div></center>
                <center><h3 id="WrongMsg#= ID #" style="color:#B71C1C;"></h3></center>
            </div>
        </div>
    </div>
</script>
<script id="KPIRowTemplate" type="text/x-kendo-template">
    <!--<div class='col-sm-12' style="height:100px">
        <h3 class='box-title'>#= Title #</h3>-->

</script>
<script id="KPITemplate" type="text/x-kendo-template">
    <div class="col-sm-2 small-cardbox">

        <span class="no col-sm-6">#= value #</span>
        <h4 class="some-text col-sm-6">#= category #</h4>
        <!--<button class="details btn-link show " onclick="loadNKPIDetails(id)"><i class="fa fa-arrow-circle-right"></i> View Details</button>-->
    </div>

</script>
<!--<script>
   $(document).ready(function(){
       $('#example2').DataTable();
   });
       </script>-->
<script>
   function check() {
      document.getElementById('warning2').innerText = ""
      document.getElementById('warning1').innerText = ""
      document.getElementById('editwarning1').innerText = ""
      stringLength = document.getElementById('Name|64').value.length;
      var str1 = $('[name="EditColumns"]')[1].value.length;
      if ((stringLength >= 100)||(str1>100)) {
          document.getElementById('warning').innerText = "Character Limit Exceeded"
          document.getElementById('editwarning1').innerText = "Character Limit Exceeded"
      }
      else {
          document.getElementById('warning').innerText = ""
      }
   }
   function check1() {
       
       document.getElementById('warning').innerText = ""
       document.getElementById('warning2').innerText = ""
       document.getElementById('editwarning2').innerText = ""
       stringLength = document.getElementById('Description|65').value.length;
       var str2 = $('[name="EditColumns"]')[2].value.length;
       if ((stringLength >= 1000)||(str2>1000)){
           document.getElementById('warning1').innerText = "Character Limit Exceeded"
           document.getElementById('editwarning2').innerText = "Character Limit Exceeded"
       }
       else {
           document.getElementById('warning1').innerText = ""
       }
   }
   function check2() {
       
       document.getElementById('warning').innerText = ""
       document.getElementById('warning1').innerText = ""
       document.getElementById('warning2').innerText = ""
       document.getElementById('editwarning3').innerText = ""
       stringLength = document.getElementById('PropertyType|1019').value.length;
       var str3 = $('[name="EditColumns"]')[4].value.length;
       if ((stringLength >= 50)||(str3>50)) {
           document.getElementById('warning2').innerText = "Character Limit Exceeded"
           document.getElementById('editwarning3').innerText = "Character Limit Exceeded"
       }
       else {
           document.getElementById('warning2').innerText = ""
       }
   }
</script>
<script>
    $('#resetform1').click(function () {
        $('#SubmitForm')[0].reset();
    });
    $('.close').click(function () {
        $('#SubmitForm')[0].reset();
    });
    $('#resetform2').click(function () {
        $('#UpdateForm')[0].reset();
    });
    $('.close').click(function () {
        $('#UpdateForm')[0].reset();
    });
</script>

<script>
    $.validate({
        form: '#SubmitForm,#UpdateForm'

    });

    // Restrict presentation length


</script>