﻿<script src="/Views/generatedJS/Configuration_1_4.js"></script>
  <style>
   #example #grid_filter {
    position: relative;
    top:0px;

}

   </style>
    
             <section class="content-header">
    <h5 id="PageTitle">
        Configuration

    </h5>
    <tablename class="display-none">Configuartion</tablename>
    <ol class="breadcrumb">
        
    </ol>
</section>


<section class="content">
    <ul class="config-icons no-padding">
        <li id="general"  onclick="filterGrid(this)">
            <i title="General" class="fas fa-cog active"><span class="config-text">General</span></i>

        </li>
        <li id="ldap"  onclick="filterGrid(this)">
            <i title="LDAP" class="fa fa-server"><span class="config-text">LDAP</span></i>
   
        </li>
        <li id="email"  onclick="filterGrid(this)">
            <i title="Email" class="fa fa-envelope-open"><span class="config-text">Email</span></i>
      
        </li>
    </ul>
   



    <button type="button" class="btn btn-primary btn-flat float-right display-none" data-toggle="modal" data-target="#addModal"><span class="fa fa-plus-square-o"></span>  Add New Record</button>

    <div class="modal fade modal-fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header header-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>

                </div>

                <div class="modal-body body-modal">
                    <form>
                        <div class="form-group col-sm-12 display-none">
                            <label for="queue" class="col-sm-12 control-label"> ID</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="ID|272" value="" /></div>
                        </div><div class="form-group col-sm-12 display-initial">
                            <label for="queue" class="col-sm-12 control-label"> Name</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Name|273" value="" /></div>
                        </div><div class="form-group col-sm-12 display-initial"><label for="queue" class="col-sm-12 control-label"> Description</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Description|274" value="" /></div></div><div class="form-group col-sm-12 display-initial"><label for="queue" class="col-sm-12 control-label"> Value</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Value|275" value="" /></div></div><div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-12 control-label"> CreateBy</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateBy|276" value="" /></div></div><div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-12 control-label"> CreateDatetime</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateDatetime|277" value="" /></div></div><div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-12 control-label"> UpdateBy</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateBy|278" value="" /></div></div><div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-12 control-label"> UpdateDatetime</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateDatetime|279" value="" /></div></div><div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-12 control-label"> Status</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Status|280" value="" /></div></div><div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-12 control-label">Type</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Type|789" value="" /></div></div>
                    </form>
                </div> 

                <div class="modal-footer">
				 <div class="col-sm-12 btn-pad">
                    <button type="button" class="btn btn-primary btn-flat" onclick="addFunction()">
                        <span class="fa fa-plus "></span> Add
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fas fa-times"></span> Cancel
                    </button>
</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header header-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Edit</div>
                </div> 

                <div class="modal-body body-modal">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> ID</label> <div class="col-sm-12">
                                <label class="control-label" name="EditColumns" id="ID|272"></label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Name</label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Name|273" value="" /></div></div><div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Description</label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Description|274" value="" /></div></div><div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Value</label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Value|275" value="" /></div></div><div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label">Type</label> <div class="col-sm-12" ><input type="text" class="form-control" name="EditColumns" id="Type|789" value="" /></div></div>
                        <div class="col-xs-12 text-right">
						<div class="col-sm-12 btn-pad">

                            <button id="UpdateBtn" type="submit"  class="btn btn-primary btn-flat">
                                <span class="fas fa-check "> </span>  Update
                            </button>
                            <button type="button" class="btn btn-secondary"  data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content con-modal">


                <div class="modal-header header-modal mar-top">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>

                <div class="modal-body body-modal">
                    <p>Are you sure you want to delete this record?</p>
                </div>

                <div class="modal-footer">
				<p id="deleteId" class="display-none"></p>
                    <p id="deleteName" class="display-none"></p>
					 <div class="col-sm-12 btn-pad">
                    <button type="button" class="btn btn-primary btn-flat" onclick="delconfirmFunction()">
                        <span class="fa fa-check"> </span> OK
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fas fa-times"></span>Cancel
                    </button>
</div>
                </div>
            </div>
        </div>
    </div>
    <div id="example" class="CRUDGrid">
        <table id="grid" class="display" style="width:100%  !important;height:50%"> </table>
        <h1 id="feedback"></h1>
    </div>
</section>





