<script src="../../scripts/sweetalert.min.js"></script>

<script src=/Views/generatedJS/Connection_Explorer_1_4.js></script>
<style>
    .fa-edit {
        color: lightseagreen;
    }

    .fa-trash {
        color: #B71C1C;
    }
</style>
<section class="content-header">
    <h5 id="PageTitle">
        Connection Explorer

    </h5>
    <tablename style="display:none">ConnectionConfig</tablename>

    <ol class="breadcrumb">
        <!--<li><a href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?Dashboard", 0)'><i class="fa fa-dashboard"></i> <b>Home</b></a></li>
         <li > {BreadCrumb} </li>
        <li class="active"><b>Connection Explorer</b></li>-->
    </ol>
</section>

<!-- Main Section Start -->
<section class="content">

    <div class="modal fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>

                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="SubmitForm" data-toggle="validator" role="form">
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-3"> ID</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="ID|1816" data-validation="required" value="" />
                            </div>
                        </div><div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-3"> Connection Name<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="connectionname|1817" value="" data-validation="required" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-3"> Connection Type<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <select size="1" name="Columns" class="form-control select2 selectconnectiontype" id="connectiontype|1818" value="" data-validation="required" autocomplete="off"></select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-3"> Host Name<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="hostname|1819" value="" data-validation="required" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-3">
                                Username
                            </label> <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="username|1820" value="" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-3"> Password</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" name="Columns" id="password|1821" value="" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-3"> Port</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="port|1822" value="" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-3"> authenticationtype</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="authenticationtype|1823" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-3"> Createby</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="CreateBy|1824" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-3"> CreateDatetime</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="CreateDatetime|1825" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-3"> Updateby</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="UpdateBy|1826" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-3"> UpdateDatetime</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="UpdateDatetime|1827" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-3"> Status</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Status|1828" value="" />
                            </div>
                        </div>
                        <!--<div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-3"> Connection_Status</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Connection_Status" value="" />
                            </div>
                        </div>-->
                        <div class="col-xs-12 text-right">
                            <div class="col-sm-12 btn-pad">
                                <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat">
                                    <span class="fa fa-check"></span>Add
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="resetform1">
                                    <span class="fas fa-times"></span>Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Edit</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> ID</label>
                            <div class="col-sm-12">
                                <label class=" control-label" name="EditColumns" id="ID|1816"></label>
                            </div>
                        </div><div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Connection Name<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="connectionname|1817" value="" data-validation="required" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Connection Type<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <select size="1" name="EditColumns" class="form-control select2 selectconnectiontype" id="connectiontype|1818" value="" data-validation="required" autocomplete="off"></select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Host Name<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="hostname|1819" value="" data-validation="required" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Username</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="username|1820" value="" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Password</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" name="EditColumns" id="password|1821" value="" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Port</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="port|1822" value="" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> authenticationtype<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="authenticationtype|1823" value="" data-validation="required" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-xs-12 text-right">
                            <div class="col-sm-12 btn-pad">
                                <button id="UpdateBtn" type="submit" class="btn btn-primary btn-flat">
                                    <span class="fas fa-check "> </span>  Update
                                </button>
                                <button type="button" class="btn btn-secondary" id="resetform2" data-dismiss="modal">
                                    <span class="fas fa-times"></span> Cancel
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content" style="width:70%; margin-left: 25%;">


                <div class="modal-header" style="background-color:#f0efef;margin-top:50%">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <p>Are you sure you want to delete this record?</p>
                </div>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                    <p id="deleteId" style="display:none"></p>
                    <p id="deleteName" style="display:none"></p>
					 <div class="col-sm-12 btn-pad">
                    <button type="button" class="btn btn-primary btn-flat" style="" onclick="delconfirmFunction()">
                        <span class="fa fa-check"> </span> OK
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="resetform2">
                        <span class="fas fa-times"></span> Cancel
                    </button>
</div>
                </div>
            </div>
        </div>
    </div>
    <div id="example" class="CRUDGrid">
        <div class="container-fluid trigger_buttons right-btns">
            <div class="row">


                <!--<div class="col-sm-3">
                    <div class="input-group">
                        {FilterHTML}
                    </div>
                </div>-->

                <div class="col-sm-12">
                   <div class="pull-right">
                        <button type="button" class="btn btn-add" onclick="addFunction()"><i class="fa fa-plus"></i>Add New</button>
                        <button type = "button" id="Insights" onclick = "Insightclick()" insights="None" class="btn btn-insight" style="color:#fff" disabled><i class="fa fa-bar-chart" aria-hidden="true"></i> Insights</button>
                    </div>
                </div>
            </div>
            <div id="KPIRow" class="row" style="margin-bottom:1%;display:none">
                <div id="KPI" class="col-sm-12"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="chart_view" style="display:none;margin-top: 1%;"></div>
                </div>
            </div>

        </div>
        <table id="grid" class="display" style="width:100%  !important;height:50%"></table>
        <h1 id="feedback"></h1>
    </div>


</section>
<script>
    $.validate({
        form: '#SubmitForm,#UpdateForm,#CreateForm'

    });
    $('#resetform1').click(function () {
        $('#SubmitForm')[0].reset();
    });
    $('.close').click(function () {
        $('#SubmitForm')[0].reset();
    });
    $('#resetform2').click(function () {
        $('#UpdateForm')[0].reset();
    });
    $('.close').click(function () {
        $('#UpdateForm')[0].reset();
    });
</script>
<!--<script>
$(document).ready(function(){
    $('#example2').DataTable();
});
    </script>-->

