<script src="../../scripts/sweetalert.min.js"></script>
   
    <script src=/Views/generatedJS/Department_1_4.js></script>
           <section class="content-header">
    <h5 id="PageTitle">
        Department

    </h5>
    <tablename style="display:none">Department</tablename>
    <ol class="breadcrumb">
        
    </ol>
</section>

<!-- Main Section Start -->
<section class="content">

    <div class="modal fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>

                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="SubmitForm" data-toggle="validator" role="form">
                        <div class="form-group col-sm-12" style="display:none">
                        <label for= "queue" class="col-sm-12 control-label"> ID</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="ID|450" value=""/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" >
                        <label for= "queue" class="col-sm-3"> Name <span style="color:#B71C1C">*</span></label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="Name|451" value="" data-validation="required"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                        <label for= "queue" class="col-sm-12 control-label"> Description</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="Description|452" value=""/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                        <label for= "queue" class="col-sm-12 control-label"> CreateBy</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="CreateBy|453" value=""/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                        <label for= "queue" class="col-sm-12 control-label"> CreateDatetime</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="CreateDatetime|454" value=""/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                        <label for= "queue" class="col-sm-12 control-label"> UpdateBy</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="UpdateBy|455" value=""/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                        <label for= "queue" class="col-sm-12 control-label"> UpdateDatetime</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="UpdateDatetime|456" value=""/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                        <label for= "queue" class="col-sm-12 control-label"> Status</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="Status|457" value=""/>
                            </div>
                        </div>
                        <div class="col-xs-12 text-right">  
						 <div class="col-sm-12 btn-pad">
                            <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat">
                                <span class="fa fa-check-square-o "></span> Add
                            </button>                         
                            <button type="button" class="btn" id="resetform1" data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Edit</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12" style="display:none">
                        <label for= "queue" class="col-sm-12 control-label"> ID</label> 
                        <div class="col-sm-12">
                            <label class=" control-label" name="EditColumns" id="ID|450"></label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                        <label for= "queue" class="col-sm-3"> Name</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="EditColumns" id="Name|451" value="" data-validation="required"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                        <label for= "queue" class="col-sm-12 control-label"> Description</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="EditColumns" id="Description|452" value=""/>
                            </div>
                        </div>
                        <div class="col-xs-12 text-right">
						<div class="col-sm-12 btn-pad">
                           <button id="UpdateBtn" type="submit"  class="btn btn-primary btn-flat">
                                <span class="fas fa-check"> </span>  Update
                            </button>                           
                            <button type="button" id="resetform2" class="btn btn-secondary" data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                           </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content" style="width:70%; margin-left: 25%;">


                <div class="modal-header" style="background-color:#f0efef;margin-top:50%">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <p>Are you sure you want to delete this record?</p>
                </div>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                    <p id="deleteId" style="display:none"></p>
                    <p id="deleteName" style="display:none"></p>
					 <div class="col-sm-12 btn-pad">
                    <button type="button" class="btn btn-primary btn-flat" style="" onclick="delconfirmFunction()">
                        <span class="fa fa-check "> </span> OK
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fas fa-times"></span> Cancel
                    </button>
</div>
                </div>
            </div>
        </div>
    </div>
    <div id="example" class="CRUDGrid">
        <div class="container-fluid trigger_buttons right-btns">
            <div class="row">


                <!--<div class="col-sm-3">
                    <div class="input-group">
                        <input type = "text" title="Search" id = "Filter" class="form-control search_box pull-right" placeholder="Search" onkeyup="$('#btnFilter').click();">
<span class="input-group-btn">
<button type = "button" id="btnFilter" class="btn btn-primary btn-search"><i class="fa fa-search"></i></button>
</span>

                    </div>
                </div>-->

                <div class="col-sm-12">
                   <div class="pull-right">
                        

                        <button type="button" onclick="Insightclick()" insights="" class="btn btn-insight" style="color:#fff" disabled>
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            Insights
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div id="KPIRow" class="row" style="display:none">
                    <div id="KPI" class="col-sm-12"></div>
                    
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="chart_view" style="display:none;margin-top: 1%;"></div>
                    </div>
                </div>
            </div>
        </div>
       
        <table id="grid" class="display" style="width:100%  !important;height:50%">
            
        </table>
            <h1 id="feedback"></h1>
        
    </div>
</section>

   
<script>
    $.validate({
        form: '#SubmitForm,#UpdateForm'

    });

    // Restrict presentation length


</script>
   
    <!--<script>
    $(document).ready(function(){
        $('#example2').DataTable();
    });
        </script>-->

<script>
    $('#resetform1').click(function () {
        $('#SubmitForm')[0].reset();
    });
    $('.close').click(function () {
        $('#SubmitForm')[0].reset();
    });
    $('#resetform2').click(function () {
        $('#UpdateForm')[0].reset();
    });
    $('.close').click(function () {
        $('#UpdateForm')[0].reset();
    });
</script>

