﻿<script src="../../scripts/sweetalert.min.js"></script>

<script src="/Views/generatedJS/Email_Template_1_4.js"></script>

<style>
    .textarea-container {
        position: relative;
    }

        .textarea-container textarea {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }

        .textarea-container div {
            position: relative;
            bottom: 0;
            /*left: 0;*/
        }
    .sysvar {
        background-color: lightgray;
        color: black;
        padding: 5px 10px;
        margin: 2px 1px;
        text-align: center;
    }
    .appvar {
        background-color: white;
        color: dodgerblue;
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h5 id="PageTitle">
        Email

    </h5>
    <tablename class="display-none">EmailTemplate</tablename>
    <ol class="breadcrumb"></ol>
</section>

<!-- Main Section Start -->
<section class="content">

    <div class="modal fade modal-fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header header-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>
                </div>

                <div class="modal-body body-modal">
                    <form id="SubmitForm" data-toggle="validator" role="form">
                        <div class="form-group col-sm-12 display-none">
                            <label for="queue" class="col-sm-12 control-label"> ID</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="ID|156" maxlength="10" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">

                            <label for="queue" class="col-sm-3"> Subject<span class="star">*</span></label>
                            <div class="col-sm-12">


                                <div id="counter" class="counter">
                                </div>
                                <input type="text" class="form-control" maxlength="150" name="Columns" id="Subject|157" autocomplete="off" data-validation="required" />
                                <!--<div class="c1" id="count"></div>-->
                            </div>
                        </div>
                        <div class="form-group col-sm-12 display-initial"><label for="queue" class="col-sm-12 control-label"> Type</label> <div class="col-sm-12"><select size="1" name="Columns" class="form-control select2" id="Type|159"></select></div></div>
                        <div class="form-group col-sm-12 display-initial">
                            <label for="queue" class="col-sm-12 control-label"> Body</label> <div class="col-sm-12">
                                <div class="col-sm-12 textarea-container">
                                    <textarea rows="10" class="form-control" maxlength="10000" name="Columns" autocomplete="off" id="Body|158"></textarea>
                                    <div id="var" name="Columns"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 display-initial"><label for="queue" class="col-sm-12 control-label"> Active</label> <div class="col-sm-12"><label class="robot_check"><input type="checkbox" name="Columns" autocomplete="off" id="Active|160" /><span class="rb_checkmark"></span></label></div></div>
                        <div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-12 control-label"> CreateBy</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateBy|161" /></div></div>
                        <div class="form-group col-sm-12 display-initial" style="display:none"><label for="queue" class="col-sm-12 control-label"> Create Date and Time</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateDatetime|162" /></div></div>
                        <div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-12 control-label"> UpdateBy</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateBy|163" /></div></div>
                        <div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-12 control-label"> UpdateDatetime</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateDatetime|164" /></div></div>
                        <div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-12 control-label"> Status</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Status|165" /></div></div>
                        <div class="col-xs-12 text-right">
                            <div class="col-sm-12 btn-pad">
                                <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat">
                                    <span class="fa fa-plus "></span> Add
                                </button>
                                <button type="button" id="resetform1" class="btn btn-secondary" data-dismiss="modal">
                                    <span class="fas fa-times"></span>Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header header-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Edit</div>
                </div>

                <div class="modal-body body-modal">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> ID</label>
                            <div class="col-sm-12">
                                <label class="control-label" name="EditColumns" id="ID|156"></label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Subject<span class="star">*</span></label>   <div class="col-sm-12">
                                <input type="text" class="form-control" maxlength="150" name="EditColumns" id="Subject|157" autocomplete="off" data-validation="required" />
                                <!--<div class="c1" id="d1"></div>-->

                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Type</label>
                            <div class="col-sm-12">
                                <select size="1" name="EditColumns" class="form-control select2" id="Type|159"></select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Body</label> <div class="col-sm-12">
                                <div class="col-sm-12 textarea-container">
                                    <textarea rows="10" class="form-control" maxlength="1000" name="EditColumns" autocomplete="off" id="Body|158"></textarea>
                                    <div id="var" name="EditColumns"></div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Type</label>
                            <div class="col-sm-12">
                                <select size="1" name="EditColumns" class="form-control select2" id="Type|159"></select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Body</label> <div class="col-sm-12">
                                <div class="col-sm-12 textarea-container">
                                    <textarea rows="10" class="form-control" maxlength="10000" name="Columns" autocomplete="off" id="Body|158"></textarea>
                                    <div id="var"></div>
                                </div>
                            </div>
                        </div>-->


                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Active</label> <div class="col-sm-12">
                                <label class="robot_check"><input type="checkbox" class="check" name="EditColumns" id="Active|160" autocomplete="off" /><span class="rb_checkmark"></span></label>
                            </div>
                        </div>
                        <div class="col-xs-12 text-right">
                            <div class="col-sm-12 btn-pad">
                                <button id="UpdateBtn" type="submit" class="btn btn-primary btn-flat">
                                    <span class="fas fa-check"> </span>  Update
                                </button>
                                <button type="button" id="resetform2" class="btn btn-secondary" data-dismiss="modal">
                                    <span class="fas fa-times"></span> Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <div class="modal fade modal-fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content con">


                <div class="modal-header header-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>

                <div class="modal-body body-modal">
                    <p>Are you sure you want to delete this record?</p>
                </div>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                    <p id="deleteId" class="display-none"></p>
                    <p id="deleteName" class="display-none"></p>
                    <div class="col-sm-12 btn-pad">
                        <button type="button" class="btn btn-primary btn-flat" onclick="delconfirmFunction()">
                            <span class="fa fa-check"> </span> OK
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <span class="fas fa-times"></span> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="example" class="CRUDGrid">
        <div class="container-fluid trigger_buttons right-btns">
            <div class="row">


                <!--<div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" title="Search" id="Filter" class="form-control search_box pull-right" placeholder="Search" onkeyup="$('#btnFilter').click();">
                        <span class="input-group-btn">
                            <button type="button" id="btnFilter" class="btn btn-primary btn-search"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>-->

                <div class="col-sm-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-add" onclick="addFunction()"><i class="fa fa-plus"></i>Add New</button>

                        <button type="button" onclick="Insightclick()" insights="" class="btn btn-insight" disabled>
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            Insights
                        </button>
                    </div>
                </div>
            </div>


        </div>
        <table id="grid" class="display table-id-grid">
            <!--<thead>
                <tr>
                    <th>ID </th>
                    <th>Subject </th>
                    <th>Body </th>
                    <th>Type </th>
                    <th>Active </th>
                    <th>Action</th>
                </tr>
            </thead>-->
        </table>
        <h1 id="feedback"></h1>
    </div>
</section>

<!-- /.content-wrapper -->
<!--<script>
$(document).ready(function(){
    $('#example2').DataTable();
});
    </script>-->
<!--<script>
    $(function () {
        $($("[name='Columns']")[1]).MaxLength(
          {
              MaxLength: 150,
              CharacterCountControl: $('#count')
          });
        $($("[name='Columns']")[2]).MaxLength(
          {
              MaxLength: 1000,
              CharacterCountControl: $('#count1')
          });
        $($("[name='EditColumns']")[1]).MaxLength(
          {
              MaxLength: 150,
              CharacterCountControl: $('#d1')
          });
        $($("[name='EditColumns']")[2]).MaxLength(
          {
              MaxLength: 1000,
              CharacterCountControl: $('#d2')
          });
    })
</script>-->
<script>
    $('#resetform1').click(function () {
        $('#SubmitForm')[0].reset();
    });
    $('.close').click(function () {
        $('#SubmitForm')[0].reset();
    });
    $('#resetform2').click(function () {
        $('#UpdateForm')[0].reset();
    });
    $('.close').click(function () {
        $('#UpdateForm')[0].reset();
    });
</script>
<script>
    $.validate({
        form: '#SubmitForm,#UpdateForm'

    });

    // Restrict presentation length


</script>   