<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="../../scripts/sweetalert.min.js"></script>
<style>

    #StepPropertiesDetails {
        margin-top: 15%;
        height: 10% !important;
        border-bottom: 3px solid #efefef;
        border-left: 3px solid #efefef;
        border-top: 3px solid #efefef;
        border-right: 3px solid #efefef;
        box-shadow: inherit;
    }

    .btn-success {
        background-color: #ffffff00;
            color: #36a65a;
    }

        .btn-success:hover {
            color: #2d8c4c;
            background-color: #ffffff00;
        }

    .btn-danger {
        color: #dd4a39;
         background-color: #ffffff00;
    }
        .btn-danger:hover {
            color: #c52e1b;
             background-color: #ffffff00;
        }

</style>

<script src=/Views/generatedJS/Inbox_1_4.js></script>
<section class="content-header">
    <h5 id="PageTitle">
        Inbox

    </h5>
    <tablename style="display:none">Inbox</tablename>

    <ol class="breadcrumb">
        <!--<li><a href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?Dashboard", 0)'><i class="fa fa-dashboard"></i> <b>Home</b></a></li>
         <li > {BreadCrumb} </li>
        <li class="active"><b>Inbox</b></li>-->
    </ol>
</section>

<!-- Main Section Start -->
<section class="content">

    <div class="modal fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>

                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="SubmitForm">
                        <div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> ID</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="ID|1016" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> Robot</label> <div class="col-sm-12"><select size="1" name="Columns" class="form-control select2 selectRobotId" id="RobotId|1017" value="179"></select></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> Description</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Description|1018" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> Step</label> <div class="col-sm-12"><select size="1" name="Columns" class="form-control select2 selectStepId" id="StepId|1019" value="19"></select></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label">Status</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="MsgStatus|1020" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> Action</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Action|1021" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> CreateBy</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateBy|1022" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> CreateDatetime</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateDatetime|1023" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> UpdateBy</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateBy|1024" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> UpdateDatetime</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateDatetime|1025" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> Status</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Status|1026" value="" /></div></div>
                        <div class="col-xs-12 text-right">
                             <div class="col-sm-12 btn-pad">
                            <button type="button" class="btn" data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                            <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat">
                                <span class="fa fa-check-square-o "></span> Add
                            </button>
							</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Edit</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> ID</label> <div class="col-sm-12"><label class="control-label" name="EditColumns" id="ID|1016"></label></div></div><div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Robot</label> <div class="col-sm-12"><select size="1" name="EditColumns" class="form-control select2 selectRobotId" id="RobotId|1017" value="179"></select></div></div><div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Description</label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Description|1018" value="" /></div></div><div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Step</label> <div class="col-sm-12"><select size="1" name="EditColumns" class="form-control select2 selectStepId" id="StepId|1019" value="19"></select></div></div><div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label">Status</label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="MsgStatus|1020" value="" /></div></div><div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> CreateBy</label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="CreateBy|1022" value="" {Mandatory} /></div></div><div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> CreateDatetime</label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="CreateDatetime|1023" value="" {Mandatory} /></div></div>
                        <div class="col-xs-12 text-right">
						<div class="col-sm-12 btn-pad">
                            <button id="UpdateBtn" type="submit" class="btn btn-primary col-sm-2 btn-flat">
                                <span class="fa fa-check-square-o "> </span>  Update
                            </button>
                            <button type="button" class="btn " style="float:left" data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content" style="width:70%; margin-left: 25%;">


                <div class="modal-header" style="background-color:#f0efef;margin-top:50%">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <p>Are you sure you want to delete this record?</p>
                </div>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                    <p id="deleteId" style="display:none"></p>
                    <p id="deleteName" style="display:none"></p>
					 <div class="col-sm-12 btn-pad">
                    <button type="button" class="btn btn-primary btn-flat" style="" onclick="delconfirmFunction()">
                        <span class="fa fa-check-square-o "> </span>OK
                    </button>
                    <button type="button" class="btn" data-dismiss="modal">
                        <span class="fas fa-times"></span>Cancel
                    </button>
</div>
                </div>
            </div>
        </div>
    </div>
    <div id="example" class="CRUDGrid">
        <div class="container-fluid trigger_buttons right-btns">
            <div class="row" id="InsightDiv">


                <!--<div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" id="Filter" class="form-control search_box pull-right" placeholder="Search" style="display:none">
                        <span class="input-group-btn">
                            <button type="button" id="btnFilter" class="btn btn-primary btn-lg" style="display:none"><i class="fa fa-search"></i></button>
                        </span>
  <input type="checkbox" id="toggleButton" checked data-toggle="toggle" >
                    </div>
                </div>-->

                <div class="col-sm-12">
                   <div class="pull-right">

                        <button type="button" id="Insights" onclick="Insightclick()" insights="" class="btn btn-insight" style="color:#fff" disabled><i class="fa fa-bar-chart" aria-hidden="true"></i> Insights</button>
                    </div>
                </div>
            </div>
            <div class="row" id="BackButton" style="display:none" onclick="BackClick()">
                <button type="button" id="" onclick="Insightclick()" insights="" class="btn btn-primary"> Back</button>
            </div>
            <div id="KPIRow" class="row" style="margin-bottom:1%;display:none">
                <div id="KPI" class="col-sm-12"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="chart_view" style="display:none;margin-top: 1%;"></div>
                </div>
            </div>

        </div>
        <table id="grid" class="display" style="width:100%  !important;height:50%">
           
        </table>
        <h1 id="feedback"></h1>
        <form id="detailsForm">
            <div id="DetailsDiv" class="col-sm-12" style="display:none;border-top:1px solid #efefef">
                <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label">ID:</label> <div class="col-sm-12"><label class="control-label" id="IDLabel">1</label></div></div>
                <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label">Robot:</label> <div class="col-sm-12"><label class="control-label" id="RobotLabel">1</label></div></div>
                <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label">Step:</label> <div class="col-sm-12"><label class="control-label" id="StepLabel">1</label></div></div>
            </div>
            <div id="StepPropertiesDetails" class="col-sm-12" style="display:none">
                <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label">Title</label> <div class="col-sm-12"><label class="control-label" id="TitleLabel">1</label></div></div>
                <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label">Display Name</label> <div class="col-sm-12"><label class="control-label" id="DisplayNameLabel">1</label></div></div>
                <div class="form-group col-sm-12" id="InputDiv1">
                    <label for="queue" class="col-sm-12 control-label" id="InputLabel1">Enter Name</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="InputValue1" variable="input" required />
                    </div>
                </div>
            </div>
            <div id="buttonsDiv" class="col-sm-12" style="display:none;">
                <button id="SubmitButton" type="submit" class="btn btn-primary btn-flat" style="float:right" onclick="SubmitClick()">
                    <span class=""></span> Submit
                </button>
                <button id="CancelButton" class="btn btn-primary btn-flat" style="float:right;margin-right:10px !important;">
                    <span class=""></span> Cancel
                </button>
            </div>
        </form>
    </div>
</section>
<script id="chartTemplate" type="text/x-kendo-template">
    <div class='col-sm-12' style="margin-bottom:8%;height:#= Height #px; width: #= Width #%; ">
        <div class='box box-primary'>
            <div class='box-header with-border'>
                <h3 class='box-title'>#= Title #</h3>
                <!--<div id='dropdown' class='box-tools pull-right'>
                    <button type='button' id="#=KPI_ID#" class='fa fa-ellipsis-v' onclick="editsettingsFunction(this)"></button>

                </div>-->

            </div>
            <div class='box-body'>
                <center> <div id="#= ID #"></div></center>
                <center><h3 id="WrongMsg#= ID #" style="color:#B71C1C;"></h3></center>
            </div>
        </div>
    </div>
</script>

<script id="KPIRowTemplate" type="text/x-kendo-template">
    <!--<div class='col-sm-12' style="height:100px">
        <h3 class='box-title'>#= Title #</h3>-->

</script>

<script id="KPITemplate" type="text/x-kendo-template">
    <div class="col-lg-3 ">
        <div class="small-cardbox #= colorClass #">

            <span class="no col-sm-6">#= value #</span>
            <h4 class="some-text col-sm-6">#= category #</h4>
            <!--<button class="details btn-link show " onclick="loadNKPIDetails(id)"><i class="fa fa-arrow-circle-right"></i> View Details</button>-->
        </div>
    </div>
</script>



<!--<script>
$(document).ready(function(){
    $('#example2').DataTable();
});
    </script>-->
