<script src=/Views/generatedJS/KPI_1_2_4.js></script>
<script src="../../scripts/sweetalert.min.js"></script>

<style>
    .small-cardbox {
        margin-bottom: 30px;
    }
</style>

<section class="content-header">
    <h5 id="PageTitle">
        KPI
    </h5>
    <tablename style="display:none">KPI</tablename>
    <ol class="breadcrumb">
        <!--<li><a href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?Dashboard", 0)'><i class="fa fa-dashboard"></i> <b>Home</b></a></li>
           <li > {BreadCrumb} </li>
           <li class="active"><b>KPI</b></li>-->
    </ol>
</section>
<!-- Main Section Start -->
<section class="content">
    <div class="modal fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>
                </div>
                <div class="modal-body" style="overflow:hidden">
                    <form id="SubmitForm" data-toggle="validator" role="form">
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label">Id</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="ID|12" value="" />
                            </div>
                        </div>

                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-3">DB Connection<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12"><select size="1" name="Columns" class="form-control select2 selectDbConnection_Id validateQuery" id="DbConnection_Id|466" value="6" data-validation="required"></select></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> SQL<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" maxlength="1000" class="form-control validateQuery" onblur="QueryChange()" name="Columns" id="SQL|16" autocomplete="off" value="" />
                                <div id="warning1" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 div-validate">
                            <div class="col-sm-9 ValidateInformation"></div>
                            <div class="col-sm-3 text-right">
                                <span class="btn grdnt-validate btn-validat">
                                    <i class="fas fa-check"></i>
                                    <input type="button" value="Validate" class="btn-validate" onclick="QueryValidateClick(this)" />
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-3 control">Insight Screen<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12"><select size="1" name="Columns" class="form-control select2 selectPortalName" id="PortalName|13" value="Connectors" data-validation="required"></select></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Title<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" maxlength="50" name="Columns" id="Title|14" autocomplete="off" value="" data-validation="required" />
                                <div id="warning" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Link</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Link|19" autocomplete="off" value="" /></div>
                        </div>

                        <div class="form-group col-sm-12" style="display:initial">
                            <h5 for="queue" class="col-sm-3"> Chart Type<span style="color:#B71C1C">*</span></h5>
                            <div class="col-sm-12"><select size="1" name="Columns" class="form-control select2 selectChart_Type" id="Chart_Type|15" value="Bar" data-validation="required"></select></div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Category<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" maxlength="50" id="Column_Number|18" autocomplete="off" value="" data-validation="required" />
                                <div id="warning2" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Value<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" maxlength="50" name="Columns" id="Row_Number|17" autocomplete="off" value="" data-validation="required" />
                                <div id="warning3" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Height<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12"><input data-validation="number" data-validation-allowing="negative,number" class="form-control" name="Columns" id="Height|20" autocomplete="off" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Width<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12"><input data-validation="number" data-validation-allowing="negative,number" class="form-control" name="Columns" id="Width|21" autocomplete="off" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3 "> Role<span style="color:#B71C1C">*</span> </label>
                            <div class="col-sm-12"><select size="1" name="Columns" class="form-control select2 selectRole_Id" id="Role_Id|22" value="" data-validation="required"></select></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> Preferences</label>
                            <div class="col-sm-12"><select size="1" name="Columns" class="form-control select2 selectPreferences" id="Preferences|23" value="New"></select></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> CreateBy</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateBy|24" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> CreateDateTime</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateDatetime|25" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> UpdateBy</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateBy|26" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> UpdateDateTime</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateDatetime|27" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> Status</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Status|28" value="" /></div>
                        </div>
                        <div class="col-xs-12 text-right">
                            <div class="col-sm-12 btn-pad">
                                <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat" disabled>
                                    <span class="fa fa-plus"></span> Add
                                </button>
                                <button type="button" id="resetform1" class="btn btn-secondary" data-dismiss="modal">
                                    <span class="fas fa-times"></span> Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Edit</div>
                </div>
                <div class="modal-body" style="overflow:hidden">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label">Id</label>
                            <div class="col-sm-12"><label class="" control-label" name="EditColumns" id="ID|12"></label></div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3">DB Connection<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <select size="1" name="EditColumns" class="form-control select2 selectDbConnection_Id updateValidateQuery" id="DbConnection_Id|466" value="6"></select>

                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> SQL<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control updateValidateQuery" maxlength="1001" name="EditColumns" onblur="UpdateQueryChange()" id="SQL|16" autocomplete="off" value=""/>
                                <div id="editwarning2" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 div-validate">
                            <div class="col-sm-9 UpdateValidateInformation"></div>
                            <div class="col-sm-3 text-right">
                                <span class="btn grdnt-validate btn-validat">
                                    <i class="fas fa-check"></i>
                                    <input type="button" id="QueryValidateUpdateButton" value="Validate" class="btn-validate" onclick="QueryValidateClick(this)" disabled />
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3 control">Insight Screen<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12"><select size="1" name="EditColumns" class="form-control select2 selectPortalName" id="PortalName|13" value="Connectors" data-validation="required"></select></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Title<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" maxlength="51" class="form-control" name="EditColumns" id="Title|14" autocomplete="off" value="" data-validation="required" />
                                <div id="editwarning1" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Link</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Link|19" autocomplete="off" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Chart Type<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12"><select size="1" name="EditColumns" class="form-control select2 selectChart_Type" id="Chart_Type|15" value="Bar" data-validation="required"></select></div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Category<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" maxlength="51" name="EditColumns" id="Column_Number|18" autocomplete="off" value="" data-validation="required" />
                                <div id="editwarning3" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Value<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" maxlength="51" autocomplete="off" id="Row_Number|17" value="" data-validation="required" />
                                <div id="editwarning4" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Height<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12"><input type="text" class="form-control" data-validation="number" data-validation-allowing="negative,number" name="EditColumns" id="Height|20" autocomplete="off" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Width<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12"><input type="text" class="form-control" data-validation="number" data-validation-allowing="negative,number" name="EditColumns" id="Width|21" autocomplete="off" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Role<span style="color:#B71C1C">*</span> </label>
                            <div class="col-sm-12"><select size="1" name="EditColumns" class="form-control select2 selectRole_Id" id="Role_Id|22" value="" data-validation="required"></select></div>
                        </div>
                        <div class="col-xs-12 text-right">
                            <div class="col-sm-12 btn-pad">
                                <button id="UpdateBtn" type="submit" class="btn btn-primary btn-flat">
                                    <span class="fas fa-check "> </span>  Update
                                </button>
                                <button type="button" id="resetform2" class="btn btn-secondary" data-dismiss="modal">
                                    <span class="fas fa-times"></span> Cancel
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content" style="width:70%; margin-left: 25%;">
                <div class="modal-header" style="background-color:#f0efef;margin-top:50%">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>
                <div class="modal-body" style="overflow:hidden">
                    <p>Are you sure you want to delete this record?</p>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                    <p id="deleteId" style="display:none"></p>
                    <p id="deleteName" style="display:none"></p>
                    <div class="col-sm-12 btn-pad">
                        <button type="button" class="btn btn-primary btn-flat" style="" onclick="delconfirmFunction()">
                            <span class="fa fa-check"> </span> OK
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <span class="fas fa-times"></span> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="example" class="CRUDGrid">
        <div class="container-fluid trigger_buttons right-btns">
            <div class="row">
                <!--<div class="col-sm-3">
                   <div class="input-group">
                       <input type = "text" title="Search" id = "Filter" class="form-control search_box pull-right" placeholder="Search" onkeyup="$('#btnFilter').click();">
                   <span class="input-group-btn">
                   <button type = "button" id="btnFilter" class="btn btn-primary btn-search"><i class="fa fa-search"></i></button>
                   </span>

                   </div>
                   </div>-->
                <div class="col-sm-12">
                    <div class="pull-right">
                        <button type="button" id="addnew" class="btn btn-add" onclick="addFunction()"><i class="fa fa-plus"></i>Add New</button>
                        <button type="button" id="Insights" onclick="Insightclick()" insights="KPI" class="btn btn-insight" style="color:#fff"><i class="fa fa-bar-chart" aria-hidden="true"></i> Insights</button>
                    </div>
                </div>
            </div>
            <div id="KPIRow" class="row" style="margin-bottom:1%;display:none">
                <div id="KPI" class="col-sm-12"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="chart_view" style="display:none;margin-top: 1%;"></div>
                </div>
            </div>
        </div>
        <table id="grid" class="display" style="width:100%  !important;height:50%"></table>
        <h1 id="feedback"></h1>
    </div>
</section>

<script>
    function check() {
        document.getElementById('warning2').innerText = ""
        document.getElementById('warning1').innerText = ""
        document.getElementById('warning3').innerText = ""
        document.getElementById('editwarning1').innerText = ""
        stringLength = document.getElementById('Title|14').value.length;
        var str1 = $('[name="EditColumns"]')[2].value.length;
        if ((stringLength >= 50) || (str1 > 50)) {
            document.getElementById('warning').innerText = "Character Limit Exceeded"
            document.getElementById('editwarning1').innerText = "Character Limit Exceeded"
        }
        else {
            document.getElementById('warning').innerText = ""
        }
    }
    function check1() {
        document.getElementById('warning').innerText = ""
        document.getElementById('warning2').innerText = ""
        document.getElementById('warning3').innerText = ""
        document.getElementById('editwarning2').innerText = ""
        stringLength = document.getElementById('SQL|16').value.length;
        var str2 = $('[name="EditColumns"]')[5].value.length;
        if ((stringLength >= 1000) || (str2 > 1000)) {
            document.getElementById('warning1').innerText = "Character Limit Exceeded"
            document.getElementById('editwarning2').innerText = "Character Limit Exceeded"
        }
        else {
            document.getElementById('warning1').innerText = ""
        }
    }
    function check2() {
        document.getElementById('warning').innerText = ""
        document.getElementById('warning1').innerText = ""
        document.getElementById('warning3').innerText = ""
        document.getElementById('editwarning3').innerText = ""
        stringLength = document.getElementById('Column_Number|18').value.length;
        var str3 = $('[name="EditColumns"]')[6].value.length;
        if ((stringLength >= 50) || (str3 > 50)) {
            document.getElementById('warning2').innerText = "Character Limit Exceeded"
            document.getElementById('editwarning3').innerText = "Character Limit Exceeded"
        }
        else {
            document.getElementById('warning2').innerText = ""
        }
    }
    function check3() {
        document.getElementById('warning').innerText = ""
        document.getElementById('warning1').innerText = ""
        document.getElementById('warning2').innerText = ""
        document.getElementById('editwarning4').innerText = ""
        stringLength = document.getElementById('Row_Number|17').value.length;
        var str4 = $('[name="EditColumns"]')[7].value.length;

        if ((stringLength >= 50) || (str4 > 50)) {
            document.getElementById('warning3').innerText = "Character Limit Exceeded"
            document.getElementById('editwarning4').innerText = "Character Limit Exceeded"
        }
        else {
            document.getElementById('warning3').innerText = ""
        }

    }
</script>
<script>
    $('#resetform1').click(function () {
        $('#SubmitForm')[0].reset();
    });
    $('.close').click(function () {
        $('#SubmitForm')[0].reset();
    });
    $('#resetform2').click(function () {
        $('#UpdateForm')[0].reset();
    });
    $('.close').click(function () {
        $('#UpdateForm')[0].reset();
    });

</script>
<script>
    $.validate({
        form: '#SubmitForm,#UpdateForm'

    });

    // Restrict presentation length


</script>