<script src="../../scripts/sweetalert.min.js"></script>
<script src=/Views/generatedJS/Line_of_Business_1_2_3_4.js></script>

<style>
    .fa-edit {
        color: lightseagreen;
    }

    .fa-trash {
        color: #B71C1C;
    }
    .small-cardbox{
        margin-bottom:30px;
    }
</style>
<section class="content-header">
    <h5 id="PageTitle">
        Line of Business
    </h5>
    <tablename style="display:none">LOB</tablename>

    <ol class="breadcrumb">
        <!--<li><a href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?Dashboard", 0)'><i class="fa fa-dashboard"></i> <b>Home</b></a></li>
         <li > {BreadCrumb} </li>
        <li class="active"><b>Line of Business</b></li>-->
    </ol>
</section>

<!-- Main Section Start -->
<section class="content">

    <div class="modal fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="SubmitForm"  role="form">
                        <div class="form-group col-sm-12" style="display:none">
                        <label for="queue" class="col-sm-12 control-label"> ID</label> 
                        <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="ID|223" value=""  onchange="validateContent(this)"/>
                            </div>
                            </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Name</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Name|224" value="" />
                      <!--<input type="text" class="form-control" name="Columns" id="Name|224" value="" autocomplete="off" data-validation="required"   />-->
                      <span id="Validate_Roles" style="display:none;color:#B71C1C">Please fill out this field</span>
                        </div>
                            </div>
                        <div class="form-group col-sm-12" style="display:initial">
                        <label for="queue" class="col-sm-12 control-label"> Type</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="Type|225" value="" maxlength= />
                            <!--<input type="text" class="form-control" name="Columns" id="Type|22" value="" autocomplete="off" data-validation="required"  />-->
                            <span id="Validate_Roles" style="display:none;color:#B71C1C">Please fill out this field</span>
                        </div>
                            </div>
                        <div class="form-group col-sm-12" style="display:initial">
                        <label for="queue" class="col-sm-12 control-label"> Path</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="Path|226" value="" maxlength= />
                            <!--<input type="text" class="form-control" name="Columns" id="Path|226" value="" autocomplete="off" data-validation="required"   />-->
                            <span id="Validate_Roles" style="display:none;color:#B71C1C">Please fill out this field</span>
                        </div>
                            </div>
                        <div class="form-group col-sm-12" style="display:none">
                        <label for="queue" class="col-sm-12 control-label"> Create By</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="CreateBy|227" value="" />
                            </div>
                            </div>
                        <div class="form-group col-sm-12" style="display:none">
                        <label for="queue" class="col-sm-12 control-label"> CreateDatetime</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="CreateDatetime|228" value="" />
                            </div>
                            </div>
                        <div class="form-group col-sm-12" style="display:none">
                        <label for="queue" class="col-sm-12 control-label"> Update By</label>
                        <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateBy|229" value="" />
                            </div>
                            </div>
                        <div class="form-group col-sm-12" style="display:none">
                        <label for="queue" class="col-sm-12 control-label"> UpdateDatetime</label>
                        <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateDatetime|230" value="" />
                            </div>
                                </div>
                        <div class="form-group col-sm-12" style="display:none">
                        <label for="queue" class="col-sm-12 control-label"> Status</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="Status|231" value="" />
                            </div>
                        </div>
                        <div class="col-xs-12 text-right">
                            <div class="col-sm-12 btn-pad">
                                <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat">
                                    <span class="fa fa-check"></span> Add
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    <span class="fas fa-times"></span> Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Edit</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> ID</label> <div class="col-sm-12"><label class=" control-label" name="EditColumns" id="ID|223"></label></div></div><div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Name</label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Name|224" value="" required {Length} /></div></div><div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Type</label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Type|225" value="" {Length} /></div></div><div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Path</label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Path|226" value="" {Length} /></div></div>
                        <div class="col-xs-12 text-right" style="">
                            <button id="UpdateBtn" type="submit" style="" class="btn btn-primary btn-flat">
                                <span class="fas fa-check "> </span>  Update
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content" style="width:70%; margin-left: 25%;">
                <div class="modal-header" style="background-color:#f0efef;margin-top:50%">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <p>Are you sure you want to delete this record?</p>
                </div>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                    <p id="deleteId" style="display:none"></p>
                    <p id="deleteName" style="display:none"></p>
                    <div class="col-sm-12 btn-pad">
                        <button type="button" class="btn btn-primary btn-flat" style="" onclick="delconfirmFunction()">
                            <span class="fa fa-check"> </span> OK
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <span class="fas fa-times"></span> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="example" class="CRUDGrid">
        <div class="container-fluid trigger_buttons right-btns">
            <div class="row">
                <!--<div class="col-sm-3">
                    <div class="input-group">
                        {FilterHTML}
                    </div>
                </div>-->

                <div class="col-sm-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-add" onclick="addFunction(this)"><i class="fa fa-plus"></i> Add New</button>
                        <button type="button" id="Insights" onclick="Insightclick();" insights="NKPI" class="btn btn-insight" style="color:#fff">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>Insights
                        </button>
                    </div>
                </div>
            </div>
            <div id="KPIRow" class="row" style="margin-bottom:1%;display:none">
                <div id="KPI" class="col-sm-12"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="chart_view" style="display:none;margin-top: 1%;"></div>
                </div>
            </div>

        </div>
        <table id="grid" class="display" style="width:100%  !important;height:50%"></table>
        <h1 id="feedback"></h1>
    </div>
</section>

<script>
//$(document).ready(function(){
//    $('#example2').DataTable();
//});
    //$.validate({
    //    form: '#SubmitForm,#UpdateForm'

    //});
</script>
