<script src="../../scripts/sweetalert.min.js"></script>
<script src=/Views/generatedJS/NKPI_1_2_3_4.js></script>

<section class="content-header">
    <h5 id="PageTitle">
        NKPI
    </h5>
    <tablename style="display:none">NKPI</tablename>
    <ol class="breadcrumb">
        <!--<li><a href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?Dashboard", 0)'><i class="fa fa-dashboard"></i> <b>Home</b></a></li>
           <li > {BreadCrumb} </li>
           <li class="active"><b>NKPI</b></li>-->
    </ol>
</section>
<!-- Main Section Start -->
<section class="content">
    <div class="modal fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>
                </div>
                <div class="modal-body" style="overflow:hidden">
                    <form id="SubmitForm">
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> Id</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="ID|938" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-3">DB Connection<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12"><select size="1" name="Columns" class="form-control select2 selectDbConnection_Id validateQuery" id="DbConnection_Id|942" value="6"></select></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> SQL<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control validateQuery" onblur="QueryChange()" maxlength="1000" name="Columns" id="SQL|943" autocomplete="off" value="" />
                                <div id="warning1" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 div-validate">
                            <div class="col-sm-12 ValidateInformation"></div>
                            <div class="col-sm-12 text-right">
                                <span class="btn grdnt-validate btn-validat">
                                    <i class="fas fa-check"></i>
                                    <input type="button" value="Validate" class="btn-validate" onclick="QueryValidateClick(this)" />
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-3">Insight Screen<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12"><select size="1" name="Columns" class="form-control select2 selectPortalName" id="PortalName|939" value="Bot Monitor" data-validation="required"></select></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Title<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" maxlength="50" name="Columns" id="Title|940" autocomplete="off" value="" data-validation="required" />
                                <div id="warning" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>


                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-3"> Role<span style="color:#B71C1C">*</span> </label>
                            <div class="col-sm-12"><select size="1" name="Columns" class="form-control select2 selectRole_Id" id="Role_Id|944" value="1" data-validation="required"></select></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> Group</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Group|941" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> CreateBy</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateBy|945" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> CreateDatetime</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateDatetime|946" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> UpdateBy</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateBy|947" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> UpdateDatetime</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateDatetime|948" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> Status</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Status|949" value="" /></div>
                        </div>
                        <div class="col-xs-12 text-right">
                            <div class="col-sm-12 btn-pad">
                                <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat" disabled>
                                    <span class="fa fa-plus"></span> Add
                                </button>
                                <button type="button" id="resetform1" class="btn btn-secondary" data-dismiss="modal">
                                    <span class="fas fa-times"></span> Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Edit</div>
                </div>
                <div class="modal-body" style="overflow:hidden">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> Id</label>
                            <div class="col-sm-12"><h5 class=" control-label" name="EditColumns" id="ID|938"></h5></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3">DB Connection<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <select size="1" name="EditColumns" class="form-control select2 selectDbConnection_Id updateValidateQuery" id="DbConnection_Id|942" value="6"></select>

                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> SQL<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control updateValidateQuery" maxlength="1001" name="EditColumns" onblur="UpdateQueryChange()" id="SQL|943" autocomplete="off" />
                                <div id="editwarning2" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 div-validate">
                            <div class="col-sm-9 UpdateValidateInformation"></div>
                            <div class="col-sm-3 text-right">
                                <span class="btn grdnt-validate btn-validat">
                                    <i class="fas fa-check"></i>
                                    <input type="button" id="QueryValidateUpdateButton" value="Validate" class="btn-validate" onclick="QueryValidateClick(this)" disabled />
                                </span>

                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3">Insight Screen<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12">
                            <select size="1" name="EditColumns" class="form-control select2 selectPortalName" id="PortalName|939" value="Bot Monitor" data-validation="required">
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Title<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12"><input type="text" class="form-control" maxlength="51" name="EditColumns" id="Title|940" autocomplete="off" value="" data-validation="required" />
                                <div id="editwarning1" style="color:#B71C1C;font-size:12px"></div>
                            </div>
                        </div>
                        
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Role<span style="color:#B71C1C">*</span></label>
                            <div class="col-sm-12"><select size="1" name="EditColumns" class="form-control select2 selectRole_Id" id="Role_Id|944" value="1" data-validation="required"></select></div>
                        </div>
                        <div class="col-xs-12 text-right">
						<div class="col-sm-12 btn-pad">
                            <button id="UpdateBtn" type="submit"  class="btn btn-primary btn-flat">
                                <span class="fas fa-check "> </span>  Update
                            </button>
                            <button type="button" id="resetform2"class="btn btn-secondary"  data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content" style="width:70%; margin-left: 25%;">
                <div class="modal-header" style="background-color:#f0efef;margin-top:50%">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>
                <div class="modal-body" style="overflow:hidden">
                    <p>Are you sure you want to delete this record?</p>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                    <p id="deleteId" style="display:none"></p>
                    <p id="deleteName" style="display:none"></p>
					 <div class="col-sm-12 btn-pad">
                    <button type="button" class="btn btn-primary btn-flat" style="" onclick="delconfirmFunction()">
                        <span class="fa fa-check"> </span> OK
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fas fa-times"></span> Cancel
                    </button>
					</div>
                </div>
            </div>
        </div>
    </div>
    <div id="example" class="CRUDGrid">
        <div class="container-fluid trigger_buttons right-btns">
            <div class="row">
                <!--<div class="col-sm-3">
                   <div class="input-group">
                       <input type = "text" title="Search" id = "Filter" class="form-control search_box pull-right" placeholder="Search" onkeyup="$('#btnFilter').click();">
                   <span class="input-group-btn">
                   <button type = "button" id="btnFilter" class="btn btn-primary btn-search"><i class="fa fa-search"></i></button>
                   </span>

                   </div>
                   </div>-->
                <div class="col-sm-12">
                   <div class="pull-right">
                        <button type="button"id="addnew" class="btn btn-add" onclick="addFunction()"><i class="fa fa-plus"></i>Add New</button>
                        <button type="button" id="Insights" onclick="Insightclick()" insights="KPI" class="btn btn-insight" style="color:#fff"><i class="fa fa-bar-chart" aria-hidden="true"></i> Insights</button>
                    </div>
                </div>
            </div>
            <div id="KPIRow" class="row" style="margin-bottom:1%;display:none">
                <div id="KPI" class="col-sm-12"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="chart_view" style="display:none;margin-top: 1%;"></div>
                </div>
            </div>
        </div>
        <table id="grid" class="display" style="width:100%  !important;height:50%">
           
        </table>
        <h1 id="feedback"></h1>
    </div>
</section>
<!--<script id="chartTemplate" type="text/x-kendo-template">
    <div class='col-sm-12' style="margin-bottom:8%;height:#= Height #px; width: #= Width #%; ">
        <div class='box box-primary'>
            <div class='box-header with-border'>
                <h3 class='box-title'>#= Title #</h3>
                <div id='dropdown' class='box-tools pull-right'>
                    <button type='button' id="#=KPI_ID#" class='fa fa-ellipsis-v' onclick="editsettingsFunction(this)"></button>

                </div>

            </div>
            <div class='box-body'>
                <center> <div id="#= ID #"></div></center>
                <center><h3 id="WrongMsg#= ID #" style="color:#B71C1C;"></h3></center>
            </div>
        </div>
    </div>
</script>-->
<script id="KPIRowTemplate" type="text/x-kendo-template">
    <!--<div class='col-sm-12' style="height:100px">
        <h3 class='box-title'>#= Title #</h3>-->

</script>
<script id="KPITemplate" type="text/x-kendo-template">
    <div class="col-lg-3 ">
        <div class="small-cardbox #= colorClass #">

            <span class="no col-sm-6">#= value #</span>
            <h4 class="some-text col-sm-6">#= category #</h4>
            <!--<button class="details btn-link show " onclick="loadNKPIDetails(id)"><i class="fa fa-arrow-circle-right"></i> View Details</button>-->
        </div>
    </div>
</script>
<!--<script>
   $(document).ready(function(){
       $('#example2').DataTable();
   });
       </script>-->
<script>
    function check() {
       document.getElementById('warning1').innerText = ""
       document.getElementById('editwarning1').innerText = ""
       stringLength = document.getElementById('Title|940').value.length;
       var str1 = $('[name="EditColumns"]')[2].value.length;
       if ((stringLength >= 50) ||(str1>50)){
           document.getElementById('warning').innerText = "Character Limit Exceeded"
           document.getElementById('editwarning1').innerText = "Character Limit Exceeded"
       }
       else {
           document.getElementById('warning').innerText = ""
       }
   }
    function check1() {
       document.getElementById('warning').innerText = ""
       document.getElementById('editwarning2').innerText = ""
       stringLength = document.getElementById('SQL|943').value.length;
       var str2 = $('[name="EditColumns"]')[4].value.length;
       if ((stringLength >= 1000)|| (str2>1000)) {
           document.getElementById('warning1').innerText = "Character Limit Exceeded"
           document.getElementById('editwarning2').innerText = "Character Limit Exceeded"
       }
       else {
           document.getElementById('warning1').innerText = ""
       }
   }
</script>
<script>
    $('#resetform1').click(function () {
        $('#SubmitForm')[0].reset();
    });
    $('.close').click(function () {
        $('#SubmitForm')[0].reset();
    });
    $('#resetform2').click(function () {
        $('#UpdateForm')[0].reset();
    });
    $('.close').click(function () {
        $('#UpdateForm')[0].reset();
    });
</script>

<script>
    $.validate({
        form: '#SubmitForm,#UpdateForm'

    });

    // Restrict presentation length


</script>