<script src="../../scripts/sweetalert.min.js"></script>

<script src=/Views/generatedJS/OBDN_Tracker_1.js></script>
<style>
    .fa-edit {
        color: lightseagreen;
    }

    .fa-trash {
        color: #B71C1C;
    }
</style>
<section class="content-header">
    <h5 id="PageTitle">
        OBDN Tracker

    </h5>
    <tablename style="display:none">OBDN_Tracker</tablename>

    <ol class="breadcrumb">
        <!--<li><a href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?Dashboard", 0)'><i class="fa fa-dashboard"></i> <b>Home</b></a></li>
         <li > {BreadCrumb} </li>
        <li class="active"><b>OBDN Tracker</b></li>-->
    </ol>
</section>

<!-- Main Section Start -->
<section class="content">

    <div class="modal fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>

                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="SubmitForm">
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> ID</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="ID|3126" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Ref Doc</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Ref_Doc|3127" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> RefItm</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="RefItm|3128" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> SO Doc Type</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="SO_Doc_Type|3129" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Customer Reference</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Customer_Reference|3130" value="" />
                            </div>
                        </div><div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Sold To Party</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="SoldTo_Party|3131" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Type</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Type|3132" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Case</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Case|3133" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> OBDN</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Delivery|3135" value="" />
                            </div>
                        </div>

                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Unique ID</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="UniqueID|3136" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Notes</label> <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Notes|3137" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> POD Updated SAP Status</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="POD_Updated_SAP_Status|3138" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Carrier 1</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Carrier1|3139" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Carrier 2</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Carrier2|3140" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Tracking</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Tracking|3141" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Estimated Time Interval</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Estimated_Time_Interval|3142" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> ETA Site</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="ETA_SIte|3143" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Shipment Category</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Shipment_Category|3144" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Item</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Item|3145" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Material</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Material|3146" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Material Number</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Material_Number|3147" value="" /></div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Item Category</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="ItCa|3148" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Plant</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Plant|3149" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Storage Location</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="SLoc|3150" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Delivery Quantity</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Delivery_Quantity|3151" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Selling Unit</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="SU|3152" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Tracking Number</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Snumber|3134" value="" />
                            </div>
                        </div>

                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Created By</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="CreatedBy|3155" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Created On</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="CreatedOn|3156" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Goods Movement</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="GM|3157" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Overall Goods Movement Status</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Overall_Goods_Movement_Status|3158" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> POD Status</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="POD_Status|3159" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> POD Status on Header Level</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="POD_Status_HeaderLevel|3160" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> POD Date</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="PODDate|3161" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Material Cost</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Mtl_UnitCost|3153" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Net Cost</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Net_Cost|3154" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Project ID</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="ProjectID|3163" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Path</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Path|3164" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Date</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Date|3162" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Robot_Status</label>
                            <div class="col-sm-12">
                                <select type="text" class="form-control" name="Columns" id="Robot_Status|3165" value=""></select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Priority</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Priority|3166" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> System</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="System|3167" value="" />
                            </div>
                        </div><div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Notify</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Notify|3168" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Email</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Email|3169" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Error Code</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="ErrorCode|3170" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Error Description</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="ErrorDescription|3171" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> CreateBy</label> <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="CreateBy|3172" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> CreateDatetime</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="CreateDatetime|3173" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> UpdateBy</label> <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="UpdateBy|3174" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> UpdateDatetime</label> <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="UpdateDatetime|3175" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> Status</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Status|3176" value="" /></div>
                        </div>

                        <div class="col-xs-12 text-right">
                            <div class="col-sm-12 btn-pad">
                                <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat">
                                    <span class="fa fa-check"></span> Add
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    <span class="fas fa-times"></span> Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Edit</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> ID</label> <div class="col-sm-12">
                                <label class=" control-label" name="EditColumns" id="ID|3126"></label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Ref Doc</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Ref_Doc|3127" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Ref Item</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="RefItm|3128" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> SO Doc Type</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="SO_Doc_Type|3129" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Customer Reference</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Customer_Reference|3130" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Sold To Party</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="SoldTo_Party|3131" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Type</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Type|3132" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Case</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Case|3133" value="" {Mandatory} {Length} /></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> OBDN</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Delivery|3135" value="" {Mandatory} {Length} />
                            </div>
                        </div>


                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Unique ID</label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="UniqueID|3136" value="" {Mandatory} {Length} /></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Notes</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Notes|3137" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> POD Updated SAP Status</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="POD_Updated_SAP_Status|3138" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Carrier 1</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Carrier1|3139" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Carrier 2</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Carrier2|3140" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Tracking</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Tracking|3141" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Estimated Time Interval</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Estimated_Time_Interval|3142" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> ETA SIte</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="ETA_SIte|3143" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Shipment Category</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Shipment_Category|3144" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Item</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Item|3145" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Material</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Material|3146" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Material Number</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Material_Number|3147" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Item Category</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="ItCa|3148" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Plant</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Plant|3149" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Storage Location</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="SLoc|3150" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Delivery Quantity</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Delivery_Quantity|3151" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Selling Unit</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="SU|3152" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Tracking Number</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Snumber|3134" value="" {Mandatory} {Length} />
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Created By</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="CreatedBy|3155" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Created On</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="CreatedOn|3156" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Goods Movement</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="GM|3157" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Overall Goods Movement Status</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Overall_Goods_Movement_Status|3158" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> POD Status</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="POD_Status|3159" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> POD Status on Header Level</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="POD_Status_HeaderLevel|3160" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> POD Date</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="PODDate|3161" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Material Cost</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Mtl_UnitCost|3153" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Net Cost</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Net_Cost|3154" value="" {Mandatory} {Length} />
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> ProjectID</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="ProjectID|3163" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Path</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Path|3164" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Date</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Date|3162" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Status</label>
                            <div class="col-sm-12">
                                <select type="text" class="form-control" name="EditColumns" id="Robot_Status|3165" value="" {Mandatory} {Length}></select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Priority</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Priority|3166" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> System</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="System|3167" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Notify</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Notify|3168" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Email</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Email|3169" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Error Code</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="ErrorCode|3170" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Error Description</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="ErrorDescription|3171" value="" {Mandatory} {Length} />
                            </div>
                        </div>
                        <div class="col-xs-12 text-right" style="">
                            <button id="UpdateBtn" type="submit" style="" class="btn btn-primary btn-flat">
                                <span class="fas fa-check "> </span>  Update
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content" style="width:70%; margin-left: 25%;">


                <div class="modal-header" style="background-color:#f0efef;margin-top:50%">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <p>Are you sure you want to delete this record?</p>
                </div>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                    <p id="deleteId" style="display:none"></p>
                    <p id="deleteName" style="display:none"></p>
                    <div class="col-sm-12 btn-pad">
                        <button type="button" class="btn btn-primary btn-flat" style="" onclick="delconfirmFunction()">
                            <span class="fa fa-check"> </span> OK
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <span class="fas fa-times"></span> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="example" class="CRUDGrid">
        <div class="container-fluid trigger_buttons right-btns">
            <div class="row">


                <!--<div class="col-sm-3">
            <div class="input-group">
                {FilterHTML}
            </div>
        </div>-->

                <div class="col-sm-12">

                    <div class="pull-right">

                        <button type="button" class="btn btn-add" onclick="addFunction(this)"><i class="fa fa-plus"></i> Add New</button>
                        <button type="button" id="Insights" onclick="Insightclick()" insights="" class="btn btn-insight" style="color:#fff" disabled><i class="fa fa-bar-chart" aria-hidden="true"></i> Insights</button>
                        <select id="griddata-type" style='margin-left:2px'><option value=null>All</option><option value="Domestic Data">Domestic Data</option><option value="International Data">International Data</option></select>
                        <div id="dateFilterTitle" class="datetime pull-right" onclick="$('#dateFilterContent').toggle();">
                            <button id="chartTimer" class="btn btn-secondary pull-right">
                                Today<i class="fa fa-angle-down ang-down"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="float:right;">
                <!--<div class="col-sm-8"></div>-->
                <div id="dateFilterContent" class="pull-right" style="display:none; background:white;float:right;">

                    <div class="none-click" style="position:absolute;z-index:1000 !important;background-color:#ffffff;border:1px solid #f5f5f5;box-shadow :0 10px 35px rgba(0,0,0,.3) !important; border-radius: 8px;">
                        <div class="col-sm-12 form-group ">

                            <div>
                                <label style="display: inline-block; float: left; margin-right: 20px;margin:4px 0px 0px 0px"> Date Range:</label>
                                <select id="FilterType" class="monitorSelect col-sm-8 select-none" onchange='if (this.value == "Custom") {
                          $("#minFilter").prop("disabled", false);
                          $("#maxFilter").prop("disabled", false);
                          if ($("#minFilter").val() == "" && $("#maxFilter").val() == "") {
                              $("#Applybutton")[0].disabled = true;
                          }
                   }
                    else {
                         $("#minFilter").val("");
                         $("#maxFilter").val("");
                             $("#Applybutton")[0].disabled = false;
                           $("#minFilter").prop("disabled", true);
                           $("#maxFilter").prop("disabled", true);
                           }'>
                                    <!--<option>None </option>
                        <option>Last Hour</option>-->
                                    <option>Today </option>
                                    <option>Yesterday</option>
                                    <option>This Week</option>
                                    <option>Last Week</option>
                                    <option>This Month</option>
                                    <option>Last Month</option>
                                    <option>Last 3 Months</option>
                                    <option>This Year</option>
                                    <option>Custom</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="margin-top:0%;">
                            <input id="minFilter" class="col-sm-5 monitorSelect b-radius" type="date" placeholder="Date" disabled onchange='if ($("#minFilter").val() != "" && $("#maxFilter").val() != "") {
                              $("#Applybutton")[0].disabled = false;
            }else{
            $("#Applybutton")[0].disabled = true;
            }' />
                            <i class="fa fa-minus col-sm-2 select-minus" style="margin-top:1%"></i>
                            <input id="maxFilter" class="col-sm-5 monitorSelect b-radius" type="date" placeholder="Date" disabled onchange='if ($("#minFilter").val() != "" && $("#maxFilter").val() != "") {
              $("#Applybutton")[0].disabled = false;
              }
            else{
              $("#Applybutton")[0].disabled = true;
              }' />
                        </div>

                        <div class="col-sm-12 form-group" style="margin-top:0%;">
                            <input class="" type="checkbox" style="display: inline-block; float: left; padding: 3px;margin: 8px 0px;width:14px;height:14px" id="CompareCheck" />
                            <label class="" style="text-align:center;display: inline-block; float: left; margin: 6px 4px 0px 2px;">Compare To:</label>

                            <!--<div class="" style="display: inline-block; float: left; padding: 3px">-->
                            <select class="monitorSelect col-sm-8 select-none" id="CompareFilterType" disabled style="background-color:#EBEBE4;padding: 3px;" onchange='if (this.value == "Custom") {
                          $("#minFilter1").prop("disabled", false);
                          $("#maxFilter1").prop("disabled", false);
                          if ($("#minFilter1").val() == "" && $("#maxFilter1").val() == "") {
                              $("#Applybutton")[0].disabled = true;
                          }

                   }
                    else {
                         $("#minFilter1").val("");
                         $("#maxFilter1").val("");
                             $("#Applybutton")[0].disabled = false;
                           $("#minFilter1").prop("disabled", true);
                           $("#maxFilter1").prop("disabled", true);
                           }'>
                                <option>Yesterday</option>
                                <option>Last Week</option>
                                <option>Last Month</option>
                                <option>Last Year</option>
                                <option>Custom</option>
                            </select>
                            <!--</div>-->
                        </div>
                        <div class="col-sm-12 form-group" style="margin-top:0%;">
                            <input id="minFilter1" placeholder="Date" type="date" class="col-sm-5 monitorSelect b-radius" disabled onchange='if ($("#minFilter1").val() != "" && $("#maxFilter1").val() != "") {
              $("#Applybutton")[0].disabled = false;
              }
            else{
              $("#Applybutton")[0].disabled = true;
              }' />
                            <i class="fa fa-minus fa-1 col-sm-2 select-minus" style="margin-top:1%"></i>
                            <input id="maxFilter1" placeholder="Date" type="date" class="col-sm-5 monitorSelect b-radius" disabled onchange='if ($("#minFilter1").val() != "" && $("#maxFilter1").val() != "") {
              $("#Applybutton")[0].disabled = false;
              }
            else{
              $("#Applybutton")[0].disabled = true;
              }' />
                        </div>
                        <div class="form-group col-sm-12" style="margin-top:0%">
                            <p class="col-sm-12" style="border-top:1px solid #dedede;"></p>
                        </div>
                        <div class="form-group col-sm-12 text-right">
                            <button id="Applybutton" class="btn btn-primary btn-primary btn-flat none-btn" onclick='if ($("#FilterType").val() != "Custom") { $("#Applybutton").prop("disabled", false); $("#dateFilterTitle").html("<button id=\"chartTimer\" class=\"btn btn-secondary\">" + $("#FilterType").val() + "<i class=\"fa fa-angle-down ang-down\"></i></button>"); } else { $("#dateFilterTitle").html("<button class=\"btn btn-secondary\">" + ($("#minFilter").val().split("-")[1] + "/" + $("#minFilter").val().split("-")[2] + "/" + $("#minFilter").val().split("-")[0]) + " to " + $("#maxFilter").val().split("-")[1] + "/" + $("#maxFilter").val().split("-")[2] + "/" + $("#maxFilter").val().split("-")[0] + "<i class=\"fa fa-angle-down ang-down\"></i></h4>"); } t.draw(); $("#dateFilterContent").hide();'>Apply</button>
                            <button type="button" class="btn btn-danger btn-flat none-btn btn-secondary" style="margin-left:10px" onclick='$("#dateFilterContent").hide();'>
                                <!--<span class="fas fa-times"></span>-->Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="KPIRow" class="row" style="margin-bottom:1%;display:none">
                <div id="KPI" class="col-sm-12"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="chart_view" style="display:none;margin-top: 1%;"></div>
                </div>
            </div>

        </div>
        <table id="grid" class="display" style="width:100%  !important;height:50%"></table>
        <h1 id="feedback"></h1>
    </div>
    

</section>

<!--<script>
$(document).ready(function(){
    $('#example2').DataTable();
});
    </script>-->

