<script src="/Views/generatedJS/Permissions_1_4.js"></script>
<style>
    .btn-flat {
        background-color: transparent !important;
    }
</style>
<section class="content-header">
    <h5 id="PageTitle">
        Permissions

    </h5>
    <tablename style="display:none">Permissions</tablename>
    <ol class="breadcrumb"></ol>
</section>
<!-- Main Section Start -->
<section class="content">

    <div class="modal fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>
                </div>
                <div class="modal-body" style="overflow:hidden">
                    <form id="SubmitForm">
                        <div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> ID</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="ID|918" value="" /></div></div><div class="form-group col-sm-12" style="display:initial"><label for="queue" class="col-sm-12 control-label"> Module</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Module|920" value="" /></div></div><div class="form-group col-sm-12" style="display:initial"><label for="queue" class="col-sm-12 control-label"> Create</label> <div class="col-sm-12"><label class="robot_check"><input type="checkbox" name="Columns" id="Create|921" /><span class="rb_checkmark"></span></label></div></div><div class="form-group col-sm-12" style="display:initial"><label for="queue" class="col-sm-12 control-label"> View</label> <div class="col-sm-12"><input type="checkbox" name="Columns" id="View|922" /></div></div><div class="form-group col-sm-12" style="display:initial"><label for="queue" class="col-sm-12 control-label"> Update</label> <div class="col-sm-12"><input type="checkbox" name="Columns" id="Update|923" /></div></div><div class="form-group col-sm-12" style="display:initial"><label for="queue" class="col-sm-12 control-label"> Delete</label> <div class="col-sm-12"><input type="checkbox" name="Columns" id="Delete|924" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> Role_ID</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Role_ID|919" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> CreateBy</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateBy|925" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> CreateDatetime</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateDatetime|926" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> UpdateBy</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateBy|927" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> UpdateDatetime</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateDatetime|928" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> Status</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Status|929" value="" /></div></div>
                        <div class="col-xs-12 text-right">
						 <div class="col-sm-12 btn-pad">
                            <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat">
                                <span class="fa fa-plus"></span> Add
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Edit</div>
                </div>
                <div class="modal-body" style="overflow:hidden">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> ID</label> <div class="col-sm-12"><label class=" control-label" name="EditColumns" id="ID|918"></label></div></div><div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Module</label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Module|920" value="" /></div></div><div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Create</label> <div class="col-sm-12"><label class="robot_check"><input type="checkbox" name="EditColumns" id="Create|921" /><span class="rb_checkmark"></span></label></div></div><div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> View</label> <div class="col-sm-12"><input type="checkbox" name="EditColumns" id="View|922" /></div></div><div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Update</label> <div class="col-sm-12"><input type="checkbox" name="EditColumns" id="Update|923" /></div></div><div class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Delete</label> <div class="col-sm-12"><input type="checkbox" name="EditColumns" id="Delete|924" /></div></div>
                        <div class="col-xs-12 text-right">
						<div class="col-sm-12 btn-pad">
                             <button id="UpdateBtn" type="submit"  class="btn btn-primary btn-flat">
                                <span class="fas fa-check "> </span>  Update
                            </button>
                            <button type="button" class="btn btn-secondary"  data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                           </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content" style="width:70%; margin-left: 25%;">
                <div class="modal-header" style="background-color:#f0efef;margin-top:50%">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <p>Are you sure you want to delete this record?</p>
                </div>

                <div class="modal-footer">
                    <p id="deleteId" style="display:none"></p>
                    <p id="deleteName" style="display:none"></p>
					 <div class="col-sm-12 btn-pad">
                    <button type="button" class="btn btn-primary btn-flat" style="" onclick="delconfirmFunction()">
                        <span class="fa fa-check"> </span> OK
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fas fa-times"></span>Cancel
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div id="example" class="CRUDGrid">
        <div class="container-fluid trigger_buttons right-btns">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <select id="role" class="">
                        </select>
                        <button type="button" onclick="Insightclick()" class="btn btn-insight" style="color:#fff" disabled>
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            Insights
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <table id="grid" class="display" style="width:100%  !important;height:50%"></table>
        <h1 id="feedback"></h1>

    </div>
</section>