<style>
    #divLoader {
            background: url(dist/img/SmallSpin.gif) no-repeat center center;
            z-index: 1000;
            text-align: center;
            height: 150px;
        }
</style>
   
    <script src=/Views/generatedJS/Process_Manager_4_3_2_1.js></script>
           <section class="content-header">
    <h5 id="PageTitle">
        Process Manager

    </h5>
    <tablename style="display:none">ProcessManager</tablename>
               
    <ol class="breadcrumb">
        <!--<li><a href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?Dashboard", 0)'><i class="fa fa-dashboard"></i> <b>Home</b></a></li>
         <li > {BreadCrumb} </li>
        <li class="active"><b>Process Manager</b></li>-->
    </ol>
</section>

<!-- Main Section Start -->
<section class="content">

    <div class="modal fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>

                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="SubmitForm">
                        <div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> Id</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="ID|1066" value=""/></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> SystemId</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="SystemId|1067" value=""/></div></div><div class="form-group col-sm-12" style="display:initial"><label for= "queue" class="col-sm-12 control-label"> Job Name</label> <div class="col-sm-9"><select size="1" name ="Columns" class="form-control select2 selectJobName" id="JobName|1068" value="8"></select></div></div><div class="form-group col-sm-12" style="display:initial"><label for= "queue" class="col-sm-12 control-label"> Submitted By</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="SubmittedBy|1069" value=""/></div></div><div class="form-group col-sm-12" style="display:initial"><label for= "queue" class="col-sm-12 control-label"> Job Status</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="JobStatus|1070" value=""/></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> Job Log</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="JobLog|1071" value=""/></div></div><div class="form-group col-sm-12" style="display:initial"><label for= "queue" class="col-sm-12 control-label"> Starting Time</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="StartingTime|1072" value=""/></div></div><div class="form-group col-sm-12" style="display:initial"><label for= "queue" class="col-sm-12 control-label"> Ending Time</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="EndingTime|1073" value=""/></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> CreateBy</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="CreateBy|1074" value=""/></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> CreateDateTime</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="CreateDateTime|1075" value=""/></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> UpdateBy</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="UpdateBy|1076" value=""/></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> UpdateDateTime</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="UpdateDateTime|1077" value=""/></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> Status</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="Status|1078" value=""/></div></div>
                        <div class="col-xs-4 AddFooter" style="margin-left:68%;margin-top:1%">
                            <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat">
                                <span class="fa fa-check"></span> Add
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                <span class="fas fa-times"></span>Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Edit</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> Id</label> <div class="col-sm-9"><label class=" control-label" name="EditColumns" id="ID|1066"></label></div></div><div class="form-group col-sm-12"><label for= "queue" class="col-sm-12 control-label"> Job Name</label> <div class="col-sm-9"><select size="1" name ="EditColumns" class="form-control select2 selectJobName" id="JobName|1068" value="8"></select></div></div><div class="form-group col-sm-12"><label for= "queue" class="col-sm-12 control-label"> Submitted By</label> <div class="col-sm-9"><input type="text" class="form-control" name="EditColumns" id="SubmittedBy|1069" value=""{Mandatory}/></div></div><div class="form-group col-sm-12"><label for= "queue" class="col-sm-12 control-label"> Job Status</label> <div class="col-sm-9"><input type="text" class="form-control" name="EditColumns" id="JobStatus|1070" value=""{Mandatory}/></div></div><div class="form-group col-sm-12"><label for= "queue" class="col-sm-12 control-label"> Starting Time</label> <div class="col-sm-9"><input type="text" class="form-control" name="EditColumns" id="StartingTime|1072" value=""{Mandatory}/></div></div><div class="form-group col-sm-12"><label for= "queue" class="col-sm-12 control-label"> Ending Time</label> <div class="col-sm-9"><input type="text" class="form-control" name="EditColumns" id="EndingTime|1073" value=""{Mandatory}/></div></div>
                        <div class="col-xs-12 text-right">
						<div class="col-sm-12 btn-pad">
                            <button id="UpdateBtn" type="submit"  class="btn btn-primary btn-flat">
                                <span class="fas fa-check "> </span>  Update
                            </button>
                            <button type="button" class="btn btn-secondary" style="margin-left:1%" data-dismiss="modal">
                                <span class="fas fa-times"></span>Cancel
                            </button>
</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content" style="width:70%; margin-left: 25%;">


                <div class="modal-header" style="background-color:#f0efef;margin-top:50%">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <p>Are you sure you want to delete this record?</p>
                </div>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                    <p id="deleteId" style="display:none"></p>
                    <p id="deleteName" style="display:none"></p>
					 <div class="col-sm-12 btn-pad">
                    <button type="button" class="btn btn-primary btn-flat" style="" onclick="delconfirmFunction()">
                        <span class="fa fa-check"> </span> OK
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fas fa-times"></span>Cancel
                    </button>
</div>
                </div>
            </div>
        </div>
    </div>
    <div id="example" class="CRUDGrid">
        <div class="container-fluid trigger_buttons right-btns">
            <div class="row">


                <!--<div class="col-sm-3">
                    <div class="input-group">
                        <input type = "text" title="Search" id = "Filter" class="form-control search_box pull-right" placeholder="Search" onkeyup="$('#btnFilter').click(); ">
<span class="input-group-btn">
<button type = "button" id="btnFilter" class="btn btn-primary btn-search"><i class="fa fa-search"></i></button>
</span>

                    </div>
                </div>-->

                <div class="col-sm-12">
                   <div class="pull-right">
                        
                        <button type = "button" id="Insights" onclick = "Insightclick()" insights="" class="btn btn-insight" style="color:#fff" disabled><i class="fa fa-bar-chart" aria-hidden="true"></i> Insights</button>
                    </div>
                </div>
            </div>
            <div id="KPIRow" class="row" style="margin-bottom:1%;display:none">
                <div id="KPI" class="col-sm-12"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="chart_view" style="display:none;margin-top: 1%;"></div>
                </div>
            </div>

        </div>
        <table id="grid" class="display table-id-grid pointer">
            <!--<thead>
                <tr>
                    <th style="display:none">ID </th>
                    <th>Job Name </th>
                    <th>Submitted By</th>
                    <th>Job Status</th>
                    <th>Starting Time</th>
                    <th>Ending Time</th>
                </tr>
            </thead>-->
        </table>
        <!--<div id="divLoader"></div>-->
            <h1 id="feedback"></h1>
       
    
        </div>
</section>
<script id="chartTemplate" type="text/x-kendo-template">
    <div class='col-sm-12' style="margin-bottom:8%;height:#= Height #px; width: #= Width #%; ">
        <div class='box box-primary'>
            <div class='box-header with-border'>
                <h3 class='box-title'>#= Title #</h3>
                <!--<div id='dropdown' class='box-tools pull-right'>
                    <button type='button' id="#=KPI_ID#" class='fa fa-ellipsis-v' onclick="editsettingsFunction(this)"></button>

                </div>-->

            </div>
            <div class='box-body'>
                <center> <div id="#= ID #"></div></center>
                <center><h3 id="WrongMsg#= ID #" style="color:#B71C1C;"></h3></center>
            </div>
        </div>
    </div>
</script>

<script id="KPIRowTemplate" type="text/x-kendo-template">
    <!--<div class='col-sm-12' style="height:100px">
        <h3 class='box-title'>#= Title #</h3>-->

</script>

<script id="KPITemplate" type="text/x-kendo-template">
    <div class="col-lg-3 ">
        <div class="small-cardbox #= colorClass #">

            <span class="no col-sm-6">#= value #</span>
            <h4 class="some-text col-sm-6">#= category #</h4>
            <!--<button class="details btn-link show " onclick="loadNKPIDetails(id)"><i class="fa fa-arrow-circle-right"></i> View Details</button>-->
        </div>
        </div>
</script>   
    <!--<script>
    $(document).ready(function(){
        $('#example2').DataTable();
    });
        </script>-->

