<style>
    #divLoader {
        background: url(dist/img/SmallSpin.gif) no-repeat center center;
        z-index: 1000;
        text-align: center;
        height: 150px;
    }
</style>

<script src="../../scripts/sweetalert.min.js"></script>
   
    <script src=/Views/generatedJS/Reviews_1_2_3_4.js></script>
           <section class="content-header">
    <h5 id="PageTitle">
        Reviews

    </h5>
    <tablename style="display:none">Reviews</tablename>
               
    <ol class="breadcrumb">
        <!--<li><a href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?Dashboard", 0)'><i class="fa fa-dashboard"></i> <b>Home</b></a></li>
         <li > {BreadCrumb} </li>
        <li class="active"><b>Reviews</b></li>-->
    </ol>
</section>

<!-- Main Section Start -->
<section class="content">

    <div class="modal fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>

                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="SubmitForm">
                        <div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> ID</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="ID|1198" value=""/></div></div><div class="form-group col-sm-12" style="display:initial"><label for= "queue" class="col-sm-12 control-label"> Title</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="Title|1199" value=""/></div></div><div class="form-group col-sm-12" style="display:initial"><label for= "queue" class="col-sm-12 control-label"> Description</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="Description|1200" value=""/></div></div><div class="form-group col-sm-12" style="display:initial"><label for= "queue" class="col-sm-12 control-label"> Name</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="Name|1201" value=""/></div></div><div class="form-group col-sm-12" style="display:initial"><label for= "queue" class="col-sm-12 control-label"> Ratings</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="Ratings|1202" value=""/></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> CreateBy</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="CreateBy|1203" value=""/></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> CreateDateTime</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="CreateDateTime|1204" value=""/></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> UpdateBy</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="UpdateBy|1205" value=""/></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> UpdateDateTime</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="UpdateDateTime|1206" value=""/></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> Status</label> <div class="col-sm-9"><input type="text" class="form-control" name="Columns" id="Status|1207" value=""/></div></div>
                        <div class="col-xs-12 text-right">
						 <div class="col-sm-12 btn-pad">
                            <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat">
                                <span class="fa fa-check"></span> Add
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Edit</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> ID</label> <div class="col-sm-9"><label class=" control-label" name="EditColumns" id="ID|1198"></label></div></div><div class="form-group col-sm-12"><label for= "queue" class="col-sm-12 control-label"> Title</label> <div class="col-sm-9"><input type="text" class="form-control" name="EditColumns" id="Title|1199" value=""{Mandatory}/></div></div><div class="form-group col-sm-12"><label for= "queue" class="col-sm-12 control-label"> Description</label> <div class="col-sm-9"><input type="text" class="form-control" name="EditColumns" id="Description|1200" value=""{Mandatory}/></div></div><div class="form-group col-sm-12"><label for= "queue" class="col-sm-12 control-label"> Name</label> <div class="col-sm-9"><input type="text" class="form-control" name="EditColumns" id="Name|1201" value=""{Mandatory}/></div></div><div class="form-group col-sm-12"><label for= "queue" class="col-sm-12 control-label"> Ratings</label> <div class="col-sm-9"><input type="text" class="form-control" name="EditColumns" id="Ratings|1202" value=""{Mandatory}/></div></div>
                        <div class="col-xs-12 text-right">
						<div class="col-sm-12 btn-pad">
                            <button id="UpdateBtn" type="submit"  class="btn btn-primary btn-flat">
                                <span class="fas fa-check "> </span>  Update
                            </button>
                            <button type="button" class="btn btn-secondary"  data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content" style="width:70%; margin-left: 25%;">


                <div class="modal-header" style="background-color:#f0efef;margin-top:50%">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <p>Are you sure you want to delete this record?</p>
                </div>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                    <p id="deleteId" style="display:none"></p>
                    <p id="deleteName" style="display:none"></p>
					 <div class="col-sm-12 btn-pad">
                    <button type="button" class="btn btn-primary btn-flat" style="" onclick="delconfirmFunction()">
                        <span class="fa fa-check"> </span> OK
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fas fa-times"></span> Cancel
                    </button>
</div>
                </div>
            </div>
        </div>
    </div>
    <div id="example" class="CRUDGrid">
        <div class="container-fluid trigger_buttons right-btns">
            <div class="row">


                <!--<div class="col-sm-3">
                    <div class="input-group">
                        <input type = "text" id = "Filter" class="form-control search_box pull-right" placeholder="Search" onkeyup="$('#btnFilter').click(); ">
<span class="input-group-btn">
<button type = "button" id="btnFilter" class="btn btn-primary btn-search"><i class="fa fa-search"></i></button>
</span>

                    </div>
                </div>-->

                <div class="col-sm-12">
                   <div class="pull-right">
                        
                        <button type = "button" id="Insights" onclick = "Insightclick()" insights="KPI" class="btn btn-insight" style="color:#fff"><i class="fa fa-bar-chart" aria-hidden="true"></i> Insights</button>
                    </div>
                </div>
            </div>
            <div id="KPIRow" class="row" style="margin-bottom:1%;display:none">
                <div id="KPI" class="col-sm-12"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="chart_view" style="display:none;margin-top: 1%;"></div>
                </div>
            </div>

        </div>
        <table id="grid" class="display" style="width:100%  !important;height:50%">
           
        </table>
        <div id="divLoader"></div>
            <h1 id="feedback"></h1>
       
    
        </div>
</section>
 
    <!--<script>
    $(document).ready(function(){
        $('#example2').DataTable();
    });
        </script>-->

