
  
<script src="../../scripts/sweetalert.min.js"></script>
    <script src=/Views/generatedJS/Step_Properties_1_4.js></script>
           <section class="content-header">
    <h5 id="PageTitle">
        Step Properties

    </h5>
    <tablename style="display:none">STEPPROPERTIES</tablename>
    <ol class="breadcrumb">
        
    </ol>
</section>

<!-- Main Section Start -->
<section class="content">

    <div class="modal fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>

                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="SubmitForm" data-toggle="validator" role="form">
                        <div class="form-group col-sm-12" style="display:none">
                        <label for= "queue" class="col-sm-12 control-label"> Id</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="Id|833" value=""/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                        <label for= "queue" class="col-sm-12 control-label"> Steps_Id</label> 
                        <div class="col-sm-12">
                            <select size="1" name ="Columns" class="form-control select2 selectSteps_Id" id="Steps_Id|834" value="32"></select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                        <label for= "queue" class="col-sm-3"> StepProperty<span style="color:#B71C1C">*</span></label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" maxlength="50" name="Columns" id="StepProperty|835" value="" data-validation="required"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                        <label for= "queue" class="col-sm-3"> StepPropertyValue</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="StepPropertyValue|836" value=""/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                        <label for= "queue" class="col-sm-12 control-label"> StepPropertyType</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="StepPropertyType|837" value=""/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                        <label for= "queue" class="col-sm-12 control-label"> Project_Id</label> 
                        <div class="col-sm-12">
                            <select size="1" name ="Columns" class="form-control select2 selectProject_Id" id="Project_Id|838" value="1"></select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                        <label for= "queue" class="col-sm-12 control-label"> CreateBy</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="CreateBy|839" value=""/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                        <label for= "queue" class="col-sm-12 control-label"> CreateDateTime</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="CreateDateTime|840" value=""/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                        <label for= "queue" class="col-sm-12 control-label"> UpdateBy</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="UpdateBy|841" value=""/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                        <label for= "queue" class="col-sm-12 control-label"> UpdateDateTime</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="UpdateDateTime|842" value=""/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                        <label for= "queue" class="col-sm-12 control-label"> Status</label>
                         <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="Status|843" value=""/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                        <label for= "queue" class="col-sm-12 control-label"> Order</label> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Columns" id="Order|844" value=""/>
                            </div>
                        </div>
                        <div class="col-xs-12 text-right">
						 <div class="col-sm-12 btn-pad">
                            <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat">
                                <span class="fa fa-plus "></span> Add
                            </button>
                            <button type="button" id="resetform1" class="btn btn-secondary" data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Edit</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12" style="display:none">
                        <label for= "queue" class="col-sm-12 control-label"> Id</label> 
                        <div class="col-sm-12">
                            <label class=" control-label" name="EditColumns" id="Id|833"></label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                        <label for= "queue" class="col-sm-12 control-label"> Steps_Id</label> 
                        <div class="col-sm-12">
                            <select size="1" name ="EditColumns" class="form-control select2 selectSteps_Id" id="Steps_Id|834" value="32"></select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                        <h5 for= "queue" class="col-sm-3"> StepProperty<span style="color:#B71C1C">*</span></h5> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="EditColumns" id="StepProperty|835" value="" data-validation="required"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                        <h5 for= "queue" class="col-sm-12 control-label"> StepPropertyValue</h5> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" maxlength="50" name="EditColumns" id="StepPropertyValue|836" value=""/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                        <h5 for= "queue" class="col-sm-12 control-label"> StepPropertyType</h5> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="EditColumns" id="StepPropertyType|837" value=""/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                        <h5 for= "queue" class="col-sm-12 control-label"> Project_Id</h5> 
                        <div class="col-sm-12">
                            <select size="1" name ="EditColumns" class="form-control select2 selectProject_Id" id="Project_Id|838" value="1"></select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                        <h5 for= "queue" class="col-sm-12 control-label"> Order</h5> 
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="EditColumns" id="Order|844" value=""/>
                            </div>
                        </div>
                        <div class="col-xs-12 text-right">
						<div class="col-sm-12 btn-pad">
                            <button id="UpdateBtn" type="submit"  class="btn btn-primary btn-flat">
                                <span class="fas fa-check  "> </span>  Update
                            </button>
                            <button type="button" id="resetform2" class="btn btn-secondary"  data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>-->
    <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content" style="width:70%; margin-left: 25%;">


                <div class="modal-header" style="background-color:#f0efef;margin-top:50%">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <p>Are you sure you want to delete this record?</p>
                </div>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                    <p id="deleteId" style="display:none"></p>
                    <p id="deleteName" style="display:none"></p>
					 <div class="col-sm-12 btn-pad">
                    <button type="button" class="btn btn-primary btn-flat" style="" onclick="delconfirmFunction()">
                        <span class="fa fa-check "> </span> OK
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fas fa-times"></span>Cancel
                    </button>
</div>
                </div>
            </div>
        </div>
    </div>
    <div id="example" class="CRUDGrid">
        <div class="container-fluid trigger_buttons right-btns">
            <div class="row">


                <!--<div class="col-sm-3">
                    <div class="input-group">
                        <input type = "text" title="Search" id = "Filter" class="form-control search_box pull-right" placeholder="Search" onkeyup="$('#btnFilter').click();">
<span class="input-group-btn">
<button type = "button" id="btnFilter" class="btn btn-primary btn-search"><i class="fa fa-search"></i></button>
</span>

                    </div>
                </div>-->

                <div class="col-sm-12">
                   <div class="pull-right">
                        
                        <button type = "button" id="Insights" onclick = "Insightclick()" insights="" class="btn btn-insight" style="color:#fff" disabled><i class="fa fa-bar-chart" aria-hidden="true"></i> Insights</button>
                    </div>
                </div>
            </div>
            <div id="KPIRow" class="row" style="margin-bottom:1%;display:none">
                <div id="KPI" class="col-sm-12"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="chart_view" style="display:none;margin-top: 1%;"></div>
                </div>
            </div>

        </div>
        <table id="grid" class="display" style="width:100%  !important;height:50%">
            
        </table>
            <h1 id="feedback"></h1>
       
    
        </div>
</section>
<script id="chartTemplate" type="text/x-kendo-template">
    <div class='col-sm-12' style="margin-bottom:8%;height:#= Height #px; width: #= Width #%; ">
        <div class='box box-primary'>
            <div class='box-header with-border'>
                <h3 class='box-title'>#= Title #</h3>
                <!--<div id='dropdown' class='box-tools pull-right'>
                    <button type='button' id="#=KPI_ID#" class='fa fa-ellipsis-v' onclick="editsettingsFunction(this)"></button>

                </div>-->

            </div>
            <div class='box-body'>
                <center> <div id="#= ID #"></div></center>
                <center><h3 id="WrongMsg#= ID #" style="color:#B71C1C;"></h3></center>
            </div>
        </div>
    </div>
</script>

<script id="KPIRowTemplate" type="text/x-kendo-template">
    <!--<div class='col-sm-12' style="height:100px">
        <h3 class='box-title'>#= Title #</h3>-->

</script>

<script id="KPITemplate" type="text/x-kendo-template">
    <div class="col-lg-3 ">
        <div class="small-cardbox #= colorClass #">

            <span class="no col-sm-6">#= value #</span>
            <h4 class="some-text col-sm-6">#= category #</h4>
            <!--<button class="details btn-link show " onclick="loadNKPIDetails(id)"><i class="fa fa-arrow-circle-right"></i> View Details</button>-->
        </div>
        </div>
</script>
   
<script>
    $('#resetform1').click(function () {
        $('#SubmitForm')[0].reset();
    });
    $('.close').click(function () {
        $('#SubmitForm')[0].reset();
    });
    $('#resetform2').click(function () {
        $('#UpdateForm')[0].reset();
    });
    $('.close').click(function () {
        $('#UpdateForm')[0].reset();
    });
</script>
    
    <!--<script>
    $(document).ready(function(){
        $('#example2').DataTable();
    });
        </script>-->
<script>
    $.validate({
        form: '#SubmitForm,#UpdateForm'

    });

    // Restrict presentation length


</script>

