<script src="../../scripts/sweetalert.min.js"></script>
<script src=/Views/generatedJS/User_1_2_4.js></script>

<style>
    .fa-edit {
        color: lightseagreen;
    }

    .fa-trash {
        color: #B71C1C;
    }

    .small-cardbox {
        margin-bottom: 30px;
    }
</style>
<section class="content-header">
    <h5 id="PageTitle">
        User

    </h5>
    <tablename style="display:none">USER</tablename>

    <ol class="breadcrumb">
        <!--<li><a href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?Dashboard", 0)'><i class="fa fa-dashboard"></i> <b>Home</b></a></li>
         <li > {BreadCrumb} </li>
        <li class="active"><b>User</b></li>-->
    </ol>
</section>

<!-- Main Section Start -->
<section class="content">

    <div class="modal fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="SubmitForm" data-toggle="validator" role="form">
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> ID</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="ID|143" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> First Name</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="FirstName|144" value="" autocomplete="off" data-validation="required" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Last Name</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="LastName|145" value="" autocomplete="off" data-validation="required" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Email Id</label>
                            <div class="col-sm-12">
                                <input type="text" data-validation="email" class="form-control" name="Columns" id="Email_ID|146" autocomplete="off" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Contact No</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" onkeypress="return isNumberKey(event)" name="Columns" id="ContactNo|147" value="" autocomplete="off" data-validation="length" data-validation-length="10-15" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> User Name</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="UserName|148" value="" autocomplete="off" data-validation="required" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Password</label>
                            <div class="col-sm-12" id="aq1">
                                 <input type="password" class="form-control pwd" name="Columns" id="Password|149"  onchange="validatepwd()"  value="" autocomplete="new-password" data-validation="required" {Length}  />
                                <p id="pwdValid" style="display:none;color:red">Password must have minimum 8 characters (Ex: G.Rk56)</p>
                                <p id="pwdValid1"style="display:none;color:red">Password length should be atleast 8 characters and atmost 13 characters</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Role</label>
                            <div class="col-sm-12">
                                <select size="1" name="Columns" class="form-control select2 selectRole_ID" onchange="validateContent(this)" id="Role_ID|150" value=""></select>
                                <span id="Validate_Roles" style="display:none;color:#B71C1C">Please fill out this field</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Line of Business</label>
                            <div class="col-sm-12">
                                <select  id="LOB"  name="Columns" class="form-control select2 selectLOB_ID"  onchange="validateContent(this)" value="" multiple data-validation="required"></select>

                                <span id="Validate_Roles" style="display:none;color:#B71C1C">Please fill out this field</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> CreateBy</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateBy|151" value="" /></div>
                        </div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> CreateDatetime</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateDatetime|152" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> UpdateBy</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateBy|153" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> UpdateDatetime</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateDatetime|154" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for="queue" class="col-sm-12 control-label"> Status</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Status|155" value="" /></div></div>
                        <div class="col-xs-12 text-right">
                            <div class="col-sm-12 btn-pad">
                                <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat">
                                    <span class="fa fa-check"></span> Add
                                </button>
                                <button type="button" class="btn btn-secondary" onclick="this.form.reset();" data-dismiss="modal">
                                    <span class="fas fa-times"></span> Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Edit</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> ID</label>
                            <div class="col-sm-12">
                                <label class=" control-label" name="EditColumns" id="ID|143">
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> First Name</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="FirstName|144" value="" data-validation="required" {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Last Name</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="LastName|145" value="" data-validation="required" {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Email Id</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="EditColumns" id="Email_ID|146" value="" {Length}  data-validation="email"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Contact No</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" onkeypress="return isNumberKey(event)" name="EditColumns" id="ContactNo|147" value="" data-validation="length" data-validation-length="10-15" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> User Name</label>
                            <div class="col-sm-12">
                                <input type="text"  class="form-control" name="EditColumns" id="UserName|148" value="" data-validation="required" {Length} />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Password</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control pwd" name="EditColumns" id="Password|149" value="" onchange="validatepwd()" data-validation="required" {Length}  />
                                <p id="pwdValid" style="display:none;color:red">Password must have minimum 8 characters (Ex: G.Rk56)</p>
                                <p id="pwdValid1" style="display:none;color:red">Password length should be atleast 8 characters and atmost 13 characters</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label"> Role</label>
                            <div class="col-sm-12">
                                <select size="1" name="EditColumns" class="form-control select2 selectRole_ID" id="Role_ID|150" value="" data-validation="required"></select>
                            </div>
                        </div><div class="form-group col-sm-12" style="display:initial">
                            <label for="queue" class="col-sm-12 control-label"> Line of Business</label>
                            <div class="col-sm-12">
                                <select size="1" name="EditColumns" class="form-control select2 demo1" id="LOB" value="" multiple data-validation="required"></select>
                            </div>
                        </div>
                        <div class="col-xs-12 text-right" style="">
                            <button id="UpdateBtn" type="submit" style="" class="btn btn-primary btn-flat">
                                <span class="fas fa-check "> </span>  Update
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content" style="width:70%; margin-left: 25%;">
                <div class="modal-header" style="background-color:#f0efef;margin-top:50%">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <p>Are you sure you want to delete this record?</p>
                </div>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                    <p id="deleteId" style="display:none"></p>
                    <p id="deleteName" style="display:none"></p>
                    <div class="col-sm-12 btn-pad">
                        <button type="button" class="btn btn-primary btn-flat" style="" onclick="delconfirmFunction()">
                            <span class="fa fa-check"> </span> OK
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <span class="fas fa-times"></span> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="example" class="CRUDGrid">
        <div class="container-fluid trigger_buttons right-btns">
            <div class="row">
                <!--<div class="col-sm-3">
                    <div class="input-group">
                        {FilterHTML}
                    </div>
                </div>-->
                <div class="col-sm-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-add" onclick="addFunction(this)"><i class="fa fa-plus"></i> Add New</button>
                        <button type="button" id="Insights" onclick="Insightclick();" insights="NKPI" class="btn btn-insight" style="color:#fff"><i class="fa fa-bar-chart" aria-hidden="true"></i> Insights</button>
                    </div>
                </div>
            </div>
            <div id="KPIRow" class="row" style="margin-bottom:1%;display:none">
                <div id="KPI" class="col-sm-12"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="chart_view" style="display:none;margin-top: 1%;"></div>
                </div>
            </div>
        </div>
        <table id="grid" class="display" style="width:100%  !important;height:50%"></table>
        <h1 id="feedback"></h1>
    </div>


</section>
<script>
    $.validate({
        form: '#SubmitForm,#UpdateForm'

    });

    function validatepwd() {
        debugger;
        var pass = $(".pwd").val();
        var len = pass.length

        if (len == '') {
            $('#pwdValid').hide();
            $('#pwdValid1').hide();
        }
        else {
            if (len > 13) {
                $('#pwdValid').hide();
                $('#pwdValid1').show();

            }
            else {

                if (!/[A-Z]/.test(pass)) {
                    $('#pwdValid').show();
                    return false;

                } else if (!/[a-z]/.test(pass)) {
                    $('#pwdValid').show();
                    return false;

                } else if (!/[0-9]/.test(pass)) {
                    $('#pwdValid').show();
                    return false;
                }

                else if (!/[!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]/.test(pass)) {
                    $('#pwdValid').show();
                    return false;
                }
                else if ((pass.length < 8) || (pass.length > 12)) {
                    //$('#pwdValid1').show();
                    $('#pwdValid').show();
                    return false;
                }
                else {
                    $('#pwdValid').hide();
                    //$('#pwdValid1').hide();
                    return true;
                }
            }
        }
        debugger;
        


    }
</script>

<!--<script>
$(document).ready(function(){
    $('#example2').DataTable();
});
</script>-->
