<script src="../../scripts/sweetalert.min.js"></script>

<script src=/Views/generatedJS/Voit_1_2_3_4.js></script>
<style>
    .fa-edit {
        color: lightseagreen;
    }

    .fa-trash {
        color: #B71C1C;
    }
</style>
<section class="content-header">
    <h5 id="PageTitle">
        Voit

    </h5>
    <tablename style="display:none">Accounts</tablename>

    <ol class="breadcrumb">
        <!--<li><a href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?Dashboard", 0)'><i class="fa fa-dashboard"></i> <b>Home</b></a></li>
         <li > {BreadCrumb} </li>
        <li class="active"><b>Voit</b></li>-->
    </ol>
</section>

<!-- Main Section Start -->
<section class="content">

    <div class="modal fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>

                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="SubmitForm">
                        <div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> ID</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="ID|" value="" /></div></div><div class="form-group col-sm-12" style="display:initial"><label for= "queue" class="col-sm-12 control-label"> Name</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Name|" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> DateOfBirth</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="DateOfBirth|" value="" /></div></div><div class="form-group col-sm-12" style="display:initial"><label for= "queue" class="col-sm-12 control-label"> Location</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Location|" value="" /></div></div><div class="form-group col-sm-12" style="display:initial"><label for= "queue" class="col-sm-12 control-label"> CurrentStatus</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CurrentStatus|" value="" /></div></div><div class="form-group col-sm-12" style="display:initial"><label for= "queue" class="col-sm-12 control-label"> Points</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Points|" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> CreateBy</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateBy|" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> CreateDateTime</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateDateTime|" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> UpdateBy</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateBy|" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> UpdateDateTime</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateDateTime|" value="" /></div></div><div class="form-group col-sm-12" style="display:none"><label for= "queue" class="col-sm-12 control-label"> Status</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Status|" value="" /></div></div>
                         <div class="col-xs-12 text-right">
						 <div class="col-sm-12 btn-pad">
                            <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat">
                                <span class="fa fa-plus"></span> Add
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header" style="background-color:#f0efef">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Edit</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12"><label for= "queue" class="col-sm-12 control-label"> ID</label> <div class="col-sm-12"><label class=" control-label" name="EditColumns" id="ID|"></label></div></div><div class="form-group col-sm-12"><label for= "queue" class="col-sm-12 control-label"> Name</label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Name|" value=""{Mandatory} {Length}/></div></div><div class="form-group col-sm-12"><label for= "queue" class="col-sm-12 control-label"> Location</label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Location|" value=""{Mandatory} {Length}/></div></div><div class="form-group col-sm-12"><label for= "queue" class="col-sm-12 control-label"> CurrentStatus</label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="CurrentStatus|" value=""{Mandatory} {Length}/></div></div><div class="form-group col-sm-12"><label for= "queue" class="col-sm-12 control-label"> Points</label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Points|" value=""{Mandatory} {Length}/></div></div>
                        <div class="col-xs-12 text-right" style="">
                            <button id="UpdateBtn" type="submit" style="" class="btn btn-primary btn-flat">
                                <span class="fas fa-check "> </span>  Update
                            </button>
                            <button type="button" class="btn btn-secondary"  data-dismiss="modal">
                                <span class="fas fa-times"></span> Cancel
                            </button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog">
            <div class="modal-content" style="width:70%; margin-left: 25%;">


                <div class="modal-header" style="background-color:#f0efef;margin-top:50%">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <p>Are you sure you want to delete this record?</p>
                </div>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>-->
                    <p id="deleteId" style="display:none"></p>
                    <p id="deleteName" style="display:none"></p>
					<div class="col-sm-12 btn-pad">
                    <button type="button" class="btn btn-primary btn-flat" style="" onclick="delconfirmFunction()">
                        <span class="fa fa-check"> </span> OK
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fas fa-times"></span> Cancel
                    </button>
</div>
                </div>
            </div>
        </div>
    </div>
    <div id="example" class="CRUDGrid">
        <div class="container-fluid trigger_buttons">
            <div class="row">


                <!--<div class="col-sm-3">
                    <div class="input-group">
                        {FilterHTML}
                    </div>
                </div>-->

                <div class="col-sm-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-add" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus"></i> Add New</button>
                        <button type = "button" id="Insights" onclick = "Insightclick();" insights="KPI" class="btn btn-insight" style="color:#fff"><i class="fa fa-bar-chart" aria-hidden="true"></i> Insights</button>
                    </div>
                </div>
            </div>
            <div id="KPIRow" class="row" style="margin-bottom:1%;display:none">
                <div id="KPI" class="col-sm-12"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="chart_view" style="display:none;margin-top: 1%;"></div>
                </div>
            </div>

        </div>
        <table id="grid" class="display" style="width:100%  !important;height:50%"></table>
        <h1 id="feedback"></h1>
    </div>


</section>

<!--<script>
$(document).ready(function(){
    $('#example2').DataTable();
});
    </script>-->

