﻿<script src="../scripts/sweetalert.min.js"></script>
<script src="Add_newgeneration.js"></script>
<script src="ApplicationURL.js"></script>

<style>
    .k-button {
        border-radius: 4px !important;
        border-color: #c5c5c5 !important;
        color: #2e2e2e !important;
        background-color: #3c8dbc !important;
        background-position: 50% 50%;
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.6)),to(rgba(255,255,255,0)));
        background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
        background-image: none,linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
    }

        .k-button:focus:active:not(.k-state-disabled):not([disabled]) {
            -webkit-box-shadow: inset 0 0 3px 1px #386386;
            box-shadow: inset 0 0 3px 1px #386386;
        }
      .k-button.k-state-active, .k-button:active {
            color: #fff !important;
            background-color: #386386 !important;
            border-color: #395267 !important;
            background-image: url(textures/highlight.png);
            background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.2)),to(rgba(255,255,255,0)));
            background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.2) 0,rgba(255,255,255,0) 100%);
            background-image: none,linear-gradient(to bottom,rgba(255,255,255,.2) 0,rgba(255,255,255,0) 100%);
        }

    label {
        margin-top: 0.2% !important;
    }

    .k-multiselect {
        position: relative;
    }

        .k-multiselect:after {
            content: "\25BC";
            position: absolute;
            top: 23%;
            right: 15px;
            font-size: 12px;
        }

        .k-multiselect.opened:after {
            content: "\25C0";
        }

        .k-multiselect > .k-multiselect-wrap > .k-i-close {
            right: -5px;
            font: 14px/1 WebComponentsIcons;
            top: 9px;
        }

    .k-list > .k-state-selected {
        background-color: #3c8dbc;
    }

    .k-multiselect-wrap li {
        margin: 1px 0 1px 1px;
        padding: 0em 1.6em .1em .4em;
        line-height: 2.0em;
        float: left;
        position: relative;
        font-size: 11px;
    }
    input[type=text] {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
  
</style>

<script>
        if (window.location.search == "?Add_newgeneration") {
                AddNewScreen()
            }
            else {
                var screen_id = window.location.search.split('?')[2].split('=')[1];
                loadScreensDetails(screen_id);                
                if (ScreenIDForRegenration != "" && ScreenIDForRegenration != null && typeof (ScreenIDForRegenration)!=typeof(undefined)) {
                    $("#SaveChanges").click();
                }
            }


</script>
<script>
    $("#Roles").select2({
        placeholder: "Select Option",
        allowClear: true
    });
</script>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h5 id="PageTitle">
        Screen Generation

    </h5>
    <ol class="breadcrumb">
        <li><span href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?Dashboard", 0)'><i class="fas fa-home"></i><b> Home</b></span></li>
        <li><span href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?Screen_Generation", 0)'><i class="fa fa-user"></i> <b>Administrator</b></span></li>
        <li><span href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?Screen_Generation", 0)'><i class="far fa-list-alt"></i> <b>Screens</b></span></li>
        <li class="active"><b>Screen Generation</b></li>
    </ol>
    <script>if(typeof(Screen_ID)!="undefined")menuID = Screen_ID;</script>
</section>

<section id="addScreen" class="content" >

    <div class="row">

        <div class="col-sm-12">
            <div class="well-sm">

                <form>


                    <div class="box-body whiteBoxPane">
                        <div class="form-group col-sm-6">

                            <label class="col-sm-12 col-form-label" style="">Screen Name<span style="color:#B71C1C;" aria-hidden="true">*</span></label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="s_name" onfocus="validateContent(this)" onkeyup="validateLength(this)" autocomplete="off" required>
                                <span id="Validate_s_name" style="display:none;color:#B71C1C">Please fill out this field</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                           <label class="col-md-12 secondDiv col-form-label">Table Name<span style="color:#B71C1C;" aria-hidden="true">*</span></label>

                            <div class="col-md-12">
                                <select class="form-control select2" style="width: 100%;" id="t_name" onfocus="validateContent(this)" required></select>
                                <span id="Validate_t_name" style="display:none;color:#B71C1C">Please fill out this field</span>
                            </div>
                        </div>

                        <div class="form-group col-sm-6 check_boxes">


                            <div class="col-md-6">
                                <label class="robot_check">
                                    <input type="checkbox" id="a_insert" />
                                    <span class="rb_checkmark"></span>
                                    <label class="checkbox-label">Allow Insert</label>
                                </label>
                            </div>


                            <div class="col-md-6">
                                <label class="robot_check">
                                    <input type="checkbox" id="a_edit" />
                                    <span class="rb_checkmark"></span>
                                    <label class="secondDiv checkbox-label">Allow Edit</label>
                                </label>
                            </div>
                        </div>


                        <div class="form-group col-sm-6 check_boxes">

                            <div class="col-md-6">
                                <label class="robot_check">
                                    <input type="checkbox" id="a_delete" />
                                    <span class="rb_checkmark"></span>
                                    <label class="checkbox-label">Allow Delete</label>
                                </label>
                            </div>


                            <div class="col-md-6">
                                <label class="robot_check">
                                    <input type="checkbox" id="s_child" />
                                    <span class="rb_checkmark"></span>
                                    <label class="secondDiv checkbox-label">Show as a Child</label>
                                </label>
                            </div>
                        </div>


                        <div class="form-group col-sm-6">
                            <label class="col-sm-12 col-form-label" style="">Default Sort</label>
                            <div class="col-md-12">
                                <select id="d_sort" class="form-control select2">
                                    <option value="null">Select Option</option>
                                    <option value="ASC">ASC</option>
                                    <option value="DESC">DESC</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-12 secondDiv col-form-label">Default Filter Clause</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="d_filter" />
                            </div>
                        </div>

                        <div class="form-group col-sm-6" style="display:none">

                            <label class="col-sm-12 col-form-label">Preferences</label>
                            <div class="col-md-12">
                                <select id="Preferences" class="form-control select2">
                                    <option>Select Option</option>
                                    <option>All</option>
                                    <option>Role</option>
                                    <option>User</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group col-sm-6" style="display:none">
                            <label id="fieldLabel" class="col-sm-12 secondDiv col-form-label">Field</label>
                            <div class="col-md-12">
                                <select id="Fields" style="display:none" class="form-control select2"></select>
                            </div>
                        </div>


                        <div class="form-group col-sm-6">
                            <label class="col-sm-12 col-form-label" style="">Row Count</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="r_count" autocomplete="off" />
                            </div>
                        </div>



                        <div class="form-group col-sm-6">
                            <label class="col-sm-12 col-form-label">Insights</label>
                            <div class="col-md-12">
                                <select id="Insights" class="form-control select2">
                                    <option>Select Option</option>
                                    <option>None</option>
                                    <option>NKPI</option>
                                    <option>KPI</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-12 secondDiv col-form-label">Role<span style="color:#B71C1C;" aria-hidden="true">*</span></label>
                            <div id="rolesDiv" class="col-md-12">
                                <select id="Roles" class="form-control select2 select2-hidden-accessible" onchange="validateContent(this)" multiple="multiple" required></select>

                                <span id="Validate_Roles" style="display:none;color:#B71C1C">Please fill out this field</span>
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="col-sm-12 secondDiv col-form-label">Form Type</label>
                            <div class="col-md-12">
                                <select id="FormType" class="form-control select2">
                                    <option value="null">Select Option</option>
                                    <option value="popup">PopUp</option>
                                    <option value="inline">Inline</option>

                                </select>
                            </div>
                        </div>


                    </div>

                </form>


                <!-- /.box-header -->
                <div class="whiteBoxPane" id="tableSection" style="display:none;">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover" role="grid" aria-describedby="example2_info">

                                    <thead class="mystyle">
                                        <tr>
                                            <th rowspan="2">Active</th>
                                            <th rowspan="2">Column Name</th>
                                            <th rowspan="2">Display Name</th>

                                            <th rowspan="2">Column Order</th>
                                            <th style="text-align:center" colspan="3">Show in</th>


                                            <th rowspan="2">Default Value</th>

                                            <th id="EditTh" style="display:none" rowspan="2"></th>


                                        </tr>
                                        <tr>
                                            <th>Grid</th>
                                            <th>Search</th>
                                            <th>Form</th>
                                        </tr>


                                    </thead>
                                    <tbody id="tbodyId" class="bmystyle"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <span id="Validate_Submit" style="display:none;margin-left:60%;color:#B71C1C">Please fill in all the required fields and Try Again!!</span>
                <div class="col-sm-12 text-right">
                    <button class="btn btn-secondary" onclick='layoutRefresh(window.location.origin+"/Views/Layout.html?Screen_Generation",0)'><span class="fas fa-arrow-left"></span> Back</button>
                    <button id="SaveChanges" class="btn btn-primary" onclick="insertDetails()"><i class="fas fa-save"></i>Save </button>
                </div>
            </div>
        </div>


    </div>

    <div class="modal fade" id="EditModal" data-backdrop="static" style="background: rgba(0,0,0,0);top:50px">

        <div class="modal-dialog" style="width:800px">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #386386;padding:5px">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span style="color:white" aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title" style="color:white;">Edit Column</div>
                </div>

                <div class="modal-body" style="overflow:hidden;font-size:12px">
                    <div>
                        <form>
                            <h4 class="modal_custom_title">General</h4>


                            <div class="form-group col-md-12">
                                <label class="col-sm-12 col-form-label" style="">Column Name<span style="color:#B71C1C" class="text-star">*</span></label>
                                <div class="col-sm-12">
                                    <input type="text" class="col-md-12 text-here form-control" id="column_name" readonly />
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="col-md-12 col-form-label" style="margin-left:0%">Column Label Name</label>
                                <div class="col-sm-12">
                                    <input type="text" class="col-md-12 text-here form-control" id="column_label_name">
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="col-sm-12 col-form-label" style="">Widget Type</label>
                                <div class="col-sm-12">
                                    <select class="col-md-3 form-control" id="widget_type" style="background: white;"><option value="TextBox">Text Box</option><option value="CheckBox">Check Box</option><option value="DropDown">DropDown</option><option value="Textarea">Text Area</option></select>
                                </div>
                                <!--<label class="col-md-12 col-form-label">Show in Grid</label>
                            <div class="col-sm-12">
                                <input type="checkbox" id="s_grid" style="float:left">
                            </div>-->


                            </div>
                            <div class="form-group col-sm-12">

                                <label class="robot_check col-sm-4">
                                    <input type="checkbox" id="s_grid" />
                                    <span class="rb_checkmark"></span>
                                    <label class="control-label">Show in Grid</label>
                                </label>
                                <!--<label class="col-sm-12 col-form-label" style="">Show in Search</label>
                            <div class="col-sm-12">
                                <input type="checkbox" id="s_search" style="float:left">
                            </div>-->

                                <label class="robot_check col-sm-4">
                                    <input type="checkbox" id="s_search" />
                                    <span class="rb_checkmark"></span>
                                    <label class="control-label">Show in Search</label>
                                </label>

                                <label class="robot_check col-sm-4">
                                    <input type="checkbox" id="s_form" />
                                    <span class="rb_checkmark"></span>
                                    <label class="control-label">Show in Form</label>
                                </label>

                                <!--<label class="col-md-12 col-form-label">Show in Form</label>
                            <div class="col-sm-12">
                                <input type="checkbox" id="s_form" style="float:left">
                            </div>-->

                                <label class="robot_check col-sm-4">
                                    <input type="checkbox" id="r_only" />
                                    <span class="rb_checkmark"></span>
                                    <label class="control-label">Read Only</label>
                                </label>

                                <label class="robot_check col-sm-4">
                                    <input type="checkbox" id="mandatory" name="MandatoryField" />
                                    <span class="rb_checkmark"></span>
                                    <label class="control-label">Mandatory</label>
                                </label>
                            </div>
                            <!--<div class="form-group col-sm-12">
                            <label class="col-sm-12 col-form-label" style="">Read Only</label>
                            <div class="col-sm-12">
                                <input type="checkbox" id="r_only" style="float:left">
                            </div>
                            <label class="col-md-12 col-form-label">Mandatory</label>
                            <div class="col-sm-12">
                                <input type="checkbox" id="mandatory" name="MandatoryField" style="float:left">
                            </div>
                        </div>-->
                            <div class="form-group col-sm-12">
                                <label class="col-sm-12 col-form-label" style="">Length</label>
                                <div class="col-sm-12">
                                    <input type="number" class="text-here form-control" id="l_number" name="Length" style="float:left">
                                </div>
                            </div>
                            <!--<div class="form-group col-sm-12">

                                <label class="col-md-12 col-form-label">Default Type</label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="d_type" style="background: white;"><option value="PROJECT">PROJECT</option><option value="User">User</option><option selected="" disabled="" hidden="" style="display: none" value=""></option></select>
                                </div>
                            </div>-->
                            <!--<div class="form-group col-sm-12">
                                <label class="col-md-12 col-form-label" style="margin-left:0%">Data Type</label>
                                <div class="col-sm-12">
                                    <input type="text" class="col-md-3 text-here form-control" id="data_type">
                                </div>
                            </div>-->
                            <!--<div class="form-group col-sm-12">
                                <label class="col-sm-12 col-form-label" style="">Default Value</label>
                                <div class="col-sm-12">
                                    <input type="text" class="col-md-3 text-here form-control" id="d_value">
                                </div>
                            </div>-->

                            <!--<div class="form-group col-sm-12">
                                <label class="col-md-12 col-form-label " style="margin-left:0%">Column Order</label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="c_order" style="background: white;"><option value="PROJECT">PROJECT</option><option value="User">User</option><option selected="" disabled="" hidden="" style="display: none" value=""></option></select>
                                </div>
                            </div>-->
                            <div class="form-group col-sm-12">
                                <label class="col-sm-12 col-form-label" style="">Text Align</label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="t_align" style="background: white;"><option value="PROJECT">PROJECT</option><option value="User">User</option><option selected="" disabled="" hidden="" style="display: none" value=""></option></select>
                                </div>

                            </div>
                            <div class="form-group col-sm-12">
                                <label class="col-md-12 col-form-label" style="margin-left:0%">Width</label>
                                <div class="col-sm-12">
                                    <input type="text" class="col-md-3 text-here form-control" id="width">
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="col-sm-12 col-form-label" style="">Tool Tip</label>
                                <div class="col-sm-12">
                                    <input type="text" class="text-here form-control" id="tool_tip">
                                </div>

                            </div>

                            <div id="widget" style="display:none">
                                <h4 style="margin-top:0px;margin-bottom:0px;font-weight:900;color: #386386;">Widget Properties</h4>
                                <hr style="margin-top:0px" />
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-12 col-form-label" style="">Query<span style="color:#B71C1C" class="text-star">*</span></label>
                                    <div class="col-md-12">
                                        <input type="text" class="text-here form-control" id="query" style="float:left">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 btn-pad">
                        <button type="button" class="btn btn-primary btn-primary btn-flat" id="SaveColumn">
                            <span class="fas fa-check "></span> Update
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <span class="fas fa-times"></span>Cancel
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>



