﻿
<style>
    td {
        padding-left: 15px !important;
        padding: 6px;
    }
    tr:hover {
            background-color: #dddddd61;
        }
    th, td {
        min-height: 150 !important;
    }
    input[type="text"] {
      
        border-radius: 2px;
        width: 100%;
        padding: 5px;
    }
    .form-group label {
        font-size: 18px;
        font-weight: 400;
        font-family: inherit;
    }
    table input[type="text"] {
      
        border-radius: 2px;
        width: 95%;
        padding: 5px;
    }
    input[type="checkbox"] {
        cursor: pointer;
        width: 16px;
        height: 16px;
        vertical-align: baseline;
    }
    btn {
        border: 0px solid transparent !important;
    }
    .search {
        border-radius: 5px;
        border: 1px solid black;
        box-shadow: none !important;
        margin-left: 5px;
        border-radius: 5px;
        box-shadow: 0 0px 3px #065292 !important;
        border: 0px solid #ccc !important;
        height: 24px !important;
    }
    .header {
        background: white;
        color: black;
        margin: 10px 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }
    .margin {
        margin: 5px 0px;
    }
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, #newRow tr {
        display: none;
    }
    .table.dataTable thead th, .table.dataTable thead td {
        border-bottom: 0px solid #111 !important;
    }
</style>
<script src="Create_Edit.js"></script>

<section class="content-header">
    <h5 id="PageTitle">
        Create Table
    </h5>
    <ol class="breadcrumb">
        <li><span href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?Dashboard", 0)'><i class="fas fa-home"></i><b> Home</b></span></li>
        <li><span href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?Tablemanager", 0)'><i class="fa fa-user"></i> <b>TableManager</b></span></li>
        <li class="active"><b>Create Table</b></li>
    </ol>
    <script>
          var menuID = 213;
    </script>
</section>
<section class="content">
    <div class="row row-edit">
        <div class="col-sm-12 margin">
            <div class="col-sm-6 no-padding-left">

                <div class="form-group">
                    <input id="table_id" class="display-none"> </input>
                    <label for="tmane">Table Name<span class="star">*</span></label>
                    <input type="text" class="form-control" id="tname" name="tablename" onchange="tableName()" placeholder="Table Name" onkeypress="return blockSpecialChar(event)" required>
                </div>
                <div class="form-group">
                    <label for="exampleSelect1">Table Category</label>
                    <select class="form-control" id="categoryvalue">
                        <option value="select" selected disabled hidden>Select Option</option>
                        <option>Fact</option>
                        <option>Dimension</option>
                    </select>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="comments">Comments</label>
                    <textarea class="form-control" id="comment" rows="4"></textarea>
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-right margin">
            <button type="submit" id="tbdata" class="btn btn-primary btn-flat"><i class="fa fa-plus fa-margin-right"></i>Add new column</button>
        </div>
        <div class="col-sm-12 margin create-table">
            <table id="grid_columns" class="display create-table-id-grid"></table>


        </div>
        <div class="col-sm-12 text-right" style="margin-bottom: 10px">
            <button type="button" class="btn btn-secondary" id="btn_back"><i class="fas fa-arrow-left fa-margin-right" aria-hidden="true" ></i>Back</button>
            <button type="button" class="btn btn-primary btn-flat" id="btn_Save" disabled><i class="fas fa-save fa-margin-right"></i>Save</button>
        </div>

    </div>
</section>
