﻿<style>
    .content {
    }

    .logo_text {
        pointer-events: none;
        padding: 0px 10px;
    }

    .logo_text img{
    width:100%;
    }

    .shadow:hover {
        /*box-shadow: 10px 10px 5px #888888;*/
    }

    .shadow {
        /*width: 300px;
        height: 150px;
        -webkit-transition: .3s ease-in-out;
        transition: 2s ease-in-out;*/
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 2s ease-in-out;
        transition: 2s ease-in-out;
    }

    .wrapper {
        overflow: hidden !important;
    }

    .Dashboard-icon {
        width: 50%;
    }

    .shadow :hover {
        /*width: 250px;*/
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        /*box-shadow: 0 0px 1px rgba(0,0,0,0.2)
         box-shadow: 3px 3px 0px #888888;*/
        -webkit-filter: drop-shadow(5px 5px 5px #222 );
        filter: drop-shadow(5px 5px 5px #808080);
    }

    .btn-profile {
        border: none !important;
        border-radius: 8px !important;
    }

    @media (min-width: 768px) {
        div#content-Div.dash-wrapper {
            margin-left: 0px !important;
        }

        .main-sidebar.dash_sider {
            background: white !important;
            box-shadow: none !important;
        }

            .main-sidebar.dash_sider .sidebar {
                display: none;
            }

        .logo_text {
            box-shadow: 0px 0px 2px rgba(0,0,0,0.2) !important;
        }
    }

    .flogo_text {
        display: none;
    }

    aside.main-sidebar.dash_sider {
        background: transparent !important;
        width: 80px;
    }

    #content-Div {
        white-space: normal !important;
        margin-left: 0px;
        width: 100% !important;
    }

    .skin-blue .content-header {
        margin-left: 80px !important;
        padding: 0px 20px !important;
    }

    a#expandToggle {
        display: none !important;
    }
</style>

<section class="content-header">

    <h5 id="PageTitle">Dashboard</h5>



</section>

<div class="dashboard-content">
    <div class="d-lay"><h3 class="dash-layout">Dashboard</h3></div>
    <div class="container-fluid" style=" ">
        <div class="row">
            <div class="col-sm-12" id="dashboard">



            </div>
        </div>
    </div>
</div>
<script>
    function icons() {
        
        var x = localStorage.getItem("Result");
        var role = JSON.parse(x);
        $.ajax({
			type: "GET",
			async:true,
            url: GlobalURL +'/api/Dashboard/dashboardIcons?roleid=' + role.Role_ID,
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                var dataSource = $.parseJSON(result);
                $("#dashboard").html("");
                for (var i = 0; i < dataSource.length; i++) {
                    var d = (dataSource.length) / 2;
                    if (d >= 4) {
                        if (i < d) {
                            if (dataSource[i].Name == "Command Center")
                                $("#dashboard").append("<div class=\"col-sm-4\" id=\"firstrow\" onclick='menuID=\"\";window.open(\"" + window.location.origin + dataSource[i].href + "\",\"_blank\")';><div  class=\"icons " + dataSource[i].Name + " col-sm-12\" ><div class=\"col-sm-12 img-blck\" style=''><span class=\"" + dataSource[i].Imgsrc + "\"></span></div><div class=\"col-sm-12\"> <p>" + dataSource[i].Description + "</p></div><div class=\"col-sm-12\"><a href='javascript:;'; class=\"btn dash-btn dash-btn btn-outline-primary\" target=\"_self\">" + dataSource[i].Name + "</a></div></div></div>");
                            else
                                $("#dashboard").append("<div class=\"col-sm-4\" id=\"firstrow\" onclick='menuID=\"\";layoutRefresh(\"" + window.location.origin + dataSource[i].href + "\",0)';><div  class=\"icons " + dataSource[i].Name + " col-sm-12\" ><div class=\"col-sm-12 img-blck\" style=''><span class=\"" + dataSource[i].Imgsrc + "\"></span></div><div class=\"col-sm-12\"> <p>" + dataSource[i].Description + "</p></div><div class=\"col-sm-12\"><a href='javascript:;'; class=\"btn dash-btn dash-btn btn-outline-primary\" target=\"_self\">" + dataSource[i].Name + "</a></div></div></div>");
                        }
                        else {
                            if (dataSource[i].Name == "Command Center")
                                $("#dashboard").append("<div class=\"col-sm-4\" id=\"firstrow\" onclick='menuID=\"\";window.open(\"" + window.location.origin + dataSource[i].href + "\",\"_blank\")';><div  class=\"icons  " + dataSource[i].Name + " col-sm-12\" ><div class=\"col-sm-12 img-blck\" style=''><span class=\"" + dataSource[i].Imgsrc + "\"></span></div><div class=\"col-sm-12\"> <p>" + dataSource[i].Description + "</p></div><div class=\"col-sm-12\"><a href='javascript:;'; class=\"btn dash-btn dash-btn btn-outline-primary\" target=\"_self\">" + dataSource[i].Name + "</a></div></div></div>");
                            else
                                $("#dashboard").append("<div class=\"col-sm-4\" id=\"secondrow\" onclick='menuID=\"\";layoutRefresh(\"" + window.location.origin + dataSource[i].href + "\",0)';><div  class=\"icons " + dataSource[i].Name + " col-sm-12\" ><div class=\"col-sm-12 img-blck\" style=''><span class=\"flaticon-stadistics\" src='" + dataSource[i].Imgsrc + "'></span></div><div class=\"col-sm-12\"> <p>" + dataSource[i].Description + "</p></div><div class=\"col-sm-12\"><a href='javascript:;'; class=\"btn dash-btn dash-btn btn-outline-primary\" target=\"_self\">" + dataSource[i].Name + "</a></div></div></div>");

                        }
                    }
                    else if (d == 2.5) {
                        if (i < d) {
                            if (dataSource[i].Name == "Command Center")
                                $("#dashboard").append("<div class=\"col-sm-4\" id=\"firstrow\" onclick='menuID=\"\"; window.open(\"" + window.location.origin + dataSource[i].href + "\",\"_blank\")';><div  class=\"icons " + dataSource[i].Name + " col-sm-12\" ><div class=\"col-sm-12 img-blck\" style=''><span class=\"" + dataSource[i].Imgsrc + "\"></span></div><div class=\"col-sm-12\"> <p>" + dataSource[i].Description + "</p></div><div class=\"col-sm-12\"><a href='javascript:;'; class=\"btn dash-btn dash-btn btn-outline-primary\" target=\"_self\">" + dataSource[i].Name + "</a></div></div></div>");
                            else
                                $("#dashboard").append("<div class=\"col-sm-4\" id=\"firstrow\" onclick='menuID=\"\";layoutRefresh(\"" + window.location.origin + dataSource[i].href + "\",0)';><div  class=\"icons " + dataSource[i].Name + " col-sm-12\" ><div class=\"col-sm-12 img-blck\" style=''><span class=\"" + dataSource[i].Imgsrc + "\"></span></div><div class=\"col-sm-12\"> <p>" + dataSource[i].Description + "</p></div><div class=\"col-sm-12\"><a href='javascript:;'; class=\"btn dash-btn dash-btn btn-outline-primary\" target=\"_self\">" + dataSource[i].Name + "</a></div></div></div>");
                        }
                        else {
                            if (dataSource[i].Name == "Command Center")
                                $("#dashboard").append("<div class=\"col-sm-4\" id=\"firstrow\" onclick='menuID=\"\";window.open(\"" + window.location.origin + dataSource[i].href + "\",\"_blank\")';><div  class=\"icons " + dataSource[i].Name + " col-sm-12\" ><div class=\"col-sm-12 img-blck\" style=''><span class=\"" + dataSource[i].Imgsrc + "\"></span></div><div class=\"col-sm-12\"> <p>" + dataSource[i].Description + "</p></div><div class=\"col-sm-12\"><a href='javascript:;'; class=\"btn dash-btn dash-btn btn-outline-primary\" target=\"_self\">" + dataSource[i].Name + "</a></div></div></div>");
                            else
                                $("#dashboard").append("<div class=\"col-sm-4\" id=\"secondrow\" onclick='menuID=\"\";layoutRefresh(\"" + window.location.origin + dataSource[i].href + "\",0)';><div  class=\"icons " + dataSource[i].Name + " col-sm-12\" ><div class=\"col-sm-12 img-blck\" style=''><span class=\"" + dataSource[i].Imgsrc + "\"></span></div><div class=\"col-sm-12\"> <p>" + dataSource[i].Description + "</p></div><div class=\"col-sm-12\"><a href='javascript:;'; class=\"btn dash-btn dash-btn btn-outline-primary\" target=\"_self\">" + dataSource[i].Name + "</a></div></div></div>");

                        }
                    }
                    else
                        if (d == 3) {
                            if (dataSource[i].Name == "Command Center")
                                $("#dashboard").append("<div class=\"col-sm-4\" id=\"firstrow\" onclick='menuID=\"\";window.open(\"" + window.location.origin + dataSource[i].href + "\",\"_blank\")';><div  class=\"icons " + dataSource[i].Name + " col-sm-12\" ><div class=\"col-sm-12 img-blck\" style=''><span class=\"" + dataSource[i].Imgsrc + "\"></span></div><div class=\"col-sm-12\"> <p>" + dataSource[i].Description + "</p></div><div class=\"col-sm-12\"><a href='javascript:;'; class=\"btn dash-btn dash-btn btn-outline-primary\" target=\"_self\">" + dataSource[i].Name + "</a></div></div></div>");
                            else
                                $("#dashboard").append("<div class=\"col-sm-4\" id=\"singlerow\" onclick='menuID=\"\";layoutRefresh(\"" + window.location.origin + dataSource[i].href + "\",0)';><div  class=\"icons " + dataSource[i].Name + " col-sm-12\" ><div class=\"col-sm-12 img-blck\" style=''><span class=\"" + dataSource[i].Imgsrc + "\"></span></div><div class=\"col-sm-12\"> <p>" + dataSource[i].Description + "</p></div><div class=\"col-sm-12\"><a href='javascript:;'; class=\"btn dash-btn dash-btn btn-outline-primary\" target=\"_self\">" + dataSource[i].Name + "</a></div></div></div>");

                        }

                        else if (d == 2) {
                            if (dataSource[i].Name == "Command Center")
                                $("#dashboard").append("<div class=\"col-sm-4\" id=\"firstrow\" onclick='menuID=\"\";window.open(\"" + window.location.origin + dataSource[i].href + "\",\"_blank\")';><div  class=\"icons " + dataSource[i].Name + " col-sm-12\" ><div class=\"col-sm-12 img-blck\" style=''><span class=\"" + dataSource[i].Imgsrc + "\"></span></div><div class=\"col-sm-12\"> <p>" + dataSource[i].Description + "</p></div><div class=\"col-sm-12\"><a href='javascript:;'; class=\"btn dash-btn dash-btn btn-outline-primary\" target=\"_self\">" + dataSource[i].Name + "</a></div></div></div>");
                            else
                                $("#dashboard").append("<div class=\"col-sm-4\" id=\"singlerow\" onclick='menuID=\"\";layoutRefresh(\"" + window.location.origin + dataSource[i].href + "\",0)';><div  class=\"icons " + dataSource[i].Name + " col-sm-12\" ><div class=\"col-sm-12 img-blck\" style=''><span class=\"flaticon-chart\" src='" + dataSource[i].Imgsrc + "'></span></div><div class=\"col-sm-12\"> <p>" + dataSource[i].Description + "</p></div><div class=\"col-sm-12\"><a href='javascript:;'; class=\"btn dash-btn dash-btn btn-outline-primary\" target=\"_self\">" + dataSource[i].Name + "</a></div></div></div>");
                        }
                        else if (d == 1) {
                            if (dataSource[i].Name == "Command Center")
                                $("#dashboard").append("<div class=\"col-sm-4\" id=\"firstrow\" onclick='menuID=\"\"; window.open(\"" + window.location.origin + dataSource[i].href + "\",\"_blank\")';><div  class=\"icons " + dataSource[i].Name + " col-sm-12\" ><div class=\"col-sm-12 img-blck\" style=background-image:'" + dataSource[i].color + "'><span class=\"" + dataSource[i].Imgsrc + "\"></span></div><div class=\"col-sm-12\"> <p>" + dataSource[i].Description + "</p></div><div class=\"col-sm-12\"><a href='javascript:;'; class=\"btn dash-btn dash-btn btn-outline-primary\" target=\"_self\">" + dataSource[i].Name + "</a></div></div></div>");
                            else
                                $("#dashboard").append("<div class=\"col-sm-4\" id=\"singlerow\" onclick='menuID=\"\";layoutRefresh(\"" + window.location.origin + dataSource[i].href + "\",0)';><div  class=\"icons " + dataSource[i].Name + " col-sm-12\" ><div class=\"col-sm-12 img-blck\" style=''><span class=\"" + dataSource[i].Imgsrc + "\"></span></div><div class=\"col-sm-12\"> <p>" + dataSource[i].Description + "</p></div><div class=\"col-sm-12\"><a href='javascript:;'; class=\"btn dash-btn dash-btn btn-outline-primary\" target=\"_self\">" + dataSource[i].Name + "</a></div></div></div>");
                        }
                        else {
                            if (dataSource[i].Name == "Command Center")
                                $("#dashboard").append("<div class=\"col-sm-4\" id=\"firstrow\" onclick='menuID=\"\"; window.open(\"" + window.location.origin + dataSource[i].href + "\",\"_blank\")';><div  class=\"icons " + dataSource[i].Name + " col-sm-12\" ><div class=\"col-sm-12 img-blck\" style=''><span class=\"" + dataSource[i].Imgsrc + "\"></span></div><div class=\"col-sm-12\"> <p>" + dataSource[i].Description + "</p></div><div class=\"col-sm-12\"><a href='javascript:;'; class=\"btn dash-btn dash-btn btn-outline-primary\" target=\"_blank\">" + dataSource[i].Name + "</a></div></div></div>");
                            else
                                $("#dashboard").append("<div class=\"col-sm-4\" id=\"singlerow\" onclick='menuID=\"\";layoutRefresh(\"" + window.location.origin + dataSource[i].href + "\",0)';><div  class=\"icons " + dataSource[i].Name + " col-sm-12\" ><div class=\"col-sm-12 img-blck\" style=''><span class=\"" + dataSource[i].Imgsrc + "\"></span></div><div class=\"col-sm-12\"> <p>" + dataSource[i].Description + "</p></div><div class=\"col-sm-12\"><a href='javascript:;'; class=\"btn dash-btn dash-btn btn-outline-primary\" target=\"_self\">" + dataSource[i].Name + "</a></div></div></div>");
                        }
                }
            },

            error: function (e) {
                icons();
            }
        });
    }

</script>

<footer class="main-footer" style="display:block">
    <p class="version">Copyright &copy; 2020 #######. All rights reserved.</p>
    </footer>
    <script>

        function load_ConnectivityInfo() {
            //alert("44");
            $.ajax({
                type: "GET",
                url: '/services/CrudService.svc/Connective_info',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                }
            });
        }


        $(document).ready(function () {

            //$(".main-sidebar").hide()
            $(".sidebar-toggle").hide()
            //setInterval(function () {
            //    if (localStorage.isloggedin == 'N') {
            //        location.href = "../index.html";
            //    }
            //}, 1000 * 1);



            if (sessionStorage.getItem("iSessionState") == 'N') {
                //window.open('index.html');
                location.href = "../index.html";
            }
            else {

            }

            icons();
            // load_ConnectivityInfo();

        });


    </script>


