﻿
<style>
    .activeCategory {
        background-color: #a7e0f1;
        border: 0px solid bisque;
    }

    .activerobot {
        background-color: #a7e0f1;
        border: 0px solid bisque;
    }

    .k-grid tr:hover {
        cursor: pointer;
    }

    .k-grid td {
        cursor: pointer;
    }

    .c1 {
        color: green;
        font-family: 'Times New Roman', Times, serif;
        font-size: 13px;
    }

    .display.table-id-grid.pointer.dataTable.no-footer {
        /min-height:650px !important;
        /max-height:650px !important;
    }

    #aq1 {
        color: forestgreen;
        font-size: 7px;
    }
</style>
<!--<style>
    label {
        color: forestgreen;
        font-size: 10px;
    }
</style>-->
<script src="/Views/DesignStudio.js"></script>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h5 id="PageTitle">
        Design Studio

    </h5>
</section>

<section class="content Genbase_studio">

    <div class="modal fade modal-fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header header-modal">
                    <button type="button" id="resetform1" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title" id="addproject">Add Project</div>
                </div>


                <div class="modal-body body-modal">
                    <form id="CreateForm" data-toggle="validator" role="form">

                        <div id="TypeSelection" class="form-group col-sm-12 d-none" style="display:none !important">
                            <label for="queue" class="col-sm-12 control-label" style="display:none">Choose an option</label>
                            <div class="col-sm-12">
                                <div class="col-sm-12" style="display:none">
                                    <input class="col-sm-1" type="radio" id="Project" name="Type" value="Project" onclick="TypeSelect(this)" checked="">
                                    <label class="col-sm-11 control-label">Project</label>
                                </div>
                                <div class="col-sm-12" style="display:none">
                                    <input class="col-sm-1" type="radio" id="Workflow" name="Type" onclick="TypeSelect(this)" value="Workflow">
                                    <label class="col-sm-11 control-label">Workflow</label>
                                </div>
                            </div>
                        </div>
                        <div id="ProjectTypeSelection" class="form-group col-sm-12 d-none">
                            <label for="queue" class="col-sm-12 control-label" style="display:none">Choose an option</label>
                            <div class="col-sm-12" style="display:none">
                                <span class='label--radio'>
                                    <input class="col-sm-1 radio" type="radio" id="Process" name="projectType" value="Process" onclick="ProjectTypeSelect(this)" checked="">
                                    <label class="col-sm-11 control-label">Process</label>
                                </span>
                                <div id="ProcessDiv" class="process-div" style="display:none">
                                    <div class="col-sm-6">
                                        <span class='label--radio'>
                                            <input class="col-sm-1 radio" type="radio" id="FlowChart" name="projectProcessType" value="FlowChart" checked="">
                                            <label class="col-sm-11 control-label">Flow Chart</label>
                                        </span>

                                    </div>
                                    <div class="col-sm-6">
                                        <span class='label--radio'>
                                            <input class="col-sm-1 radio" type="radio" id="ValueStreamMap" name="projectProcessType" value="ValueStreamMap">
                                            <label class="col-sm-11 control-label">Value Stream Map</label>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12" style="display:none;">
                                <span class='label--radio'>
                                    <input class="col-sm-1 radio" type="radio" id="Robot" name="projectType" onclick="ProjectTypeSelect(this)" value="Robot" checked="">
                                    <label class="col-sm-11 control-label">Robot</label>
                                </span>
                            </div>

                        </div>

                        <div id="ProjectNameDiv">
                            <div class="form-group col-sm-12">
                                <label for="queue" class="col-sm-12 control-label" style="color: #333 !important;">Project Name<span class="star">*</span></label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="text" id="ProjectName" autocomplete="off" data-validation="required">
                                    <label id="aq1"><span id="remainingC1">200</span> Characters Left </label>
                                    <!--<input class="form-control" type="text" id="ProjectName" autocomplete="off">
                                    <span id="spn_LOB_error" class="" style="color: #B71C1C !important;display:none;text-align:right">Please Select Line of Business</span>-->
                                    <div class="c1" id="count1"></div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="queue" class="col-sm-12 control-label">Description</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control" id="ProjectDescription" autocomplete="off" rows="5"></textarea>
                                    <!--Remaining characters: <span id='remainingC'></span>-->
                                    <label id="aq1"><span id="remainingC">200</span> Characters Left </label>
                                    <div class="c1" id="count2"></div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="queue" class="col-sm-12 control-label">Line of Business<span class="star">*</span></label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="LOB"></select>
                                    <span id="spn_LOB_error" class="" style="color: #B71C1C !important;display:none;text-align:right">Please fill out this field</span>
                                </div>
                            </div>
                        </div>
                        <div id="RobotDiv" class="display-none">

                        </div>
                        <div id="WorkflowNameDiv" class="display-none">
                            <div class="form-group col-sm-12">
                                <!--<label for="queue" class="col-sm-4">Name <span class="star">*</span></label>-->
                                <label for="queue" class="col-sm-12 control-label" style="color: #333 !important;">Name<span class="star">*</span></label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="text" id="WorkflowName" autocomplete="off" data-validation="required">
                                    <div class="c1" id="count3"></div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="queue" class="col-sm-12 control-label">Description</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control" type="text" id="WorkflowDescription" autocomplete="off" rows="5"></textarea>
                                    <div class="c1" id="count4"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-12 grid1" id="grid1"></div>
                        <div class="form-group col-sm-12 grid2" id="grid2"></div>
                        <div id="RobotNameDiv" class="robotname-div">

                            <div class="form-group col-sm-12">
                                <label for="queue" class="col-sm-12 control-label" style="color: #333 !important;">Robot Name<span class="star">*</span></label>

                                <div class="col-sm-12">
                                    <input class="form-control" type="text" id="RobotName" autocomplete="off" placeholder="" data-validation="required">
                                    <label id="aq1"><span id="remainingC3">200</span> Characters Left </label>
                                    <div class="c1" id="count"></div>
                                </div>

                            </div>

                            <div class="form-group col-sm-12">
                                <label for="queue" class="col-sm-12 control-label"></label>
                                <div class="col-sm-12">
                                    <label class="robot_check col-sm-12">
                                        <input type="checkbox" class="predefinedCheckbox" id="robotGrid" autocomplete="off" />
                                        <span class="rb_checkmark"></span>
                                        <label class="control-label">From Predefined Robots</label>
                                    </label>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 text-right">
                            <div class="col-sm-12 btn-pad">
                                <button type="button" class="btn btn-secondary rounded-primary btn-flat display-none" id="popup1" onclick="previousPopup(this)">
                                    <span class="fa fa-arrow-left"></span>Previous
                                </button>
                                <!--<button type="submit" class="btn btn-primary rounded-primary btn-flat" id="popup1">
                                    <span class="fa fa-arrow-circle-right"></span> Next
                                </button>-->
                                <button type="submit" class="btn btn-primary rounded-primary btn-flat" id="popup2">
                                    <span class="fa fa-arrow-right"></span>Next
                                </button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="top:55px !important">
        <div class="modal-dialog">
            <div class="modal-content" style="width:70%; margin-left: 25%;">


                <div class="modal-header" style="background-color:#f0efef;margin-top:50%">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Delete</div>
                </div>

                <div class="modal-body" style="overflow:hidden">
                    <p>Are you sure you want to delete this record?</p>
                </div>

                <div class="modal-footer">
                    <div class="col-sm-12 btn-pad">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <p id="deleterobotid" style="display:none"></p>
                        <p id="deleterobotname" style="display:none"></p>
                        <button type="button" class="btn btn-primary btn-flat" style="" id="ok">
                            <span class="fa fa-check "> </span> OK
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <span class="fas fa-times"></span>Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade modal-fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header header-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-title">Edit Project</div>
                </div>

                <div class="modal-body body-modal">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12" style="display:none">
                            <label for="queue" class="col-sm-12 control-label"> ID</label>
                            <div class="col-sm-12">
                                <label class="" control-label" name="EditColumns" id="ID|">

                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label">Name<span class="star">*</span></label>
                            <div class="col-sm-12">
                                <input class="form-control" type="text" name="EditColumns" id="NAME" autocomplete="off" data-validation="required">
                                <div class="c1" id="count1"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-12 control-label">Description</label>
                            <div class="col-sm-12">
                                <textarea class="form-control" name="EditColumns" id="DESCRIPTION" autocomplete="off" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" id="LOBDiv">
                            <label for="queue" class="col-sm-12 control-label">Line Of Business<span class="star">*</span></label>
                            <div class="col-sm-12">
                                <select class="form-control select2" name="EditColumns" autocomplete="off" id="LOBId"></select>
                            </div>
                        </div>
                        <div class="col-xs-12 text-right">
                            <div class="col-sm-12 btn-pad">
                                <button id="UpdateForm" type="submit" class="btn btn-primary btn-flat">
                                    <span class="fas fa-check"> </span> Update
                                </button>
                                <button type="button" id="resetform2" class="btn btn-secondary" data-dismiss="modal">
                                    <span class="fas fa-times"></span> Cancel
                                </button>
                            </div>

                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <div id="example" class="CRUDGrid ds_grid">
    <!--<div id="example" class="CRUDGrid">-->
        <div class="trigger_buttons right-btns col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-add" onclick="resetPopup()"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
            </div>
        </div>

        <table id="grid" class="display table-id-grid pointer ds_grid">
            <!--<table id="grid" class="display table-id-grid pointer">-->
                <thead>
                    <tr>
                        <th style="display:none">ID </th>
                        <th>Name </th>
                        <th>Description </th>
                        <th>Line Of Business </th>
                        <!--<th>DesktopProjectType</th>-->
                        <!--<th>Type</th>-->
                        <th>Created Date And Time</th>
                        <th>Actions</th>

                    </tr>
                </thead>
            </table>
            <h1 id="feedback"></h1>
    </div>
</section>
<script>
    $(function () {
        $($("#ProjectName")[0]).MaxLength(
          {
              MaxLength: 100,
              CharacterCountControl: $('#count1'),
              CharacterCountControl:reset
          });
        $($("#RobotName")[0]).MaxLength(
          {
              MaxLength: 100,
              CharacterCountControl: $('#count'),
              CharacterCountControl: reset
          });
        $($("#ProjectDescription")[0]).MaxLength(
          {
              MaxLength: 1000,
              CharacterCountControl: $('#count2'),
              CharacterCountControl:reset
          });
        $($("#WorkflowName")[0]).MaxLength(
          {
              MaxLength: 100,
              CharacterCountControl: $('#count3'),
              CharacterCountControl: reset
          });
        $($("#WorkflowDescription")[0]).MaxLength(
          {
              MaxLength: 1000,
              CharacterCountControl: $('#count4'),
              CharacterCountControl: reset
          });
    })

    $('#ProjectDescription').keypress(function () {

        if (this.value.length > 200) {
            return false;
        }
        $("#remainingC").html( (200 - this.value.length));
    });

    $('#ProjectName').keypress(function () {

        if (this.value.length > 200) {
            return false;
        }
        $("#remainingC1").html((200 - this.value.length));
    });
    $('#RobotName').keypress(function () {

        if (this.value.length > 200) {
            return false;
        }
        $("#remainingC3").html((200 - this.value.length));
    });
</script>
<script>

    $('.close').click(function () {
        $('#CreateForm')[0].reset();
    });

</script>


<script>
    $.validate({
        form: '#CreateForm'
    });
</script>
