﻿
<script src="../scripts/sweetalert.min.js"></script>
<script src="ApplicationURL.js"></script>
<script src="../scripts/d3.min.js" charset="utf-8"></script>
<script src="../scripts/nv.d3.min.js" charset="utf-8"></script>
<link href="../Content/nv.d3.min.css" rel="stylesheet" />

<style>
    .k-tooltip {
        color: white !important;
        padding: 5px !important;
    }

    * {
        box-sizing: border-box;
    }

    .dropbtn {
        background-color: transparent;
        padding: 6px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #2980B9 !important;
        }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: -550%;
    }

        .dropdown-content li {
            color: black;
            padding: 0px 16px;
            text-decoration: none;
            display: block;
            cursor: pointer;
        }

            .dropdown-content li:hover {
                background-color: #ddd !important;
            }

    .show {
        display: block;
    }

    .ChartButton {
        background-color: #006dd5 !important;
        color: white !important;
    }

    .details {
        position: absolute;
        color: #ffebeb;
        border-radius: 24px;
        bottom: 20px;
        font-size: 12px;
        right: 32px;
        padding: 1px 10px;
        text-align: center;
        opacity: 1.1;
    }


        .details:hover {
            color: #ffffff;
            text-decoration: none;
        }

    @media only screen and (min-width : 1224px) {
        .some-text {
            word-break: inherit !important;
        }

        .user-card {
            margin-bottom: 9% !important;
        }

        .monitorSelect {
            padding: 4px 4px !important;
            height: 30px;
            margin-bottom: 5px;
            margin-top: 5px;
        }

        #dateFilterContent {
            width: 33%;
        }
    }
    /*end of 1224 media query*/

    @media screen and (max-width : 1280px) {
        .some-text {
            word-break: inherit !important;
        }

        .user-card {
            margin-bottom: 9% !important;
        }

        .monitorSelect {
            padding: 0px 0px !important;
            height: 20px;
            font-size: 12px;
        }

        #dateFilterContent {
            width: 37%;
        }
    }
    /*end of 1224 media query*/

    @media screen and (min-width : 1366px) {
        #dateFilterContent {
            width: 34%;
        }

        .user-card {
            margin-bottom: 9% !important;
        }
    }

    .user-card {
        margin-bottom: 6%;
    }

    .small-cardbox {
        margin: 0px;
    }

    #chartTimer {
        float: right;
    }

    input[type="date" i]:disabled, select:disabled {
        background: #FFF;
        opacity: .4;
        border: 1px solid rgba(0,0,0,.1);
    }

    .box-body {
        padding: 0px !important;
    }




    .hover-expand-effect:after {
        background-color: rgba(0, 0, 0, 0.05);
        content: ".";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        border-radius: 5px;
        height: 100%;
        color: transparent;
        -moz-transition: all 0.95s;
        -o-transition: all 0.95s;
        -webkit-transition: all 0.95s;
        transition: all 0.95s;
    }

    .details {
        z-index: 1;
        bottom: 8px !important;
        right: 10px !important;
    }

    .box-header {
        padding: 4px !important;
    }



        .box-header > .box-tools {
            position: absolute;
            right: 10px;
            top: 10px !important;
        }

    @media only screen and (max-width: 1296px) and (min-width: 1200px) {
        .small-cardbox .no {
            padding: 8px !important;
            font-size: 30px !important;
        }

        .small-cardbox {
            width: 100%;
        }
    }

    @media only screen and (max-width: 1200px) {
        .small-cardbox {
            margin: 4px;
        }

        .btn-group .btn {
            padding: 4px 6px;
            font-size: 12px !important;
        }

        .box-header .box-title {
        }
    }


    .btn-group .btn {
        padding: 4px 8px !important;
        border-radius: 4px !important;
        margin: 0px 4px;
    }

    @media only screen and (max-width: 1350px) {
        .box-header .box-title {
        }

        .btn-group .btn {
            padding: 4px 5px !important;
        }
    }

    @media only screen and (max-width: 1220px) {
        .box-header .box-title {
        }

        .btn-group .btn {
            padding: 4px 3px !important;
        }
    }

    @media only screen and (max-width: 1280px) {
        .btn-group .btn {
            padding: 4px 3px !important;
        }
    }

    @media only screen and (max-width: 1096px) {
        .box-header .box-title {
        }

        .box-header .col-md-8 {
            padding: 0px !important;
        }

        .btn-group .btn {
            font-size: 11px !important;
        }
    }

    .monitor-content .modal {
        top: 55px !important;
    }

    .monitor-content .modal-body {
        overflow: hidden;
    }


    .monitor-content .datetime {
        cursor: pointer;
        display: inline-flex;
    }

    .ang-down {
        margin-left: 4px;
    }

    .add-compare #addnew {
        cursor: pointer;
        margin-right: 20px;
        margin-bottom: 0%;
    }

    .compare-drp {
        position: relative;
        left: 85.6vw;
        top: 36px;
        display: none;
        background: white;
        float: right;
        border-bottom: 2px solid #dedede !important;
    }

    .compare-click {
        position: absolute;
        z-index: 1000 !important;
        background-color: #ffffff;
        border: 1px solid #f5f5f5;
        box-shadow: 0 2px 10px rgba(0,0,0,.2) !important;
        border-radius: 3px;
        width: 400px;
        right: 8px;
        padding: 10px 0px 5px 0px;
    }

    .date-range-label {
        display: inline-block;
        float: left;
        margin-right: 20px;
        margin: 4px 0px 0px 0px;
    }

    .mycontent-label {
        cursor: pointer;
        border-bottom: 1px #efefef solid !important;
        width: 100%;
    }

    .minus {
        margin-top: 1%;
    }

    .chck {
        float: left;
        padding: 3px !important;
        margin: 8px 0px !important;
        width: 14px !important;
        height: 14px !important;
    }

    .compre-to {
        text-align: center;
        display: inline-block;
        float: left;
        margin: 6px 4px 0px 2px;
    }

    .date-select .select-none {
        background-color: #EBEBE4;
        padding: 3px;
    }

    .pp {
        border-top: 1px solid #dedede;
    }

    .apply-btn {
        margin-left: 3%;
        float: right;
    }



    .chart-width {
        width: calc(100% + 30px) !important;
        padding: 0px 0px;
        margin-left: -15px;
        margin-right: -10px;
    }

    .apply-btn .fa {
        margin-left: 4px;
    }

    t-height {
        height: 100% !important;
    }


    #KPIRow {
        margin-bottom: 10px !important;
        padding: 0px;
        margin-top: 0px;
    }
    /*.nv-x.nv-axis g .tick text {
        transform: rotate(-45deg) !important
    }*/
</style>

<script>
    var mycontent = '<label id="kpi" data-toggle="modal" class="mycontent-label" data-target="#addModal1"> KPI </label><br><label id="nkpi" class="mycontent-label" data-toggle="modal" data-target="#addModal2"> NKPI </label>';
    $('#addnew').popover({
        placement: 'bottom',
        html: true,
        content: mycontent,
        trigger: 'manual'
    }).click(function (e) {
        $(this).popover('toggle');
        e.stopPropagation();

    });
    $('html').click(function (e) {
        $('#addnew').popover('hide');
    });
</script>

<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <h5 id="PageTitle">Insight</h5>
</section>



<section class="content monitor-content">

    <div class="modal fade" id="addModal1" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>

                </div>

                <div class="modal-body">
                    <form id="SubmitForm1" data-toggle="validator" role="form">
                        <div class="form-group col-sm-12 display-none">
                            <label for="queue" class="col-sm-12 control-label">ID</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="ID|12" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12 display-none">
                            <label for="queue" class="col-sm-12 control-label display-none">Monitor Screen</label>
                            <div class="col-sm-12">
                                <select size="1" name="Columns" class="form-control select2 selectPortalName display-none" id="PortalName|13" value="Connectors"></select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3">DB Connection<span class="star">*</span></label>
                            <div class="col-sm-12">
                                <select size="1" name="Columns" class="form-control select2 selectDbConnection_Id validateQuery" id="DbConnection_Id|466" value=""></select>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> SQL<span class="star">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control validateQuery" maxlength="1000" onblur="QueryChange()" name="Columns" id="SQL|16" autocomplete="off" value=""/>
                                <div id="warning1" class="req-text"></div>
                            </div>
                        </div>

                        <div class="col-sm-12 div-validate">
                            <div class="col-sm-9 ValidateInformation"></div>
                            <div class="col-sm-3 text-right">
                                <span class="btn grdnt-validate btn-validat">
                                    <i class="fas fa-check"></i>
                                    <input type="button" value="Validate" class="btn-validate" onclick="QueryValidateClick(this)" />
                                </span>

                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Title<span class="star">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" onKeyUp="check()" maxlength="50" name="Columns" id="Title|14" autocomplete="off" value="" data-validation="required" />
                                <div id="warning" class="req-text"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 display-none">
                            <label for="queue" class="col-sm-12 control-label"> Link</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Link|19" autocomplete="off" value="" />
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Chart Type<span class="star">*</span></label>
                            <div class="col-sm-12">
                                <select size="1" name="Columns" class="form-control select2 selectChart_Type" id="Chart_Type|15" value="" data-validation="required"></select>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> X-Axis<span class="star">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" maxlength="50" name="Columns" id="Column_Number|18" autocomplete="off" value="" data-validation="required" />
                                <div id="warning2" class="req-text"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Y-Axis<span class="star">*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" maxlength="50" name="Columns" id="Row_Number|17" autocomplete="off" value="" data-validation="required" />
                                <div id="warning3" class="req-text"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Height<span class="star">*</span></label>
                            <div class="col-sm-12">
                                <input data-validation="number" data-validation-allowing="negative,number" class="form-control" name="Columns" id="Height|20" autocomplete="off" value="500" data-validation="required" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3"> Width<span class="star">*</span></label>
                            <div class="col-sm-12">
                                <input data-validation="number" data-validation-allowing="negative,number" class="form-control" name="Columns" id="Width|21" autocomplete="off" value="50" data-validation="required" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12 display-initial">
                            <label for="queue" class="col-sm-3"> Role<span class="star">*</span> </label>
                            <div class="col-sm-12">
                                <select size="1" name="Columns" class="form-control select2 selectRole_Id" id="Role_Id|22" value="Admin" data-validation="required"></select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 display-none">
                            <label for="queue" class="col-sm-12 control-label"> Preferences</label>
                            <div class="col-sm-12">
                                <select size="1" name="Columns" class="form-control select2 selectPreferences" id="Preferences|23" value="New"></select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 display-none">
                            <label for="queue" class="col-sm-12 control-label"> CreateBy</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="CreateBy|24" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12 display-none">
                            <label for="queue" class="col-sm-12 control-label"> CreateDateTime</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="CreateDatetime|25" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12 display-none">
                            <label for="queue" class="col-sm-12 control-label"> UpdateBy</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="UpdateBy|26" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12 display-none">
                            <label for="queue" class="col-sm-12 control-label"> UpdateDateTime</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="UpdateDatetime|27" value="" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12 display-none">
                            <label for="queue" class="col-sm-12 control-label"> Status</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="Columns" id="Status|28" value="" />
                            </div>
                        </div>
                        <div class="col-xs-12 text-right">
                            <div class="col-sm-12 btn-pad">
                                <button id="RegisterBtn1" type="submit" class="btn btn-primary btn-flat" disabled>
                                    <span class="fa fa-plus "></span> Add
                                </button>
                                <button type="button" id="resetform1" class="btn btn-secondary" data-dismiss="modal">
                                    <span class="fas fa-times"></span> Cancel
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addModal2" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>
                </div>

                <div class="modal-body">
                    <form id="SubmitForm2" data-toggle="validator" role="form">
                        <div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-12 control-label"> Id</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="ID|938" value="" /></div></div>
                        <div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-3 display-none">Monitor Screen</label> <div class="col-sm-12"><select size="1" name="Columns" class="form-control select2 selectPortalName display-none" id="PortalName|939" value="Bot Monitor" data-validation="required"></select></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-3">DB Connection<span class="star">*</span></label> <div class="col-sm-12"><select size="1" name="Columns" class="form-control select2 selectDbConnection_Id validateQuery" id="DbConnection_Id|942" value="6"></select></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-3"> SQL<span class="star">*</span></label> <div class="col-sm-12"><input type="text" class="form-control validateQuery" maxlength="1000" name="Columns" onblur="QueryChange()" id="SQL|943" autocomplete="off" value=""/><div id="warning7" class="req-text"></div></div></div>
                        <div class="col-sm-12 div-validate">
                            <div class="col-sm-9 ValidateInformation"></div>
                            <div class="col-sm-3 text-right">
                                <span class="btn grdnt-validate btn-validat">
                                    <i class="fas fa-check"></i>
                                    <input type="button" value="Validate" class="btn-validate" onclick="QueryValidateClick(this)" />
                                </span>
                            </div>
                        </div>

                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-3"> Title<span class="star">*</span></label> <div class="col-sm-12"><input type="text" class="form-control" maxlength="50" name="Columns" id="Title|940" autocomplete="off" value="" data-validation="required" /><div id="warning6" class="req-text"></div></div></div>

                        <div class="form-group col-sm-12 display-initial"><label for="queue" class="col-sm-3"> Role<span class="star">*</span></label> <div class="col-sm-12"><select size="1" name="Columns" class="form-control select2 selectRole_Id" id="Role_Id|944" value="1" data-validation="required"></select></div></div>
                        <div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-12 control-label"> Group</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Group|941" value="" /></div></div>
                        <div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-12 control-label"> CreateBy</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateBy|945" value="" /></div></div>
                        <div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-12 control-label"> CreateDatetime</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="CreateDatetime|946" value="" /></div></div>
                        <div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-12 control-label"> UpdateBy</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateBy|947" value="" /></div></div>
                        <div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-12 control-label"> UpdateDatetime</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="UpdateDatetime|948" value="" /></div></div>
                        <div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-12 control-label"> Status</label> <div class="col-sm-12"><input type="text" class="form-control" name="Columns" id="Status|949" value="" /></div></div>
                        <div class="col-xs-12 text-right">
                            <div class="col-sm-12 btn-pad">
                                <button id="RegisterBtn2" type="submit" class="btn btn-primary btn-flat" disabled>
                                    <span class="fa fa-plus "></span> Add
                                </button>
                                <button type="button" id="resetform2" class="btn btn-secondary" data-dismiss="modal">
                                    <span class="fas fa-times"></span> Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addModal3" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Add</div>

                </div>

                <div class="modal-body">
                    <form id="SubmitForm3" data-toggle="validator" role="form">
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3">Name<span style="color:#B71C1C;">*</span></label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="MonitorColumns" id="monitorName" value="" data-validation="required" /></div>
                        </div>
                        <div class="form-group col-sm-12 display-initial">
                            <label for="queue" class="col-sm-3">Role<span class="star">*</span></label>
                            <div class="col-sm-12"><select size="1" name="MonitorColumns" class="form-control select2 " id="monitorRole" value="" data-validation="required"><option>Select Option</option><option value="1">Admin</option><option value="2">Analyst</option><option value="3">User</option></select></div>
                        </div>

                        <div class="col-xs-12 text-right">
                            <div class="col-sm-12 btn-pad">
                                <button id="RegisterBtn3" type="submit" class="btn btn-primary btn-flat">
                                    <span class="fa fa-plus "></span> Add
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    <span class="fas fa-times"></span> Cancel
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addModal4" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Configure Path</div>
                </div>

                <div class="modal-body">
                    <form id="SubmitForm4" data-toggle="validator" role="form">
                        <div class="form-group col-sm-12">
                            <label for="queue" class="col-sm-3">Path<span style="color:#B71C1C;">*</span></label>
                            <div class="col-sm-12"><input type="text" class="form-control" name="pathColumns" id="pathName" value="" data-validation="required" /></div>
                        </div>

                        <div class="col-xs-12 text-right">
                            <div class="col-sm-12 btn-pad">
                                <button id="Cofigure" type="submit" class="btn btn-primary btn-flat">
                                    <span class="fa fa-plus "></span> Add
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    <span class="fas fa-times"></span> Cancel
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="monitor_inner">
        <div class="col-sm-12 add-compare text-right">
            <button type="button" id="addnew" class="btn btn-add" data-toggle="popover"><i class="fa fa-plus"></i> Add New</button>
            <!--<button type="button" id="addnew" class="btn btn-c-addnew plusBtn plusBtn-add" data-toggle="popover"><i class="fa fa-plus"></i> Add New</button>-->
            <div id="dateFilterTitle" class="datetime" onclick="$('#dateFilterContent').toggle();">
                <button id="chartTimer" class="btn btn-secondary pull-right">
                    Compare<i class="fa fa-angle-down ang-down"></i>
                </button>
            </div>

            <div class="col-sm-12" style="float:right;">
                <!--<div class="col-sm-8"></div>-->
                <div id="dateFilterContent" class="pull-right" style="display:none; background:white;float:right;">

                    <div class="none-click" style="position:absolute;z-index:1000 !important;background-color:#ffffff;border:1px solid #f5f5f5;box-shadow :0 1px 5px rgba(0,0,0,.3) !important; border-radius: 2px;">
                        <div class="col-sm-12 form-group ">

                            <div>
                                <label class=""> Date Range:</label>
                                <select id="FilterType" class="monitorSelect col-sm-12 select-none" onchange='if (this.value == "Custom") {
                          $("#minFilter").prop("disabled", false);
                          $("#maxFilter").prop("disabled", false);
                          if ($("#minFilter").val() == "" && $("#maxFilter").val() == "") {
                              $("#Applybutton")[0].disabled = true;
                          }

                   }
                    else {
                         $("#minFilter").val("");
                         $("#maxFilter").val("");
                             $("#Applybutton")[0].disabled = false;
                           $("#minFilter").prop("disabled", true);
                           $("#maxFilter").prop("disabled", true);
                           }'>
                                    <option>None</option>
                                    <option>Last Hour</option>
                                    <option>Today</option>
                                    <option>Yesterday</option>
                                    <option>This Week</option>
                                    <option>This Month</option>
                                    <option>This Year</option>
                                    <option>Custom</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="margin-top:0%;">
                            <input id="minFilter" class="col-sm-5 monitorSelect b-radius" type="date" placeholder="Date" disabled onchange='if ($("#minFilter").val() != "" && $("#maxFilter").val() != "") {
                              $("#Applybutton")[0].disabled = false;
            }else{
            $("#Applybutton")[0].disabled = true;
            }' />
                            <i class="fa fa-minus col-sm-2 select-minus" style="margin-top:1%"></i>
                            <input id="maxFilter" class="col-sm-5 monitorSelect b-radius" type="date" placeholder="Date" disabled onchange='if ($("#minFilter").val() != "" && $("#maxFilter").val() != "") {
              $("#Applybutton")[0].disabled = false;
              }
            else{
              $("#Applybutton")[0].disabled = true;
              }' />
                        </div>

                        <div class="col-sm-12 form-group" id="compareToid" style="margin-top:0%;">
                            <label class="robot_check col-sm-12">
                                <input type="checkbox" id="CompareCheck" />
                                <span class="rb_checkmark"></span>
                                <label class="control-label">Compare To:</label>
                            </label>

                            <!--<div class="" style="display: inline-block; float: left; padding: 3px">-->
                            <select class="monitorSelect col-sm-12 select-none" id="CompareFilterType" disabled style="background-color:#EBEBE4;padding: 3px;" onchange='if (this.value == "Custom") {
                          $("#minFilter1").prop("disabled", false);
                          $("#maxFilter1").prop("disabled", false);
                          if ($("#minFilter1").val() == "" && $("#maxFilter1").val() == "") {
                              $("#Applybutton")[0].disabled = true;
                          }

                   }
                    else {
                         $("#minFilter1").val("");
                         $("#maxFilter1").val("");
                             $("#Applybutton")[0].disabled = false;
                           $("#minFilter1").prop("disabled", true);
                           $("#maxFilter1").prop("disabled", true);
                           }'>
                                <option>Yesterday</option>
                                <option>Last Week</option>
                                <option>Last Month</option>
                                <option>Last Year</option>
                                <option>Custom</option>
                            </select>
                            <!--</div>-->
                        </div>
                        <div class="col-sm-12 form-group" id="compareDateid" style="margin-top:0%;">
                            <input id="minFilter1" placeholder="Date" type="date" class="col-sm-5 monitorSelect b-radius" disabled onchange='if ($("#minFilter1").val() != "" && $("#maxFilter1").val() != "") {
              $("#Applybutton")[0].disabled = false;
              }
            else{
              $("#Applybutton")[0].disabled = true;
              }' />
                            <i class="fa fa-minus fa-1 col-sm-2 select-minus" style="margin-top:1%"></i>
                            <input id="maxFilter1" placeholder="Date" type="date" class="col-sm-5 monitorSelect b-radius" disabled onchange='if ($("#minFilter1").val() != "" && $("#maxFilter1").val() != "") {
              $("#Applybutton")[0].disabled = false;
              }
            else{
              $("#Applybutton")[0].disabled = true;
              }' />
                        </div>
                        <div class="form-group col-sm-12" style="margin-top:0%">
                            <p class="col-sm-12" style="border-top:1px solid #dedede;"></p>
                        </div>
                        <div class="form-group col-sm-12 text-right">
                            <button id="Applybutton" class="btn btn-primary none-btn" onclick='if ($("#FilterType").val() != "Custom") { $("#Applybutton").prop("disabled", false); $("#dateFilterTitle").html("<button id=\"chartTimer\" class=\"btn btn-secondary\">" + $("#FilterType").val() + "<i class=\"fa fa-angle-down ang-down\"></i></button>"); } else { $("#dateFilterTitle").html("<button class=\"btn btn-secondary\">" + ($("#minFilter").val().split("-")[1] + "/" + $("#minFilter").val().split("-")[2] + "/" + $("#minFilter").val().split("-")[0]) + " to " + $("#maxFilter").val().split("-")[1] + "/" + $("#maxFilter").val().split("-")[2] + "/" + $("#maxFilter").val().split("-")[0] + "<i class=\"fa fa-angle-down ang-down\"></i></h4>"); } loadNKPI(); loadD3charts(null); $("#dateFilterContent").hide();'>Apply</button>
                            <button type="button" class="btn none-btn btn-secondary" style="margin-left:10px" onclick='$("#dateFilterContent").hide();'>
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="KPIRow" class="row Kpi-row">
            <div id="KPI"></div>

        </div>
        <div class="row no-margin-top" id="KPI">

        </div>

        <div class="chart-width" id="chart_view">

        </div>

        <div id="gridID" class="display-none">
            <table class="table table-margin table-reponsive t-height" id="grid">

                <thead>

                    <tr>
                        <th class="thead">Id</th>
                        <th class="thead">Monitor Screen</th>
                        <th class="thead">Title</th>
                        <th class="thead">DB Instance</th>
                        <th class="thead">Chart Type</th>
                        <th class="thead">SQL</th>
                        <th class="thead">Row_Number</th>
                        <th class="thead">Column_Number</th>
                        <th class="thead">Height</th>
                        <th class="thead">Width</th>
                        <th class="thead">Role</th>
                        <th class="thead">Action</th>
                    </tr>
                </thead>
                <tbody id="gridBody" class="htnakirs"></tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">Configure</div>
                </div>

                <div class="modal-body">
                    <form id="UpdateForm">
                        <div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-3 display-none">ID</label> <div class="col-sm-12"><label class="control-label display-none" name="EditColumns" id="ID|12"></label></div></div>
                        <div class="form-group col-sm-12 display-none"><label for="queue" class="col-sm-3 display-none">Monitor Screen</label> <div class="col-sm-12"><select size="1" name="EditColumns" class="form-control select2 selectPortalName display-none" id="PortalName|13" value="65" autocomplete="off" data-validation="required"></select></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-3">DB Instance<span class="star">*</span></label> <div class="col-sm-12"><select size="1" name="EditColumns" class="form-control select2 selectDbConnection_Id updateValidateQuery" id="DbConnection_Id|466" value="2" autocomplete="off" data-validation="required"></select></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-3"> SQL<span class="star">*</span></label> <div class="col-sm-12"><input type="text" class="form-control updateValidateQuery" name="EditColumns" id="SQL|16" onblur="UpdateQueryChange()" value="" autocomplete="off" data-validation="required" /></div></div>
                        <div class="col-sm-12 div-validate">
                            <div class="col-sm-9 UpdateValidateInformation"></div>
                            <div class="col-sm-3 text-right">
                                <span class="btn grdnt-validate btn-validat">
                                    <i class="fas fa-check"></i>
                                    <input type="button" id="QueryValidateUpdateButton" value="Validate" class="btn-validate" onclick="QueryValidateClick(this)" disabled />
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-3"> Title<span class="star">*</span></label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Title|14" value="ASSETS" autocomplete="off" data-validation="required" /></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-3"> Chart Type<span class="star">*</span></label> <div class="col-sm-12"><select size="1" name="EditColumns" class="form-control select2 selectChart_Type" id="Chart_Type|15" value="Donut" autocomplete="off" data-validation="required"></select></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-3"> X-Axis<span class="star">*</span></label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Column_Number|18" autocomplete="off" value="" data-validation="required" /></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-3"> Y-Axis<span class="star">*</span></label> <div class="col-sm-12"><input type="text" class="form-control" name="EditColumns" id="Row_Number|17" autocomplete="off" value="" data-validation="required" /></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-3"> Height<span class="star">*</span></label> <div class="col-sm-12"><input type="text" data-validation="number" data-validation-allowing="negative,number" class="form-control" name="EditColumns" id="Height|20" value="" autocomplete="off" data-validation="required" /></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-3"> Width<span class="star">*</span></label> <div class="col-sm-12"><input type="text" data-validation="number" data-validation-allowing="negative,number" class="form-control" name="EditColumns" id="Width|21" value="" autocomplete="off" data-validation="required" /></div></div>
                        <div class="form-group col-sm-12"><label for="queue" class="col-sm-3"> Role<span class="star">*</span></label> <div class="col-sm-12"><select size="1" name="EditColumns" class="form-control select2 selectRole_Id" id="Role_Id|22" value="2" data-validation="required"></select></div></div>
                        <!--<div  class="form-group col-sm-12"><label for="queue" class="col-sm-12 control-label"> Preferences</label> <div class="col-sm-12"><select size="1" name="EditColumns" class="form-control select2 selectPreferences" id="Preferences|23" value="New"></select></div></div>-->
                        <div class="col-xs-12 text-right">
                            <div class="col-sm-12 btn-pad">
                                <button id="UpdateBtn" type="submit" class="btn btn-primary btn-flat">
                                    <span class="fas fa-check "> </span>  Update
                                </button>
                                <button type="button" id="resetform3" class="btn btn-secondary" data-dismiss="modal">
                                    <span class="fas fa-times"></span> Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->

<tablename class="display-none">KPI</tablename>

<script src="/Views/Insight.js">

</script>

<script>
    function check() {
        document.getElementById('warning2').innerText = ""
        document.getElementById('warning1').innerText = ""
        document.getElementById('warning3').innerText = ""
        stringLength = document.getElementById('Title|14').value.length;
        if (stringLength >= 50) {
            document.getElementById('warning').innerText = "Character Limit Exceeded"
        }
        else {
            document.getElementById('warning').innerText = ""
        }
    }
    function check1() {
        document.getElementById('warning').innerText = ""
        document.getElementById('warning2').innerText = ""
        document.getElementById('warning3').innerText = ""
        stringLength = document.getElementById('SQL|16').value.length;
        if (stringLength >= 1000) {
            document.getElementById('warning1').innerText = "Character Limit Exceeded"
        }
        else {
            document.getElementById('warning1').innerText = ""
        }
    }
    function check2() {
        document.getElementById('warning').innerText = ""
        document.getElementById('warning1').innerText = ""
        document.getElementById('warning3').innerText = ""
        stringLength = document.getElementById('Column_Number|18').value.length;
        if (stringLength >= 50) {
            document.getElementById('warning2').innerText = "Character Limit Exceeded"
        }
        else {
            document.getElementById('warning2').innerText = ""
        }
    }
    function check3() {
        document.getElementById('warning').innerText = ""
        document.getElementById('warning1').innerText = ""
        document.getElementById('warning2').innerText = ""
        stringLength = document.getElementById('Row_Number|17').value.length;
        if (stringLength >= 50) {
            document.getElementById('warning3').innerText = "Character Limit Exceeded"
        }
        else {
            document.getElementById('warning3').innerText = ""
        }
    }
    function check6() {
        document.getElementById('warning7').innerText = ""
        stringLength = document.getElementById('Title|940').value.length;
        if (stringLength >= 50) {
            document.getElementById('warning6').innerText = "Character Limit Exceeded"
        }
        else {
            document.getElementById('warning6').innerText = ""
        }
    }
    function check7() {
        document.getElementById('warning6').innerText = ""
        stringLength = document.getElementById('SQL|943').value.length;
        if (stringLength >= 1000) {
            document.getElementById('warning7').innerText = "Character Limit Exceeded"
        }
        else {
            document.getElementById('warning7').innerText = ""
        }
    }
</script>

<script>
    $('#resetform1').click(function () {
        $('#SubmitForm1')[0].reset();
    });
    $('.close').click(function () {
        $('#SubmitForm1')[0].reset();
    });
    $('#resetform3').click(function () {
        $('#UpdateForm')[0].reset();
    });
    $('.close').click(function () {
        $('#UpdateForm')[0].reset();
    });
    $('#resetform2').click(function () {
        $('#SubmitForm2')[0].reset();
    });
    $('.close').click(function () {
        $('#SubmitForm2')[0].reset();
    });
</script>

<script>
    $.validate({
        form: '#SubmitForm1,#UpdateForm,#SubmitForm2,#SubmitForm3'

    });

    // Restrict presentation length

</script>