﻿
<script src="MenuPermissions.js"></script>
<script type="text/javascript"></script>

<style scoped>
    .hint {
        border: 2px solid #00FF00;
        padding: 7px 10px;
        background-color: #FFFFFF;
    }

    tr {
        height: 40px;
    }

    .k-filter-row th, .k-grid-header th.k-header {
        font-size: 15px;
        text-align: center !important;
        padding: 0.5em 1.6em 0.7em .6em;
    }

        .k-grid-header th.k-header:last-child {
            border-left: hidden !important;
        }

    .LOBIcon:before {
        width: 19px !important;
        /*  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%) !important;*/
        height: 19px !important;
        font-size: 11px !important;
        box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);
        border-radius: 20px !important;
        padding: 0px 0px !important;
        line-height: 2 !important;
        /* margin-right: 32px !important; */
        color: #FFF !important;
        /content: url(../Views/dist/img/robot-head-2.png) !important;
    }

    .ProjectIcon:before {
        width: 19px !important;
        /*  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%) !important;*/
        height: 19px !important;
        font-size: 11px !important;
        box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);
        border-radius: 20px !important;
        padding: 0px 0px !important;
        line-height: 2 !important;
        /* margin-right: 32px !important; */
        color: #FFF !important;
        content: url(../Views/dist/img/robot-head-2.png) !important;
    }

    .RobotIcon:before {
        width: 19px !important;
        /*  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%) !important;*/
        height: 19px !important;
        font-size: 11px !important;
        box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);
        border-radius: 20px !important;
        padding: 0px 0px !important;
        line-height: 2 !important;
        /* margin-right: 32px !important; */
        color: #FFF !important;
        content: url(../Views/dist/img/robot-head-3.png) !important;
    }

    .AddIcon:before {
        width: 19px !important;
        /*  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%) !important;*/
        height: 19px !important;
        font-size: 11px !important;
        box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);
        border-radius: 20px !important;
        padding: 0px 0px !important;
        line-height: 2 !important;
        /* margin-right: 32px !important; */
        color: #FFF !important;
        content: url(../Views/dist/img/Add-5.png) !important;
    }

    .EditIcon:before {
        width: 19px !important;
        background-color: transparent;
        /*  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%) !important;*/
        height: 19px !important;
        font-size: 11px !important;
        box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);
        border-radius: 20px !important;
        padding: 0px 0px !important;
        line-height: 2 !important;
        /* margin-right: 32px !important; */
        color: #FFF !important;
        content: url(../Views/dist/img/Edit-5.png) !important;
    }

    .file-list, .file-list ul {
        list-style-type: none;
        font-size: 1em;
        line-height: 1.8em;
        margin-left: 1px;
        padding-left: 1px;
        border-left: 1px dotted #aaa;
    }

        .file-list li {
            position: relative;
            padding-left: 16px;
        }

            .file-list li a {
                text-decoration: none;
                color: #444;
            }

                .file-list li a:before {
                    display: block;
                    content: " ";
                    width: 10px;
                    height: 1px;
                    position: absolute;
                    border-bottom: 1px dotted #aaa;
                    top: .6em;
                    left: -14px;
                }

            .file-list li:before {
                list-style-type: none;
                font-family: FontAwesome;
                display: block;
                content: '\f0f6';
                position: absolute;
                top: 0px;
                left: 0px;
                width: 20px;
                height: 20px;
                font-size: 1.3em;
                color: #555;
            }

        .file-list .folder-root {
            list-style-type: none;
        }

            .file-list .folder-root a {
                text-decoration: none;
                margin-left: 5px;
            }

            .file-list .folder-root:before {
                color: #FFD04E;
                content: "\f07b";
            }

            .file-list .folder-root.open:before {
                content: "\f07c";
            }

    li.folder-root ul {
        transition: all .3s ease-in-out;
        overflow: hidden;
    }

    li.folder-root.closed > ul {
        opacity: 0;
        max-height: 0px;
    }

    li.folder-root.open > ul {
        opacity: 1;
        display: block;
        max-height: 100% !important;
        width: 97%;
    }

    #contextMenu {
        position: absolute;
        z-index: 1001;
        border-radius: 2px;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
        right: 40px;
        width: 100px;
    }

        #contextMenu li {
            background-color: white;
            color: #000000 !important;
            text-align: left;
            padding: 6px 12px !important;
            width: 100px;
            font-size: 12px !important;
            cursor: pointer;
            border-radius: 0px;
            font-weight: 400;
        }

            #contextMenu li:hover {
                background: #ffffff;
                color: #1e57c0 !important;
                font-weight: 600;
            }

    .MenuManager_custom .jstree-anchor {
        width: auto;
    }

    #treelist {
        display: none;
    }

</style>
<section class="content-header">
    <h5 id="PageTitle">
        Menu Permissions

    </h5>


</section>
<!-- Content Header (Page header) -->
<section class="content">

    <div class="row menu-bg">
        <div class="col-sm-12 menu-content">
            <form id="SubmitForm" class="col-sm-12" style="height:100%">
                <div class="form-group col-md-6" id="AddMenuDiv" style="display:initial">
                    <label for="queue" class="col-sm-4 col-md-3 col-lg-2 control-label no-padding">Role<span style="color:#B71C1C;">*</span></label>
                    <div class="col-sm-8 col-md-9 col-lg-8" style="width:50%">
                        <select class="mdb-select md-form colorful-select form-control select2 selectPortalName" id="SelectRole" value="Select Option">
                            <option value=default selected>Select Role</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6" id="AddTypeDiv" style="display:initial">
                    <label for="queue" class="col-sm-4 col-md-3 col-lg-2 control-label no-padding">Type<span style="color:#B71C1C;">*</span></label>
                    <div class="col-sm-8 col-md-9 col-lg-8" style="width:50%">
                        <select class="mdb-select md-form colorful-select form-control select2 selectPortalName" id="SelectType" value="Select Option">
                            <option value=default selected>Select Type</option>
                            <option value=MenuDropdown>Menu</option>
                            <option value=DashboardDropdown>Dashboard</option>
                        </select>
                    </div>
                </div>
                <div id='contextMenu' style='list-style: none;display:none'>
                    <ul>
                        <li>
                            <a href='#' target='_blank'>Open in New Window</a>
                        </li>
                        <li>
                            <a href='#' onclick='window.print()'>Print this Page</a>
                        </li>
                    </ul>
                </div>

                <div id="treelist" onscroll="contextMenu()" style="border-right:0px solid #c5c5c5;height:85%;overflow:auto;float:left;">
                    <ul id="TreeList" style="font-size: 12px"></ul>
                </div>

                <div id="dtreelist" onscroll="contextDashboard()" style="border-right:0px solid #c5c5c5;height:85%;overflow:auto;float:left;display:none;">
                    <ul id="DTreeList" style="font-size: 12px"></ul>
                </div>

                <div class="form-group col-sm-10 col-md-11 col-lg-10 text-right connect" style="">
                    <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat" disabled>Update<span class="fas fa-check pull-left upldd"></span></button>
                    <button id="CancelBtn" type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fas fa-times"></span> Cancel
                    </button>

                </div>

            </form>
        </div>

    </div>
</section>