﻿<script src="MenuManager.js"></script>
<script type="text/javascript"></script>
<script src="ApplicationURL.js"></script>
<script src="../scripts/contextMenu.js"></script>
<style scoped>
    .hint {
        border: 2px solid #00FF00;
        padding: 7px 10px;
        background-color: #FFFFFF;
    }

    tr {
        height: 40px;
    }

    .k-filter-row th, .k-grid-header th.k-header {
        font-size: 15px;
        text-align: center !important;
        padding: 0.5em 1.6em 0.7em .6em;
    }

        .k-grid-header th.k-header:last-child {
            border-left: hidden !important;
        }

    .LOBIcon:before {
        width: 19px !important;
        /*  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%) !important;*/
        height: 19px !important;
        font-size: 11px !important;
        box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);
        border-radius: 20px !important;
        padding: 0px 0px !important;
        line-height: 2 !important;
        /* margin-right: 32px !important; */
        color: #FFF !important;
        /content: url(../Views/dist/img/robot-head-2.png) !important;
    }

    .ProjectIcon:before {
        width: 19px !important;
        /*  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%) !important;*/
        height: 19px !important;
        font-size: 11px !important;
        box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);
        border-radius: 20px !important;
        padding: 0px 0px !important;
        line-height: 2 !important;
        /* margin-right: 32px !important; */
        color: #FFF !important;
        content: url(../Views/dist/img/robot-head-2.png) !important;
    }

    .RobotIcon:before {
        width: 19px !important;
        /*  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%) !important;*/
        height: 19px !important;
        font-size: 11px !important;
        box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);
        border-radius: 20px !important;
        padding: 0px 0px !important;
        line-height: 2 !important;
        /* margin-right: 32px !important; */
        color: #FFF !important;
        content: url(../Views/dist/img/robot-head-3.png) !important;
    }

    .AddIcon:before {
        width: 19px !important;
        /*  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%) !important;*/
        height: 19px !important;
        font-size: 11px !important;
        box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);
        border-radius: 20px !important;
        padding: 0px 0px !important;
        line-height: 2 !important;
        /* margin-right: 32px !important; */
        color: #FFF !important;
        content: url(../Views/dist/img/Add-5.png) !important;
    }

    .EditIcon:before {
        width: 19px !important;
        background-color: transparent;
        /*  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%) !important;*/
        height: 19px !important;
        font-size: 11px !important;
        box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);
        border-radius: 20px !important;
        padding: 0px 0px !important;
        line-height: 2 !important;
        /* margin-right: 32px !important; */
        color: #FFF !important;
        content: url(../Views/dist/img/Edit-5.png) !important;
    }

    .file-list, .file-list ul {
        list-style-type: none;
        font-size: 1em;
        line-height: 1.8em;
        margin-left: 1px;
        padding-left: 1px;
        border-left: 1px dotted #aaa;
    }

        .file-list li {
            position: relative;
            padding-left: 16px;
        }

            .file-list li a {
                text-decoration: none;
                color: #444;
            }

                .file-list li a:before {
                    display: block;
                    content: " ";
                    width: 10px;
                    height: 1px;
                    position: absolute;
                    border-bottom: 1px dotted #aaa;
                    top: .6em;
                    left: -14px;
                }

            .file-list li:before {
                list-style-type: none;
                font-family: FontAwesome;
                display: block;
                content: '\f0f6';
                position: absolute;
                top: 0px;
                left: 0px;
                width: 20px;
                height: 20px;
                font-size: 1.3em;
                color: #555;
            }

        .file-list .folder-root {
            list-style-type: none;
        }

            .file-list .folder-root a {
                text-decoration: none;
                margin-left: 5px;
            }

            .file-list .folder-root:before {
                color: #FFD04E;
                content: "\f07b";
            }

            .file-list .folder-root.open:before {
                content: "\f07c";
            }

    li.folder-root ul {
        transition: all .3s ease-in-out;
        overflow: hidden;
    }

    li.folder-root.closed > ul {
        opacity: 0;
        max-height: 0px;
    }

    li.folder-root.open > ul {
        opacity: 1;
        display: block;
        max-height: 100% !important;
        width: 97%;
    }

    #contextMenu {
        position: absolute;
        z-index: 1001;
        border-radius: 2px;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
        right: 40px;
        width: 100px;
    }

    #contextMenu li {
        background-color: white;
        color: #000000 !important;
        text-align: left;
        padding: 6px 12px !important;
        width: 100px;
        font-size:12px !important;
        cursor: pointer;
        border-radius: 0px;
        font-weight: 400;
    }

    #contextMenu li:hover {
        background: #ffffff;
        color: #1e57c0 !important;
        font-weight: 600;
    }

    .MenuManager_custom .jstree-anchor {
        width: auto;
    }
</style>
<section class="content-header">
    <h5 id="PageTitle">
        Menu Manager

    </h5>
    <ol class="breadcrumb">
        <!--<li><a href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?Dashboard", 0)'><i class="fa fa-dashboard"></i><b> Home</b></a></li>
        <li><a href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?generatedHTML/KPI_1", 0)'><i class="fa fa-user"></i> <b>Administrator</b></a></li>
        <li><a href='javascript:;' onclick='layoutRefresh(window.location.origin + "/Views/Layout.html?/Screen_generation", 0)'><i class="fa fa-ticket"></i> <b>Screens</b></a></li>
        <li class="active"><b>Menu Manager</b></li>-->
    </ol>


</section>
<!-- Content Header (Page header) -->
<section class="content">

    <div class="row menu-bg">
        <div class="col-sm-6 col-md-5 col-lg-4 menu-content" style="float:left;">

            <div id='contextMenu' style='list-style: none;display:none'>
                <!--<ul>
                    <li><a href='#' target='_blank'>Open in New Window</a></li>
                    <li><a href='#' onclick='window.print()'>Print this Page</a></li>
                </ul>-->
            </div>

            <div id="treelist" onscroll="contextMenu()" style="border-right:1px solid #c5c5c5;height:97%;overflow:auto">
                <ul id="TreeList" style="font-size: 12px"></ul>
            </div>
        </div>

        <div class="col-sm-6" id="AddMenuDiv" style="float:left;padding-top:10px;display:none">
            <!--<form id="SubmitForm" class="col-sm-12">-->
            <form id="SubmitForm" data-toggle="validator" role="form">
                <div class="form-group col-sm-12" style="display:initial">
                    <label for="queue" class="col-sm-4 col-md-3 col-lg-2 control-label no-padding"> Name<span style="color:#B71C1C;">*</span></label>
                    <div class="col-sm-8 col-md-9 col-lg-8">
                    
                        <!--<input type="text" class="systemsaddmodal form-control" name="Columns" id="AddMenuName" value="" autocomplete="off" required />-->
                        <input type="text" class="form-control" name="Columns" id="AddMenuName" value="" autocomplete="off" required />
                    </div>
                </div>
                <div class="form-group col-sm-12" style="display:initial">
                    <label for="queue" class="col-sm-4 col-md-3 col-lg-2 control-label no-padding"> Class<span style="color:#B71C1C;">*</span></label>
                    <div class="col-sm-8 col-md-9 col-lg-8">
                        <input type="text" class="systemsaddmodal form-control" name="Columns" autocomplete="off" id="AddMenuClass" value="" required />
                    </div>
                </div>
                <!--<div class="form-group col-sm-12" style="display:initial">
            <label for="queue" class="col-sm-4 col-md-3 col-lg-2 control-label no-padding"> Order<span style="color:#B71C1C;">*</span></label>
            <div class="col-sm-8 col-md-9 col-lg-8">
                <input type="number" class="systemsaddmodal form-control" name="Columns" id="AddMenuOrder" min="0" value="" autocomplete="off" required />
            </div>
        </div>-->
                <div class="form-group col-sm-12" style="display:block">
                    <label for="queue" class="col-sm-4 col-md-3 col-lg-2 control-label no-padding">Type<span style="color:#B71C1C;">*</span></label>
                    <div class="col-sm-8 col-md-9 col-lg-8 radio-btns rdlabel">
                        <div class="col-sm-6 col-md-6 col-lg-5 no-padding">
                            <input type="radio" id="AddMenuTypeMenu" class="systemsaddmodal1 col-sm-2" name="rows" autocomplete="off" value="" required />
                            <label class="no-padding control-label"> Menu</label>

                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-5 no-padding">
                            <input type="radio" id="AddMenuTypeItem" class="systemsaddmodal1 col-sm-2" name="rows" autocomplete="off" value="" required />
                            <label class="no-padding control-label">Page</label>
                            
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12" style="display:initial">
                    <label for="queue" class="col-sm-4 col-md-3 col-lg-2 control-label no-padding">Line Of Business<span style="color:#B71C1C;">*</span></label>
                    <div class="col-sm-8 col-md-9 col-lg-8">
                        <select class="mdb-select md-form colorful-select form-control select2 selectPortalName" id="AddMenuLOB" value="" required></select>
                    </div>
                </div>
                <div class="form-group col-sm-12" style="display:block" id="pathDiv">
                    <label for="queue" class="col-sm-4 col-md-3 col-lg-2 control-label no-padding"> Path Type<span style="color:#B71C1C;">*</span></label>
                    <div class="col-sm-8 col-md-9 col-lg-8 radio-btns rdlabel">
                        <div class="col-sm-6 col-md-6 col-lg-5 no-padding">
                            <input type="radio" id="AddMenuPathCustom" class="systemsaddmodal col-sm-2" name="Columns" autocomplete="off" value="" required />
                            <label class="no-padding control-label"> Custom</label>
                            
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-5 no-padding">
                            <input type="radio" id="AddMenuPathGenerated" class="systemsaddmodal col-sm-2" name="Columns" autocomplete="off" value="" required />
                            <label class="no-padding control-label">Generated</label>
                            
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12" style="display:initial">
                    <label for="queue" class="col-sm-4 col-md-3 col-lg-2 control-label no-padding"> Path<span style="color:#B71C1C;">*</span></label>
                    <div class="col-sm-8 col-md-9 col-lg-8">
                        <input type="text" class="systemsaddmodal form-control" name="Columns" id="AddMenuPath" value="" autocomplete="off" required disabled />
                    </div>
                </div>
                <!--<div class="form-group col-sm-12" style="display:initial"><label for="queue" class="col-sm-4 col-md-3 col-lg-2 control-label no-padding">Role<span style="color:#B71C1C;">*</span></label> <div class="col-sm-8"><select multiple="multiple"><option value="Admin">Admin</option><option value="Analyst">Analyst</option><option value="User">User</option></select></div></div>-->
                <div class="form-group col-sm-12" style="display:block">
                    <label for="queue" class="col-sm-4 col-md-3 col-lg-2 control-label no-padding"> Active<span style="color:#B71C1C;"></span></label>
                    <div class="col-sm-8 col-md-9 col-lg-8 rdlabel">
                        <input type="checkbox" id="AddMenuActive" class="systemsaddmodal" name="Columns" autocomplete="off" value="" />
                    </div>
                </div>
                <div class="form-group col-sm-10 col-md-11 col-lg-10 text-right connect" style="">
                    <button id="RegisterBtn" type="submit" class="btn btn-primary btn-flat">
                        Add
                    </button>
                    <button id="CancelBtn" button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fas fa-times"></span> Cancel
                    </button>

                    <!--<button id="CancelBtn" type="submit" class="btn btn-secondary">
                <span class="fas fa-times"></span> Cancel
                </button>-->
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal"onclick='layoutRefresh(window.location.origin+"/Views/Layout.html?MenuManager",0)' >
                    <span class="fas fa-times"></span> Cancel
            </button>-->

                </div>
            </form>
        </div>
    </div>
</section>

<!-- /.content-wrapper -->
