﻿<script src="../scripts/sweetalert.min.js"></script>



<script>menuID = 119</script>
<div class="col-sm-12">


    <form id="Update_p_Form" type="submit" class="form-horizontal" data-toggle="validator" role="form">
        
        <div class="form-group">
            <label class="col-sm-12 control-label" style="display:none">ID</label>
            <div class="col-sm-12">
                <input tabindex="0" name="EditColumnsProfile" type="text" id="ID" class="profile form-control" placeholder="ID" style="display:none" disabled>
            </div>
        </div>
        <div class="admin_pro_name">
            <div class="imageContainer">
                <center>
                    <img id="user_img" alt="Choose Image" class="img-responsive img-thumbnail" />
                    <div class="imageContent text-center" title="Choose Image" id="edithover" style="display:none">
                        <!--<p style="margin: 2px;">Edit image</p>-->
                        <i class="fas fa-camera"></i>
                    </div>
                </center>
            </div>
            

            <div>
                <input type="file" id="fileuploader" onchange="openFile(event)" style="display:none"  disabled/>

            </div>

            <div class="form-group">
                <div class="col-sm-12 un">
                    <input tabindex="4" name="EditColumnsProfile" type="text" id="UserName" class="profile form-control" autocomplete="off" placeholder="UserName" readonly>
                </div>
            </div>

        </div>
        <hr class="hr_profile" />
        <div class="admin_edit">
            <div class="form-group">
                <label class="col-sm-12 control-label">First Name</label>
                <div class="col-sm-12">
                    <input tabindex="0" name="EditColumnsProfile" type="text" id="FirstName" maxlength="150" class="profile form-control" placeholder="FirstName" autocomplete="off" data-validation="required" disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-12 control-label">Last Name</label>
                <div class="col-sm-12">
                    <input tabindex="1" name="EditColumnsProfile" type="text" id="LastName" maxlength="150" class="profile form-control" placeholder="LastName" autocomplete="off" data-validation="required" disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-12 control-label">Email</label>
                <div class="col-sm-12">
                    <input tabindex="2" name="EditColumnsProfile" type="text" id="Email_ID" class="profile form-control" placeholder="abc@gmail.com" autocomplete="off" data-validation="email" disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-12 control-label">Contact No </label>
                <div class="col-sm-12">
                    <input onkeypress="return isNumberKey(event)" maxlength="15" name="EditColumnsProfile" type="text" id="ContactNo" class="profile form-control" placeholder="Contact No" autocomplete="off" data-validation="length" data-validation-length="10-15" disabled>
                </div>
            </div>

        </div>


        <div class="form-group profile_btns">
            <div class="col-sm-12 no-padding profile_btns-col">

                <button id="profileupdate" type="submit" class="btn btn-primary">
                    <i class="fa fa-edit profile-fa"></i>Edit Profile
                </button>
                <button type="button" class="btn btn-clear_all btn-secondary" onclick="updationcancel()">
                    <i class="fas fa-times"></i>
                    Cancel
                </button>

            </div>
        </div>

    </form>
</div>

<script>
    var filePath = "";
    $(document).ready(function () {
        var x = localStorage.getItem("Result");
        var role = JSON.parse(x);
        $("#FirstName").val(role.FirstName);
        $("#LastName").val(role.LastName);
        $("#ID,#currentid").val(role.User_ID);
        $("#Email_ID").val(role.Email_ID);
        $("#ContactNo").val(role.ContactNO);
        $("#UserName").val(role.UserName);

        if ((role.Imagesrc == null)) {
            $("#user_img").prop("src", "dist/img/userimage.png");
        }
        else {
            $('#user_img').attr('src', role.Imagesrc);
        }
        $('#user_img, #edithover').on('click', function (e) {
                $('#fileuploader').click();
                if ($('#fileuploader').val() == '') {
                }
             else {

            }

        });
        $("#Update_p_Form").on("submit", function (e) {
            
            e.preventDefault();
            var updateBtn = $('#profileupdate')[0].innerText;
            $("#fileuploader").prop("disabled", false); 
            if (updateBtn == "Edit Profile") {
                $('.profile').removeAttr('disabled');
                $('#profileupdate')[0].innerHTML = '<i class="fas fa-check profile-fa"></i>Update'
                $('.form-control').css('color', '#333');
                $(".imageContent").show();
                $('.btn-clear_all').show();
            }
            else {
                
                $('#user_img').css('cursor', 'auto');
                var IDName = $('[name="EditColumnsProfile"]')[0].id.split("|");
                var ID1 = {};
                var pr_id = $('[name="EditColumnsProfile"]')[0].value;
                ID1[IDName[0]] = $('[name="EditColumnsProfile"]')[0].value;
                columns = $('[name="EditColumnsProfile"]');
                var Values = {
                    "UpdateBy": window.btoa(JSON.parse(localStorage.Result).User_ID),
                    //  "UpdateDatetime": window.btoa(GetNow())
                }
                for (var i = 1; i < columns.length; i++) {
                    var z = $('[name="EditColumnsProfile"]')[i].id.split("|");
                    if ($('[name="EditColumnsProfile"]')[i].type == "checkbox") {
                        Values[z[0]] = window.btoa($('[name="EditColumnsProfile"]')[i].checked);
                    }
                    else {
                        Values[z[0]] = window.btoa($('[name="EditColumnsProfile"]')[i].value);
                    }
                }

                var values = JSON.stringify(Values);
                var Id = "";
                Id = JSON.stringify(ID1);
                $.ajax({
                    type: "POST",
                    url: GlobalURL + '/api/CrudService/UpdateTableRow?tablename=USER&ID=' + Id,
                    data: JSON.stringify(values),
                    async:false,
                    contentType: 'application/json; charset=utf-8',
                    success: function (val) {
                        
                        if (val == "true") {
                            swal("", "Profile Updated Successfully", "success");
                            var x = localStorage.getItem("Result");
                            var role = JSON.parse(x);
                            role.FirstName = atob(Values.FirstName);
                            role.LastName = atob(Values.LastName);
                            role.Email_ID = atob(Values.Email_ID);
                            role.ContactNO = atob(Values.ContactNo);
                            var vals = JSON.stringify(role);
                            window.localStorage.setItem('Result', vals);
                            $(".username").text(role.FirstName + " " + role.LastName);
                            $(".imageContent").hide();
                        }
                        $('.profile').prop("disabled", true);
                        $('.btn-clear_all').hide();
                        $('#profileupdate')[0].innerHTML = '<i class="fa fa-edit profile-fa"></i>Edit Profile'

                    },
                    error: function (e) {

                    }
                });
                var IDName = $('[name="EditColumnsProfile"]')[0].id;
                var ID1 = {};
                ID1[IDName] = $('[name="EditColumnsProfile"]')[0].value;
                columns = $('[name="EditColumnsProfile"]');
                var Values = {
                    "UpdateBy": window.btoa(JSON.parse(localStorage.Result).User_ID),
                    //  "UpdateDatetime": window.btoa(GetNow())
                }
                for (var i = 1; i < columns.length; i++) {
                    var z = $('[name="EditColumnsProfile"]')[i].id;
                    Values[z] = window.btoa($('[name="EditColumnsProfile"]')[i].value);
                }
                var values = JSON.stringify(Values);
                var Id = "";
                var Id = JSON.stringify(ID1);
                var x = localStorage.getItem("Result");
                var role = JSON.parse(x);
                if ($('#fileuploader').val() != '') {
                    $(".img-circle").prop("src", filePath);
                    $(".user-image").prop("src", filePath);
                    $("#user_img").prop("src", filePath);
                    var x = localStorage.getItem("Result");
                    var role = JSON.parse(x);
                    var ID = {};
                    ID["ID"] = role.User_ID;
                    var Id = JSON.stringify(ID);
                    var imageData = {};
                    imageData["Imagesrc"] = window.btoa(filePath);
                    var imageDataString = JSON.stringify(imageData);
                    $.ajax({
                        type: "POST",
                        async:false,
                        url: GlobalURL + '/api/CrudService/UpdateTableRow?tablename=USER&ID=' + Id,
                        data: JSON.stringify(imageDataString),
                        contentType: 'application/json; charset=utf-8',
                        success: function (val) {
                            if (val == "true") {
                                swal("", "Profile Updated Successfully", "success");
                                role.Imagesrc = filePath;
                                var valss = JSON.stringify(role);
                                window.localStorage.setItem('Result', valss);
                            }
                        },
                        error: function (e) {

                        }

                    });
                } else {

                }

            }
        });

    });
    var reader = new FileReader();
    var openFile = function (event) {
        var input = event.target;
        reader.onload = function () {

            var dataURL = reader.result;
            var output = document.getElementsByName('fileuploader');
            $('#user_img').attr('src', reader.result);
            filePath = reader.result;
            output.src = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
    };

    function updationcancel() {
        var x = localStorage.getItem("Result");
        var role = JSON.parse(x);
        $("#FirstName").val(role.FirstName);
        $("#LastName").val(role.LastName);
        $("#ID,#currentid").val(role.ID);
        $("#Email_ID").val(role.Email_ID);
        $("#ContactNo").val(role.ContactNO);
        $("#UserName").val(role.UserName);
        $('#profileupdate')[0].innerText;
        $('.user.user-menu').removeClass('open');
        //var updateBtn = $('#profileupdate')[0].innerText;
        //if (updateBtn == "Edit") {
        //    window.location.href = "Layout.html?Dashboard";
        //}
        //else {
        //    window.location.href = "Layout.html?Profile";
        //}
    }
</script>
<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>
<script>
    $('#txtbox').on('paste', function (e) {
        var $this = $(this);
        setTimeout(function (e) {
            if (($this.val()).match(/[^0-9]/g)) {
                $("#errormsg").html("Only Numerical Characters allowed").show().delay(2500).fadeOut("slow");
                setTimeout(function (e) {
                    $this.val(null);
                }, 2500);
            }
        }, 5);
    });
</script>
<script>
    $.validate({
        form: '#Update_p_Form'

    });
</script>

<script>
    $('#ContactNo').bind("cut copy paste", function (e) {
        e.preventDefault();
    });
</script>