﻿<style>
    .display.dataTable.no-footer {
        min-height: 650px !important;
        max-height: 650px !important;
    }
</style>
<script src="../scripts/sweetalert.min.js"></script>
<span class="joystick"></span>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h5 id="PageTitle"> Screen Generation </h5>
    <ol class="breadcrumb"></ol>
</section>

<!-- Main Section Start -->
<section class="content">
    <div id="example" class="CRUDGrid">
        <div class="container-fluid trigger_buttons right-btns">
            <div class="row">
                <!--<div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" title="Search" id="Filter" class="form-control search_box pull-right" placeholder="Search" onkeyup="$('#btnFilter').click();">
                        <span class="input-group-btn">
                            <button type="button" id="btnFilter" class="btn btn-primary btn-search"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>-->

                <div class="col-sm-12">
                    <div class="pull-right">
                        <a href='javascript:;' onclick='layoutRefresh(window.location.origin+"/Views/Layout.html?Add_newgeneration",0)' class="btn btn-add">
                            <!--<class="btn btn-primary btn-lg" data-toggle="modal" >--><i class="fa fa-plus"></i> Add New
                        </a>
                        <button type="button" onclick="Insightclick()" class="btn btn-insight" style="color:#fff" disabled>
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            Insights
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="ScreensDiv" style="margin-top: 0px;height:inherit !important">
            <!--<div id="ScreensGrid" style="height:inherit !important"></div>-->
            <table id="ScreensGrid" class="display" style="width:100%  !important;height:50%;cursor:pointer">
                <thead>
                    <tr>
                        <th>Screen Id </th>
                        <th>Screen Name </th>
                        <th>Table Name </th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
<!-- /.content-wrapper -->
<!-- Control Sidebar -->
<script>

    $(document).ready(function () {
        if (sessionStorage.getItem("iSessionState") == 'N') {
            //window.open('index.html');
            location.href = "../index.html";
        }
        else {

        }
        gridLoad();
    });
    function gridLoad() {
        $("#loader").show();
        $.ajax({
            type: "GET",
            url: GlobalURL + '/api/CrudService/getTableData?tablename=ScreenTable',
            //data: Htmlname ,
            contentType: 'application/json; charset=utf-8',
            //dataType: 'json',

            success: function (val) {
                var dataSource = $.parseJSON(val);
                var t = $('#ScreensGrid').DataTable({
                    destroy: true,
                    "aLengthMenu": [[20, 40, 60, -1], [20, 40, 60, "All"]],
                    "iDisplayLength": 20,
                    "scrollY": true,
                    "scrollX": true,
                    "order": [[0, 'desc']],
                    "oLanguage": { "sSearch": "" },
                    "columnDefs": [{
                        "targets": '_all',
                        "defaultContent": "",
                    },
                    {
                        "aTargets": [0],
                        "sClass": "hidden"
                    },
                    {
                        "targets": [0],
                        "orderable": true
                    },
                    ],
                });
                t.clear();
                for (i = 0; i < dataSource.length; i++) {
                    t.row.add([
                        "<div id='" + dataSource[i]["Screen_ID"] + " ' ondblclick='loadNewScreenPage(id)'>" + dataSource[i]["Screen_ID"] + " </div>",
                        "<div id='" + dataSource[i]["Screen_ID"] + " ' ondblclick='loadNewScreenPage(id)'>" + dataSource[i]["Screen_Name"] + " </div>",
                        "<div id='" + dataSource[i]["Screen_ID"] + " ' ondblclick='loadNewScreenPage(id)'>" + dataSource[i]["Table_Name"] + " </div>",
                        "<button class='deleteBtnClass btn btn-flat' title='Delete' onclick='deleteFunction(this)'><i class='fa fa-trash' aria-hidden='true' style='font-size:16px'></i><span class='tooltiptext deleteedit'>Delete</span></button>",
                    ]);
                    t.draw(false);
                    $("#ScreensGrid_wrapper .dataTables_length label").css("display", "none");
                    $(".dataTables_filter").addClass("pull-left");
                    $($('#ScreensGrid_filter').find('[type="search"]')[0]).attr('placeholder', 'Search...');
                }
                t.page('first').draw('page');

                $("#ScreensGrid").removeClass("no-footer");
                $("#loader").hide();
            },
            error: function (e) {

                gridLoad();
            }
        });
    }

    function deleteFunction(e) {
        swal("Are you sure you want to delete this record?", {
            buttons: ["Cancel", "Ok"],
            className: "deleterecord",
            closeOnClickOutside: false,
            closeOnEsc: false,
        });
        $(".deleterecord .swal-footer .swal-button-container .swal-button--confirm").on("click", function () {
            var tr = $(e)[0].closest("tr");
            var uid = $(tr).children('td:first-child')[0].innerHTML;

            var x = $('th')[0];
            var columnName = $(x).attr('data-field');
            var data = {
            }
            data[$(x).attr('data-field')] = uid;

            //console.log(data);
            var IdData = JSON.stringify(data);
            $.ajax({
                type: "POST",
                url: GlobalURL + '/api/ScreenGeneration/deleteScreen?tablename=ScreenTable' + '&deleteid=' + $(uid)[0].innerHTML,
                //data: Htmlname ,
                contentType: 'application/json; charset=utf-8',
                //dataType: 'json',

                success: function (val) {
                    if (val == "Success") {
                        //getMenuItems();
                        getMenuItemsForScreen();
                        swal("", "Record deleted Successfully", "success", { closeOnClickOutside: false }), window.setTimeout(function () {
                            var url = "/Views/Layout.html?Screen_Generation";
                            layoutRefresh(window.location.origin + url, 0);
                        }, 2500);
                    }
                    else {
                        $("#feedbackMsg").html("Sorry cannot perform such operation");
                    }
                },
                error: function (e) {
                    $("#feedbackMsg").html("Something Wrong.");
                }
            });
        });
    }
    function loadNewScreenPage(id) {
        //$(".globalScreenID")[0].data('screenId', id);
        // $(".globalScreenID")[0].innerHTML = id;
        //globalId = id;
        var url = "/Views/Layout.html?Add_newgeneration?screen_id=" + id;
        layoutRefresh(window.location.origin + url, 0);
    }
</script>
<script src="ProjectName.js"></script>
<script src="ApplicationURL.js"></script>