.navbar .navbar-static-top{    
    background: linear-gradient(to right, #FFF,#FDFDFD ) !important;
}

.onoffswitch2-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.03) !important; 
    border-radius: 16px !important;
}

.onoffswitch2-inner:before {
      background-image: linear-gradient(135deg, #565656 0%, #565656 100%) !important;
    /* background: linear-gradient(to right, #2673fb,#6913cc ) !important;*/
}

/*aside.main-sidebar{
    
    background: linear-gradient(to right, #2673fb,#6913cc ) !important;
}*/


/*.small-cardbox{
    width: auto;
    min-height: 180px;
    padding: 40px;
    background: linear-gradient(to right, #2673fb,#6913cc ) !important;
}*/
        