
.faIcon{
    font-size:12px;
}
.button {
   
    background-color: #ffffff;
    border: none;
    color: #386386 ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px !important;
    margin: 4px 2px;
    cursor: pointer;
    padding:-1px 0px;
   
}
.button[disabled]{
    color:gray !important;
}
.button:focus {
    outline: none;
  
}
.button:hover{
    background-color:#dff0d8;
}
.button:hover:disabled{
    background-color:#ffffff;
}

button.add_prj {
       font-size: 14px !important;
    color: #1e57c0 !important;
    padding: 0px 0px;
    position: absolute;
    right: 1.15vw;
}
button#delete_Robot{
    font-size:14px !important;
    color:#337ab7 !important;
     padding:0px 0px;
         margin-left: 6%;
}
#title_Studio{
    margin-top:2px;
    margin-bottom:4px;
}
.file-list, .file-list ul{
    list-style-type: none;
    font-size:1em;
    line-height:1.8em;
  
    padding-left:18px;
    border-left:1px dotted #aaa;
}
.file-list{
      margin-left:20px;
      /* width:89%; */
}
.file-list li{
    position: relative;
    padding-left:22px;
}
.file-list li a{
    text-decoration: none;
    color:#444;  
}
.file-list li a:before{
    display:block;
    content: " ";
    width:10px;
    height:1px;
    position:absolute;
    border-bottom:1px dotted #aaa;
    top:.6em;
    left:-14px;
}
.file-list li:before{
    list-style-type: none;
    font-family: FontAwesome;
    display:block;
    content:url(../Views/dist/img/head.png);
    position:absolute;
    top:0px;
    left:0px;
    width:20px;
    height:20px;
    font-size:16px;
    color:#555;
}
.file-list li.Robot:before{
    list-style-type: none;
    font-family: FontAwesome;
    display:block;
    content:url(../Views/dist/img/head.png);
    position:absolute;
    top:0px;
    left:0px;
    width:20px;
    height:20px;
    font-size:16px;
    color:#555;
}
.file-list li.FlowChart:before{
    list-style-type: none;
    font-family: FontAwesome;
    display:block;
    content:url(../Views/Images/ValueStream.svg);
    position:absolute;
    top:0px;
    left:0px;
    width:20px;
    height:20px;
    font-size:16px;
    color:#555;
}

.file-list li .active {
    color: #006dd5 !important;
    font-weight: bold;
}
.file-list li.ValueStreamMap:before {
    list-style-type: none;
    font-family: FontAwesome;
    display: block;
    content: '\f03c';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    font-size: 1.3em;
    color: #555;
}
.file-list .folder-root{
    list-style-type: none;
}
.file-list .folder-root a {
    text-decoration: none;
    font-size: 16px;
}
.file-list .folder-root:before{
    color:#FFD04E;
    content: url(../Views/dist/img/outerbot.png) ;

}

li.folder-root ul{
    transition: all .3s ease-in-out;
    overflow:hidden;
}
li.folder-root.closed>ul{
   opacity:0;
   max-height:0px;
}
li.folder-root.open>ul{
   opacity:1;
   display:block;
   max-height:1000px;
}

/*tooltip*/
.tooltip {
    position: relative !important;
    display: inline-block !important;
    border-bottom: 1px dotted black !important;
}

.tooltip .tooltiptext {
    visibility: hidden !important;
    width: 120px !important;
    background-color: #555 !important;
    color: #fff !important;
    text-align: center !important;
    border-radius: 6px !important;
    padding: 5px 0 !important;
    position: absolute !important;
    z-index: 1 !important;
    bottom: 125% !important;
    left: 50% !important;
    margin-left: -60px !important;
    opacity: 0 !important;
    transition: opacity 1s !important;
}

.tooltip .tooltiptext::after {
    content: "" !important;
    position: absolute !important;
    top: 100% !important;
    left: 50% !important;
    margin-left: -5px !important;
    border-width: 5px !important;
    border-style: solid !important;
    border-color: #555 transparent transparent transparent !important;
}

.tooltip:hover .tooltiptext {
    visibility: visible !important;
    opacity: 1 !important;
}


/* css by Baji for Bot Studio*/

.sidebar-menu > li {
    border-bottom: 1px solid #efefef !important;
}

#MainMenu{
    border-right: 1px solid #dedcdc !important;
}

#myDiagramDiv, #myPropertiesDiv{
    border: none !important;
}

.ui-accordion .ui-accordion-header {
    padding: .8em .7em .8em 1.7em !important;
    font-size: 16px !important;
}

body{
    background-color: #f6f6f6;
}

.ui-accordion .ui-accordion-content{
    overflow: visible;
}

.ui-accordion .ui-accordion-header{
     margin: 0px 0 0 0 !important;    
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{    
    border: 1px solid #f1efef !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    background: #ffffff;
    color: #5f5f5f;
    color: #006dd5 !important;
    font-weight: 500 !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
    border-bottom-right-radius: 3px;
}

#myInput{
    background-image: none;
    background-color: white;
    border-radius: 0px !important;
    background-size: 15px 15px;
    background-position: 95% 6px;
    background-repeat: no-repeat;
    height: 44px;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 11px;
    border: 1px solid #eaeaea;
   
}

.ui-widget-content{
    border: 1px solid #f1efef !important;
}

.projectxplorer{
    border: 2px solid #d8d8d8;
    background-color: #dededf;
    color: #505050;
    padding: 8px;
    text-align: center;
    }

.skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a{
    border-right: 2px solid #1e57c1 !important;
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon{    
/*background-image: url("../Views/Images/ui-icons_555555_256x240.png");*/    
background-image:none;
}

#myDiagramDiv{    
    background: url('../Views/Images/canvasbg.png') #FFF;
    background-repeat: repeat;
    background-size: auto;   
    background-color:white; 
}

#myDiagramDiv canvas{
    background-color: rgba(0,0,0,0) !important;
    width: 100%;
    height: 100%;
}

button#delete_Robot{
    color: #3f4d67 !important;
}


.file-list li.Prjbtn:before {
       content:"\f15c" !important;
        color: #3f4d67 !important;
}
    .file-list li .Prjbtn:before {
    content:"\f15c" !important;
    color: #1e7dc0 !important;
}


.file-list li.Robot:before{
         font-size: 16px !important;
    border-radius: 20px !important;
    padding: 0px 0px !important;
    content: url('../Views/dist/img/head.png');
    
}
.file-list li.ValueStreamMap:before{
    width: 18px;
    height: 18px;
    content: url('../Views/Images/ValueStream.svg');
}

/*-----remove following csss once custom.css is finalised------*/

}

.skin-blue .sidebar-menu>li>.treeview-menu {
    background: #d3dee4 !important
}

.skin-blue .sidebar-menu .treeview-menu > li > a {
}

.skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a {
    color: #FFF !important;
    background: #fab43d !important;
    border-right: 0px solid #1973bc !important;
}

.sidebar-menu>li>a {    
    line-height: 2.5;    
}

.skin-blue .sidebar a {
    color: #666 !important;
    font-weight: 600 !important;
    border-bottom: 0px solid rgba(241, 241, 241, .6);
}


.skin-blue .sidebar-menu > li.active > a {
    border-right: #2196F3 4px solid;
}

.skin-blue .sidebar-menu > li.active > a {
    background: #ecf1f5 !important;
    color: #555 !important;
}

.treeview-menu {   
    padding-right: 5px;
    line-height: 3 !important;
    font-size: 14px !important;
}

.skin-blue .sidebar-menu>li>.treeview-menu {
    background: #1d73bc !important;
}

.skin-blue .main-header .navbar .nav>li>a>i {
    color: #ffffff;
    background-color: none !important;
    border-radius: 12px;
}

.sidebar-menu{
    margin-top: 16px;
}


.sidebar-menu::-webkit-scrollbar{
    width:0%;
}

.skin-blue .main-header .logo {
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

.skin-blue .sidebar-menu>li>.treeview-menu {
    background: #1d73bc !important;
}

#RbtName {
    
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    /*width: 84% !important;*/
    /*width:auto !important;*/
    width: 130px !important;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2.6em;
    line-height: 1.8em;
    margin-left: 4px;
}
button#delete_Robot{
    font-size:12px !important;
}
.easy-autocomplete-container{
       z-index: 1000 !important;
   position: absolute !important;
   width: inherit !important;
}
.easy-autocomplete-container ul{
    list-style:none;
     margin: 0;
        padding-left:0px;
}
.easy-autocomplete-container ul li{
    list-style:none;
       
}
        .eac-item li{
   border-bottom:1px solid gray !important;
}
.eac-item{
   background-color:white !important;
   cursor:pointer !important;
   padding: 12px;
}
.eac-item:hover{
        background-color:#eeeeee !important;
    }  
.flag-user{
   content:url('../Views/dist/img/search-icons/man.svg') !important;
    
    height: 21px !important;
    width: 33px !important;
    padding-right: 8px !important;
    margin-left:12px;
}
.flag-robot{
   content:url('../Views/dist/img/robot.svg') !important;
   
      height: 21px !important;
   width: 37px !important;
    margin-left:12px; 
}
.flag-monitor{
      content: url( ../Views/dist/img/icons/dboard/monitor.png) !important;
    
    height: 21px !important;
    width: 23px !important;
    margin-left: 10px;
    padding-right: 12px !important;

}
.flag-project{
   content:url('../Views/dist/img/search-icons/folder.svg') !important;
    
      height: 20px !important;
    width: 37px !important;
    margin-left:7px; 
    
}
.flag-control{
      content: url( ../Views/dist/img/icons/dboard/controller.png) !important;
    
    height: 24px !important;
    width: 32px !important;
    margin-left:12px; 
    padding-right: 7px !important;

}
#myInput{    height: 38px !important;
    margin-top: 8px;} 



/*modifications from here*/


button#delete_Robot{
font-size: 18px !important;
    position: absolute !important;
    top: -1px !important;
    right: 48px !important;
}
button#delete_Connection {
    font-size: 14px !important;
    position: absolute !important;
    /* top: -1px !important; */
    right: 10px !important;
}
button#edit_Connection {
    font-size: 14px !important;
    position: absolute !important;
    /* top: -1px !important; */
    right: 48px !important;
}
/*#RbtName {
    vertical-align: middle;
}*/

.file-list li.Robot:before {
    margin-top: 1%;
}   