﻿
.switch_toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

    .switch_toggle input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider_toggle {
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider_toggle:before {
        border-radius: 10%;
        position: absolute;
        content: "";
        height: 22px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider_toggle {
    background-color: #2196F3;
}

input:focus + .slider_toggle {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider_toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#PropertyTable {
    font-size: 12px !important;
    border-spacing: 12px !important;
    border-collapse: collapse !important;
    height: calc(100% - 36px) !important;
    overflow-y: auto !important;
    display: inline-block !important;
    width: 100%;
    top: 36px;
    position: absolute;
    padding: 13px 15px;
}

.sidebar-menu::-webkit-scrollbar-thumb {
    background-color: #f6f6f6 !important;
}

.fa-ticket {
    margin-right: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1003 !important;
}

    .dropdown-content a {
        color: black;
        padding: 3px 16px;
        text-decoration: none;
        display: block;
        background: white;
        border-bottom: 1px solid #e2e2e2;
    }

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}

#actionsopen {
    height: calc(100% - 40px);
    overflow-y: auto !important;
    overflow-x: hidden;
    display: none;
    overflow: hidden !important;
    position: relative !important;
    top: 40px;
    z-index: 1003 !important;
    background-color: white;
    border: 0px solid #dfdfe0;
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.rightpanelcss {
    transform: rotate(90deg);
    transform-origin: left top 0;
    position: absolute;
    left: 100%;
    top: 9.85%;
    font-weight: normal;
    cursor: pointer;
    opacity: 1;
    padding: 5px 12px;
    color: #3f4d67;
    display: table;
    font-size: 14px;
    text-transform: uppercase;
}

#thumbtack-right, #thumbtack-left {
    transform: rotate(90deg);
}

.right-panel-header {
    background-color: #006dd5 !important;
    width: 100%;
    padding: 19px 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#right-panel {
    display: none;
    vertical-align: top;
    /*width: 18%;*/
    width: 320px;
    background: white;
    position: absolute;
    top: 0px;
    height: calc(100% - 30px);
    z-index: 1002 !important;
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

tbody tr td {
    /* font-size: 12px !important; */
}

#left-accordin-Panel {
    width: 350px;
    height: calc(100% - 48px) !important;
    position: absolute;
    top: 24px;
}

.activeClass {
    border: 0px solid bisque !important;
    border-radius: 3px;
}

#MainMenu {
    width: 25%;
    float: left;
    display: none !important;
}

#accordin-Menu {
    width: 75%;
    float: left;
    display: inline-block;
    height: 100% !important;
}

#middel-panel {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: calc(100% - 0px);
    margin: auto !important;
    height: 100% !important;
    background: #f4faff;
    /* border-bottom: 1px solid #fff; */
    left: 0px;
}

.actionOptionValue {
    width: 100% !important;
    background-color: white;
    border-bottom: 1px outset #00000014;
    position: relative;
    z-index: 1000;
    margin: 0px;
    color: #3f4d67;
    cursor: pointer;
    padding: 10px;
}

.ui-accordion .ui-accordion-content {
    padding: 1px;
}

#content {
    overflow-y: auto;
    /*width: calc(100% - 80px) !important;*/
    height: calc(100% - 92px) !important;
    white-space: nowrap;
    margin-left: 0% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    z-index: 0;
}

#myDiagramDiv {
    width: 100% !important;
}

    #myDiagramDiv canvas {
        width: 98.56% !important;
    }

.canvas-div {
    position: absolute;
    top: 38px;
    width: 100%;
    height: calc(100% - 38px);
}

.modal-footer {
    padding: 0px 15px 10px !important;
}

td, th {
    padding: 10px 4px;
    font-size: 16px;
    font-weight: 400;
}


#logfooter {
    background-color: white;
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 32px;
    width: calc(100% - 80px) !important;
    z-index: 1020;
    margin-bottom: 0px;
    margin-left: 0px;
}

.projectxplorer {
    border: 0px solid rgba(241, 241, 241, 1) !important;
    background-color: #fff0 !important;
    color: #777 !important;
    height: 0px;
    position: absolute;
    top: 0px;
    left: 8px;
    width: fit-content;
}

.ui-state-active {
    color: #333 !important;
}

.ui-state-default {
    background: #fff;
    color: #333;
    border-bottom: 1px solid rgba(241, 241, 241, .1) !important;
}

.ui-accordion .ui-accordion-header {
    padding: 0.5em .25em .25em .27em !important;
    font-weight: 400;
    font-size: 12px !important;
    border-radius: 0px !important;
    outline: none !important;
    font-family: 'Roboto', sans-serif !important;
}



.breadcrumb > li a {
    color: #0880e0 !important;
}

.breadcrumb > .active {
    color: #777 !important;
}

.back-button {
    box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);
    /* border-radius: 27px; */
    font-size: 14px !important;
    padding: 3px 6px;
    font-size: 12px;
}

    .back-button:hover {
        color: #3f4d67 !important;
    }

.variables {
}

.addVariables {
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%) !important;
    font-size: 12px;
    color: #FFF !important;
    border-radius: 27px !important;
    width: 24px;
    height: 24px;
}

.start {
    width: 24px;
    height: 24px;
}

.validate {
    width: 24px;
    height: 24px;
}

.save {
}

.reload {
}

.dropdown {
    display: inline-block;
}

#myDiagramDiv div {
    /*display: none !important;*/
}

.c1 {
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
}

.side-text {
    transform: rotate(90deg);
    transform-origin: left bottom 0;
    left: 0%;
    position: absolute;
    z-index: 1000;
    font-weight: normal;
    cursor: pointer;
    padding: 9px 12px 7px 12px;
    line-height: 14px;
    /* min-width: 100px !important; */
    text-align: center;
    display: table;
    font-size: 14px;
    text-transform: uppercase;
}



.fa-icon {
    color: white !important;
    position: relative;
}

.left-panel-header {
    background-color: #006dd5 !important;
    width: 100%;
    /* border-top-left-radius: 2px; */
    /* border-top-right-radius: 2px; */
    padding: 2px 10px;
    font-weight: 400;
}

#predefinedrobotsdiv h6, #customrobotsdiv h6 {
    text-align: center;
    text-transform: capitalize;
    word-break: break-word;
    white-space: normal;
}

fa-thumb-tack:after {
    content: "\f08d";
}

.projectxplorer {
    text-align: left !important;
}



/*mine*/

.middle {
    position: absolute;
    width: calc(100% - 90px);
    top: 24px !important;
    left: 0px;
    right: 0px;
    height: calc(100% - 48px) !important;
    margin: 0px auto;
    z-index: 1002;
    border: 0px solid rgba(0,0,0,.1) !important;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}

}



#myDiagramDiv {
    position: absolute !important;
    top: 0% !important;
    z-index: 1000;
}

    #myDiagramDiv canvas {
        position: absolute !important;
        left: 0% !important;
        top: 0% !important;
        z-index: 1000;
    }

.main-load {
    position: absolute;
    top: 0vh;
    height: 92vh;
    width: 102vw;
    left: -1%;
    background: #ffffffcf;
    overflow: hidden;
    z-index: 1004;
}


.wrap-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13vh;
    background: #fff0;
    top: 33vh;
    left: 50vw;
    position: absolute;
}

.loader-box {
    padding: 0px !important;
    min-height: 100px;
    box-shadow: none !important;
    border: 0px !important;
    background: none;
    border-radius: 0px;
    margin: 0px !important;
}

.loader {
    position: relative;
    width: 12rem;
    height: 0rem;
}

    .loader::before {
        z-index: 1;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 8.6956521739rem;
        height: 8.6956521739rem;
        background: #fff0;
        border-radius: 50%;
    }

    .loader .loader-box {
        position: absolute;
        width: 10rem;
        height: 0rem;
        overflow: hidden;
        z-index: 1;
    }

        .loader .loader-box::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            opacity: 0.1;
        }

        .loader .loader-box:nth-child(1) {
            top: -97px;
            left: -37px;
        }

            .loader .loader-box:nth-child(1)::before {
                top: 50%;
                left: 50%;
                background: #2a9bd5;
                -webkit-animation: lightMe1 2s ease-out infinite normal;
                animation: lightMe1 2s ease-out infinite normal;
            }

        .loader .loader-box:nth-child(2) {
            top: -97px;
            right: -42px;
        }

            .loader .loader-box:nth-child(2)::before {
                top: 50%;
                right: 50%;
                background: #2a9bd5;
                -webkit-animation: lightMe2 2s ease-out infinite normal;
                animation: lightMe2 2s ease-out infinite normal;
            }

        .loader .loader-box:nth-child(3) {
            bottom: -102px;
            left: 62px;
        }

            .loader .loader-box:nth-child(3)::before {
                bottom: 50%;
                right: 50%;
                background: #2a9bd5;
                -webkit-animation: lightMe3 2s ease-out infinite normal;
                animation: lightMe3 2s ease-out infinite normal;
            }

        .loader .loader-box:nth-child(4) {
            bottom: -102px;
            left: -37px;
        }

            .loader .loader-box:nth-child(4)::before {
                bottom: 50%;
                left: 50%;
                background: #2a9bd5;
                -webkit-animation: lightMe4 2s ease-out infinite normal;
                animation: lightMe4 2s ease-out infinite normal;
            }

    .loader .wrap-text {
        z-index: 2;
        position: absolute;
        top: 2px;
        left: 52%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
        overflow: hidden;
        background: #b3afae;
        border-radius: 50%;
    }

    .loader .text {
        position: relative;
        width: 80px;
        height: 80px;
        line-height: 80px;
    }

.loader-img {
    width: 50px;
}

.loader-text {
    color: #fff;
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    letter-spacing: 6px;
    opacity: .2;
    -webkit-animation: blink 0.4s ease-out infinite alternate;
    animation: blink 0.4s ease-out infinite alternate;
}

@-webkit-keyframes lightMe1 {
    0% {
        opacity: 0.1;
    }

    25% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes lightMe1 {
    0% {
        opacity: 0.1;
    }

    25% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes lightMe2 {
    0% {
        opacity: 0.1;
    }

    25% {
        opacity: 0.1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes lightMe2 {
    0% {
        opacity: 0.1;
    }

    25% {
        opacity: 0.1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes lightMe3 {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes lightMe3 {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes lightMe4 {
    0% {
        opacity: 0.1;
    }

    75% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes lightMe4 {
    0% {
        opacity: 0.1;
    }

    75% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slider {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10.5% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    12.5% {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px);
    }

    23% {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px);
    }

    25% {
        -webkit-transform: translateY(-160px);
        transform: translateY(-160px);
    }

    35% {
        -webkit-transform: translateY(-160px);
        transform: translateY(-160px);
    }

    37.5% {
        -webkit-transform: translateY(-240px);
        transform: translateY(-240px);
    }

    47.5% {
        -webkit-transform: translateY(-240px);
        transform: translateY(-240px);
    }

    50% {
        -webkit-transform: translateY(-320px);
        transform: translateY(-320px);
    }

    60% {
        -webkit-transform: translateY(-320px);
        transform: translateY(-320px);
    }

    62.5% {
        -webkit-transform: translateY(-400px);
        transform: translateY(-400px);
    }

    72.5% {
        -webkit-transform: translateY(-400px);
        transform: translateY(-400px);
    }

    75% {
        -webkit-transform: translateY(-480px);
        transform: translateY(-480px);
    }

    85% {
        -webkit-transform: translateY(-480px);
        transform: translateY(-480px);
    }

    87.5% {
        -webkit-transform: translateY(-560px);
        transform: translateY(-560px);
    }

    100% {
        -webkit-transform: translateY(-560px);
        transform: translateY(-560px);
    }
}

@keyframes slider {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10.5% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    12.5% {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px);
    }

    23% {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px);
    }

    25% {
        -webkit-transform: translateY(-160px);
        transform: translateY(-160px);
    }

    35% {
        -webkit-transform: translateY(-160px);
        transform: translateY(-160px);
    }

    37.5% {
        -webkit-transform: translateY(-240px);
        transform: translateY(-240px);
    }

    47.5% {
        -webkit-transform: translateY(-240px);
        transform: translateY(-240px);
    }

    50% {
        -webkit-transform: translateY(-320px);
        transform: translateY(-320px);
    }

    60% {
        -webkit-transform: translateY(-320px);
        transform: translateY(-320px);
    }

    62.5% {
        -webkit-transform: translateY(-400px);
        transform: translateY(-400px);
    }

    72.5% {
        -webkit-transform: translateY(-400px);
        transform: translateY(-400px);
    }

    75% {
        -webkit-transform: translateY(-480px);
        transform: translateY(-480px);
    }

    85% {
        -webkit-transform: translateY(-480px);
        transform: translateY(-480px);
    }

    87.5% {
        -webkit-transform: translateY(-560px);
        transform: translateY(-560px);
    }

    100% {
        -webkit-transform: translateY(-560px);
        transform: translateY(-560px);
    }
}

@-webkit-keyframes blink {
    from {
        opacity: .2;
    }

    to {
        opacity: .75;
    }
}

@keyframes blink {
    from {
        opacity: .2;
    }

    to {
        opacity: .75;
    }
}

#loader {
    display: none !important;
}

.connection {
    display: inline-block;
}

.plus {
    position: relative;
    right: 16px;
    cursor: pointer;
}

.db-ul {
    padding: 5px 20px;
}

.dbname {
    font-weight: 400;
    font-size: 16px;
}

.connection-sub {
    margin-top: 10px;
}

#OutputValue_length, #OutputValue_filter {
    display: none;
}

.tab1 {
    overflow: hidden;
    background: rgb(238, 239, 241) !important;
    border-bottom: 1px solid #efefef;
    position: absolute;
    width: 100% !important;
    z-index: 1050;
}

    .tab1 button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: default;
        padding: 5px 10px;
        transition: 0.3s;
        font-size: 16px;
        color: #3e3f40;
    }

        .tab1 button:hover {
            background-color: #e7f2ff;
        }

        .tab1 button.active {
            color: white;
            border-top-right-radius: 2px;
            background-color: #006dd5 !important;
        }

.tabcontent2 {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}


.right_panel_sub {
    position: relative;
    float: right;
    width: 30px;
    background: #ffffff;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    overflow: hidden;
}

.right_main-panel {
    float: right;
    left: 59%;
    height: calc(100% - 0px);
    width: 350px;
}

.accord_sub {
    position: relative;
    height: 100%;
    width: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 2px;
    overflow: hidden;
}


.right_header_text {
    position: relative;
    /* top: -32px; */
    /* left: -8px; */
    color: white;
    font-weight: 400 !important;
    font-size: 16px !important;
    margin: 0px;
}

div#myPropertiesDiv {
    height: calc(100% - 0px);
}

div#projectexplorer-panel {
    height: calc(100% - 24px);
}

button#edit_Robot {
    position: absolute;
    right: 12px;
}

b#ProjectBreadCrumb {
    font-weight: 500;
    color: #3f4d67;
    font-size: 14px;
}

ol.breadcrumb {
    padding: 0px;
}

.bread {
    display: inline-flex;
    align-items: center;
    height: 38px;
}

.col-sm-12.logfooter {
    position: absolute;
}

.ez-fa {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

    .ez-fa .tooltiptext {
        visibility: hidden;
        min-width: 70px;
        background-color: #1e2a41;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        font-family: 'Roboto', sans-serif !important;
        padding: 6px 8px;
        position: absolute;
        font-weight: 400;
        z-index: 99999;
        font-size: 12px;
        left: -30px;
        top: -30px;
    }

        .ez-fa .tooltiptext::after {
            content: "";
            position: absolute;
            transform: rotate(-45deg);
            left: 36px;
            top: 18px;
        }

    .ez-fa:hover .tooltiptext {
        visibility: visible;
    }

#versionsDisplay_wrapper table {
    width: 100% !important;
}

#PropertyTable td {
    font-size: 14px;
    display: block;
    max-width: 100%;
    margin: 0px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 15px;
    color: #1e2a41;
}

tbody#PropertiesBody, #PropertiesBody tr {
    width: 100%;
    display: block;
}

#PropertyTable td.col-sm-2 {
    padding: 8px 0px 0px !important;
}

#PropertyTable td, #PropertyTable th {
    padding-left: 0px !important;
    max-width: unset;
    padding-right: 0px !important;
}

li.Robot {
    margin-top: 5px;
}

#ServerDetailsPopuoSystem {
    padding: 0px !important;
}
.dataTables_wrapper .dataTables_scroll {
    overflow-x: scroll;
}
.dataTables_scrollHead, .dataTables_scrollBody {
    overflow:unset !important;
}
#ServerDetailsPopuoSystem th:nth-child(1), #ServerDetailsPopuoSystem td:nth-child(1) {
    width: 30px !important;
}

 

#ServerDetailsPopuoSystem th, #ServerDetailsPopuoSystem td {
    width: 130px !important;
    min-width: unset !important;
    font-size: 14px;
    padding: 10px !important;
    max-width: unset !important;
    display: flex;
}
#ServerDetailsPopuoSystem table thead tr, #ServerDetailsPopuoSystem table tbody tr {
    display: flex;
    width: 100%;
}


#footertoggle .tooltipicon::after, #footertoggle .tooltiptext::after {
    right: 18px !important;
    left: inherit !important;
 }

#footertoggle .tooltipicon, #footertoggle .tooltiptext {
    right: 1px !important;
        left: inherit !important;
 }
#footertoggle {
    position: fixed;
    right: 0px;
}

.fc-toolbar h2 {
    font-size: 16px !important;
    margin: 0;
}

.fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active {
    color: #fff;
    background-color: #006dd5;
    border-color: #006dd5;
}
.fc-button:hover, .fc-button:active, .fc-button.hover {
    background-color: #f4f4f400;
    color: #006dd5;
}

.fc-button-primary:disabled {
    color: #006dd5;
    background-color: #ffffff;
    border-color: #ffffff;
}

.fc-button-group > .fc-button:not(:last-child) {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.fc-button {
    background: #f4f4f400;
    background-image: none;
    color: #444;
    border-color: #ddd;
    border-bottom-color: #ddd;
    border-radius: 4px !important;
}

.fc-button .fc-icon {
    vertical-align: middle;
    font-size: 14px;
}

div#calendar {
    padding-bottom: 20px;
}
 #calendar {
    max-width: 900px;
    margin: 0 auto;
  }


#ScheduleModal .modal-dialog{
    min-width:800px !important;
}


#versions-panel table td, #versions-panel table th {
    padding: 10px 18px !important;
    font-size: 14px;
    font-weight: 500 !important;
}

th.propertiescaption {
    display: block;
    border-bottom: 1px solid #006dd5;
    margin: 10px 0px 5px;
    color: #006dd5;
    font-weight: 400;
}


tr.prop_tr:first-child .propertiescaption {
    margin-top: unset;
    border-top: unset;
}