@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

body,p,input {
    font-family: 'Montserrat', sans-serif !important;
color: #3f68b3;
}


body {
    color: #3f68b3;
    background-color: #f5f5f5;
    padding: 20vh 0vw;
    overflow:hidden;
}

#comment p{color: black}
       

 .container {
            position: relative;
            
             background:#f2f9ff;
    border-radius: 3px;
    box-shadow: 0px 1px 10px rgb(63, 104, 179);
height: auto;
padding:10px;
        }

        .row.style {
    width: 100%;
    /height: 60vh;
   
}

            .nav-fields{margin:0px;}


            .content-box{padding: 6px 12px;
    width: 100%;
   
            }

            .pad {
            padding:2px 8px;
        }

        .nav-tabs > li {
            width: 19.5%;
            white-space:nowrap;
        }


        .tandc{text-indent:2em;font-size:12px;text-align:justify;}
 
        #comment {
    border: 1px solid #dadada;
    height: 25vh;
    overflow: auto;
    border-radius: 3px;
    box-shadow: 0px 0px 2px;
    margin: 2px;
        width: 98%;
}

.sw-theme-arrows > ul.step-anchor > li.active > a:after {
      border-left: 30px solid #e3ecf9;
}

   .sw-theme-arrows > ul.step-anchor > li.active > a {
    border-color: #3f68b3 !important;
    color: #fff !important;
    background: #3f68b3 !important;
}

.sw-theme-arrows > ul.step-anchor > li.done > a {
    border-color: #3f68b3 !important;
    color: #eff3f5 !important;
    background: #3f68b3 !important;
}

.sw-theme-arrows > ul.step-anchor > li.done > a:after {
    border-left: 30px solid #3f68b3;
}


        .btn-success {
 
    margin-right: 5px;
    width: 80px;
    /* border-radius: 5px !important; */
}   

        .btn-next {
        color: #000000;
    background-color: #ffffff00;
    border-color: #000000;
    border-radius: 5px !important;
    margin:0px 10px;
}

.btn-next:hover {
    color: #000;
   
}


.sw-theme-arrows .step-content {
    padding: 0 0px;
    border: 0px solid #D4D4D4;
    background-color: #FFF;
    text-align: left;
    width: 100%;
    margin-top:0px;
}


.row{margin:0px !important}


.grdnt-next:not(.overly) {
            background-image: linear-gradient(45deg, #4CAF50 0%,#81C784 51%, #4CAF50 100%);
        color: #FFF !important;
    }

    .grdnt-back:not(.overly) {
        background-image: linear-gradient(45deg, #01398c 0%,#138ec4 51%, #386987 100%);
        color: #FFF !important;
    }

.grdnt-verify:not(.overly) {
	    background-image: linear-gradient(45deg, #FF9800 0%, #FFC107 51% , #FF9800 100%);
        color:white;

}
    
a[class*="grdnt-"]:hover, button[class*="grdnt-"]:hover {
    color: #fff;
    background-position: right center;
}
.btn[class*="grdnt-"] {
    -webkit-box-shadow: 0 10px 35px rgba(0,0,0,.2);
    -moz-box-shadow: 0 10px 35px rgba(0,0,0,.2);
    box-shadow: 0 10px 35px rgba(0,0,0,.2);
    min-width: 102px;
    border-radius: 3px;
}

.btn:focus{outline-style:none;}


div[class*="grdnt-"], section[class*="grdnt-"], 
footer[class*="grdnt-"], header[class*="grdnt-"], nav[class*="grdnt-"], 
a[class*="grdnt-"], button[class*="grdnt-"], div[class*="grdnt-"].overly:before,
section[class*="grdnt-"].overly:before, footer[class*="grdnt-"].overly:before, header[class*="grdnt-"].overly:before{
	transition: 0.5s;
	-webkit-transition:0.5s;
	background-size: 200% auto;
}

.btn[class*="grdnt-"]{
	-webkit-box-shadow: 0 10px 35px rgba(0,0,0,.2) !important;
	-moz-box-shadow: 0 10px 35px rgba(0,0,0,.2) !important;
	box-shadow: 0 10px 35px rgba(0,0,0,.2) !important;
    margin:0px 10px;
    border-radius:2px !important;
}

a[class*="grdnt-"]:hover, button[class*="grdnt-"]:hover{
	color: #fff;
	background-position: right center;

}

.setup-height {
    height: auto;
}

.sw-theme-arrows, .sw-theme-arrows > ul.step-anchor  {
    border: 0px solid #ddd;
}

.sw-theme-arrows > ul.step-anchor > li > a:before{
    border-left: 34px solid #ffffff;
}

input[type=checkbox], input[type=radio]{
        vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}


.sw-theme-arrows > ul.step-anchor > li > a{
    background: #e3ecf9;
}


.input1 {
    padding: 2px;
    margin: 0px 0;
    box-sizing: border-box;
    border: 1px solid #3f68b3;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgb(63, 104, 179);
}

input:-webkit-autofill::after{
    background-color: none !important;
    background-image: none !important;
 
}

.input2 {
    padding: 2px;
    margin: 0px 0;
    box-sizing: border-box;
    border: 0px solid #3f68b3;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgb(63, 104, 179);
}


.radio label{margin-right:10px}

.sw-theme-arrows > ul.step-anchor > li > a, .sw-theme-arrows > ul.step-anchor > li > a:hover {
    color: #3f68b3;
}

 .sw-btn-next , .sw-btn-prev,.sw-toolbar-bottom{
      display:none;
  }
  .sw-theme-arrows > .sw-container{
        min-height:0px !important;
  }

        .p1{font-size: 20px;margin-bottom: 0px}
       p{font-family: Calibri;text-align: justify}
       
       .dim{width: 100%;height:100%}
       
      @media only screen and (max-width: 420px) {
           .height{800px}
           
           
       }
        .sw-toolbar-top{
            display: none !important;
        }
        
         .sw-toolbar-bottom{
            width:100%
        }
        
        .sw-btn-group-extra{display: none !important}
        
        
        .btn-secondary {
    color: #fff !important; 
    background-color: #28a745 !important;
            border-color: #28a745!important;}
        .btn-secondary:hover{background-color: rgba(40, 167, 69,0.1) !important;
        color: #28a745 !important;}
       

        .input{width: 100%;}
       
        .top{margin-top:2%;}
        



             @media only screen and (max-width:1440px) and (min-width:1367px){
            body {
    padding:15vh 0%
}
               .sw-theme-arrows .step-content {
        height: 40vh !important;
    }

        }
                          @media only screen and (max-width:1600px) and (min-width:1441px){
            body {
    padding:20vh 0%
}

        }

@media only screen and (max-width:1024px) and (min-width:991px) {
    .sw-theme-arrows .step-content {
        height: 40vh !important;
    }
    body {
    padding: 15vh 0% !important;
}
}

@media only screen and (max-width:1152px) and (min-width:1025px) {
    .sw-theme-arrows .step-content {
        height: 40vh !important;
    }
    body {
    padding: 15vh 0% !important;
}
}

@media only screen and (max-width:1280px) and (min-width:1153px) {
    .sw-theme-arrows .step-content {
        height: 40vh !important;
    }
    body {
    padding: 16vh 0% !important;
}
}


@media only screen and (max-width:1366px) and (min-width:1281px) {
    .sw-theme-arrows .step-content {
        height: 40vh !important;
    }
    body {
    padding: 15vh 0% !important;
}
}

        @media only screen and (max-width:1200px){
.sw-theme-arrows > ul.step-anchor > li > a, .sw-theme-arrows > ul.step-anchor > li > a:hover{font-size:10px}


            .nav-tabs > li {
                width: 19%;
            }
        }


.p-headings{font-size: 16px;text-align: justify;margin: 4px 0px !important;}
.sw-theme-arrows .step-content{height:34vh; overflow:auto}

.p-sub p{font-size:10px;margin: 10px 0px;}

.step3-para {
    padding: 10px 0px;
}
.p-info{font-size:10px;margin-bottom: 0px;padding: 0px !important;}

     #fooForm1 label{
         font-size: 15px;
     }

     #fooForm3 .pad .run{font-size:13px}

     .hide-btn{
         height: 25px;padding: 0px 5px; margin-left: 5px;margin-top: 0px;
     }

   
 .display-none{
         display:none;
     }

     .display-initial{
         display:initial;
     }

     
::-webkit-scrollbar-track {
    border-radius: 42px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 42px;
    background: #9E9E9E;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}